[2015-11-20 08:55] waldekmastykarz opened #18 "Include Groups/Photo in Groups/Group documentation"
Given that retrieving Group's photo is a single Group operation rather than operation on the Groups collection, it would be more intuitive if the Get photo task was listed in the Groups/Group section.

[2015-11-20 09:01] waldekmastykarz opened #19 "Add /photo/$value sample"
Currently the [photo endpoint doc](https://github.com/OfficeDev/microsoft-graph-docs/blob/537d7b7f1071bdc54c746ded792da6b2316099a3/api-reference/v1.0/api/photo_get.md) include only the sample to get the photo metadata rather than the photo itself. It would be helpful to include a sample which shows how to retrieve the photo and get it displayed on the page. We could do it similarly to http://blog.

[2015-11-20 09:08] waldekmastykarz opened #20 "/joinedGroups endpoint returns 500 error"
If you try to call the `/v1.0/me/joinedGroups` endpoint you get a 500 Internal Server Error. Given that this endpoint is included in the `/v1.0/me` metadata you would expect it to work. If it's a known issue it should be listed as known issue in the documentation including the right way to retrieve user's groups.

[2015-11-20 12:05] waldekmastykarz opened #21 "Cannot retrieve group/unseenCount"
I've just noticed that although the **unseenCount** property is specified in Group's schema, it's not returned as a part of the `/v1.0/directoryObjects/<id>` request: either when requesting the complete group information or only the **unseenCount** property using the **$select** parameter. If this is a known limitation it would be helpful if it was mentioned in the documentation.

[2015-11-20 12:39] waldekmastykarz opened #22 "Invalid URL in the directoryObject/drive@odata.navigationLink property"
When requesting user's Groups using the `/v1.0/me/memberOf` endpoint, Groups represented by directoryObjects return invalid drive URLs in the **directoryObject/drive@odata.navigationLink** property such as `https://graph.microsoft.com/v1.0/directoryObjects/2a39e1d7-6d12-4a16-a486-70dedfb36a7e/microsoft.graph.group/drive`. If you try to access this URL you get the following error:

[code]

If you w

[2015-11-20 18:40] dkershaw10 commented on #22
Hi Waldek,
The problem here is that memberOf needs to return directoryObjects, because memberOf returns the user's group AND directory role memberships.  A better approach would be to use:
https://graph.microsoft.com/v1.0/me/memberOf/$/microsoft.graph.group?$filter=groupTypes/any(a:a%20eq%20'Unified') to get the Office365 groups the user is a member of (and specifically have content).  In this cas

[2015-11-20 18:55] waldekmastykarz commented on #22
Absolutely! The documentation should make it super obvious for everyone to use the new APIs and should mention any workarounds and recommendations for getting the most out of the APIs.

Regarding the request you mentioned, if I issue it using Postman in Chrome (or an Angular SPA) I'm getting the following error:

[code]

I have seen it working in the API Explorer but cannot get it to work with my

[2015-11-20 19:04] marych opened #23 "User/Photo/GetPhoto menu item linked to photo_get.md instead of profilephoto_get.md"
There is v1.0/api/photo_get.md and v1.0/api/profilephoto_get.md.

The navigation menu has profilePhoto and not photo resource (v1.0/resources/profilephoto.md), but the sub menu items refer to the photo and not profilePhoto APIs.
“Get photo” should be linked to v1.0/api/profilephoto_get and not v1.0/api/photo_get.

[2015-11-20 19:08] marych opened #24 "non-containment navigation POST requests don't use $ref in the url and have invalid sample payload."
See http://stackoverflow.com/questions/33831654/microsoft-graph-add-member-to-group-supported-on-contained-entities-error

v1.0/api/group_post_members.md
v1.0/api/device_post_registeredowners.md
v1.0/api/directoryrole_post_members.md
v1.0/api/group_post_owners.md

[2015-11-21 13:09] sumurthy commented on #18
That's  a good point. The grouping of "methods" today is based on where the API is available (collection or object) vs. where it should be listed. We are planning on re-arranging that to make it more easier to find.. in logical places. Thanks for your suggestion.

[2015-11-21 13:13] sumurthy commented on #19
+ @VenkatAyyadevara-MSFT @rohitag1

[2015-11-21 13:20] sumurthy commented on #20
@VenkatAyyadevara-MSFT @rohitag1

[2015-11-21 13:21] sumurthy commented on #21
@dkershaw10 @VenkatAyyadevara-MSFT @rohitag1

[2015-11-21 13:28] sumurthy commented on #23
driveItem has photo and that's what the photo_get is referring to. profilePhoto is coming form users, groups, etc.
The file names are based on the 'type' and not the name of the property.. hence photo* is from driveItem object.

[2015-11-21 13:28] #23 closed

[2015-11-21 13:48] waldekmastykarz commented on #18
You're welcome! I don't know if the system that you are using for publishing content from GitHub supports it, but it would be great if a single page could appear in multiple logical locations where the corresponding API can be used. This would allow for maintaining the content in a single place and reuse it across the different endpoints.

[2015-11-23 18:07] dkershaw10 opened #28 "Group calendar docs missing info on updating and deleting events"
Is this missing a set of links?

[2015-11-23 22:54] jthake opened #29 "H2 links in content pages have anchors"
It would be great to have <A name="section-title" /> HTML elements that are the same as the DIV ID elements so that you can reference particular parts of a page more easily in the graph.microsoft.io documentation. For instance I would like to be able to refer to the ODATA v4 query supported parameters but can only reference the page right now http://graph.microsoft.io/docs/platform/rest and not th

[2015-11-23 23:28] iambmelt opened #30 "Unrendered special chars in docs"
From https://graph.microsoft.io/docs/api-reference/v1.0/resources/event

<img width="1110" alt="screen shot 2015-11-23 at 3 25 20 pm" src="https://cloud.githubusercontent.com/assets/990063/11353313/e1798e1a-91f6-11e5-88aa-1250b0458d5f.png">

There are likely other pages with this problem.

[2015-11-23 23:42] LoungeFlyZ opened #31 "$filter params support not documented."
$filter only seems to support certain OData operations like startswith, but not many others.  It would be GREAT to have what operations are supported vs. the OData 4 specs so developers dont have to try each one out trail and error style.

[2015-11-23 23:43] iambmelt opened #32 "Location Resource properties don't match JSON, incomplete"
https://graph.microsoft.io/GraphDocuments/api-reference/v1.0/resources/location.htm

The object properties list three fields:
`altitude`, `latitude`,`longitude`

but the JSON has two different fields:

[code]

[2015-11-24 00:01] iambmelt opened #33 "Attendee Documentation missing fields"
I seem to recall that an [attendee](https://graph.microsoft.io/docs/api-reference/v1.0/resources/attendee) has an `EmailAddress` - it seems like quite a few fields are missing from the documentation of this object.

[2015-11-24 00:31] iambmelt opened #35 "DateTimeTimeZone Resource Type has incorrect property type"
<img width="956" alt="screen shot 2015-11-23 at 4 29 45 pm" src="https://cloud.githubusercontent.com/assets/990063/11354333/8e8f36c4-91ff-11e5-8327-906df17ce03e.png">

should be string

[2015-11-24 02:41] iambmelt opened #37 "graph.microsoft.com/v1.0/me/sendMail has case-sensitive JSON properties"
The provided sample JSON

[code]

yields

`400 BAD REQUEST`

[code]

but when `message` changes to `Message` it yields

`202 ACCEPTED`

[2015-11-24 13:31] waldekmastykarz opened #38 "Searching for files doesn't work"
If you try to search for files as described at https://github.com/OfficeDev/microsoft-graph-docs/blob/527af3eee77e575effdd7c5282876106a6e0984b/api-reference/v1.0/api/item_search.md you get the following `BadRequest` error:

[code]

This issue has been also reported on Stack Overflow at http://stackoverflow.com/questions/33878180/trying-to-get-sharepoint-file-using-microsoft-graph-api.

If this is

[2015-11-24 18:30] iambmelt opened #39 "Delete Group Documentation Missing Required Scopes"
https://graph.microsoft.io/docs/api-reference/v1.0/api/group_delete

![screen shot 2015-11-24 at 10 29 48 am](https://cloud.githubusercontent.com/assets/990063/11376567/5e2ae4be-9296-11e5-97f3-e4924b5ec73b.png)

[2015-11-25 14:56] Mike-Bell opened #42 "@content.downloadUrl property is missing"
http://graph.microsoft.io/docs/api-reference/v1.0/api/item_downloadcontent suggests that items have a @content.downloadUrl property. I have yet to see this property show up on any request I've made. I seem to remember it being present when using the onedrive API, so this is probably a copy/paste bug with the docs.

[2015-11-25 15:00] Mike-Bell opened #43 "Download content - CORS support?"
It seems that the call to download a file's content does not support cross-origin requests. The /content request results in a 302 (which the browser rejects in accordance with the CORS spec). It seems that the url that you are being redirected to doesn't support CORS anyway - so there's multiple layers of failure.

This seems like the same underlying issue as http://stackoverflow.com/questions/270

[2015-11-25 16:43] martellaj commented on #43
This is an issue that the OneDrive API team is already aware of. Thanks for the details!

[2015-11-25 16:46] Mike-Bell commented on #43
@martellaj Thanks for the response! Is this to imply that there is no known workaround for fetching a file's contents directly from browser-side JavaScript without resorting to proxying through a server?

[2015-11-25 16:49] martellaj commented on #43
Not that I know of right now. I've raised this issue before and know that most of the calls do work with CORS, but seems like there's a couple that slipped through the cracks. I'll report back when I hear more from the right people. 👍

[2015-11-26 01:33] martellaj commented on #28
Yes, I only see create and list events on the [group resource](http://graph.microsoft.io/docs/api-reference/v1.0/resources/group).

[2015-11-26 01:36] martellaj commented on #37
@VenkatAyyadevara-MSFT, should the field here be case insensitive or is capitalization required right now?

[2015-11-26 02:39] kachihro opened #45 "TASK resource type not operational without Planner"
The /tasks endpoint shows an error - either 404 or 'unknown segment'

This REST url doesn't work :
http://graph.microsoft.io/docs/api-reference/beta/api/task_list

Can you update the doco, to notify that this endpoint is reliants on the "PLANNER" functionality - which hasn't been rolled out across all tenants, as yet ?

Within our tenant (Australia), we haven't got this ability (PLANNER) - is is o

[2015-11-27 12:06] waldekmastykarz opened #47 "$orderby on /me/memberOf throws exception"
If you try to call `https://graph.microsoft.com/v1.0/me/memberOf?$orderby=displayName` you get the following exception:

[code]

According to the [documentation](https://github.com/OfficeDev/microsoft-graph-docs/blob/2dc2921de053bbe25d969fd7d5dee8cdea112ece/api-reference/v1.0/api/user_list_memberof.md#optional-query-parameters) using the $orderby option should be supported.

If this is a known lim

[2015-11-30 15:23] Mike-Bell commented on #43
Thanks @martellaj. If you happen to hear anything about whether or not this will be addressed at some point, I'd love to hear it. If there's some internal repository for third-party developer feedback, give this issue a big fat +1 from me :sweat_smile:

As you seem to appreciate, this is a pretty annoying limitation for people wanting to do modern web development against onedrive.

[2015-11-30 15:38] Mike-Bell opened #49 "Thumbnail documentation/api is confusing"
Several related things here. http://graph.microsoft.io/docs/api-reference/v1.0/api/thumbnailset_update lists several routes for updating a thumbnailset:

PATCH /drive/root/thumbnails/`<id>`
PATCH /drive/items/`<id>`/thumbnails/`<id>`
PATCH /drives/`<id>`/root/thumbnails/`<id>`

Two of these routes have... two ID parameters? Are those the same ID? Is one the item ID for the item that contains the t

[2015-11-30 23:27] marych opened #51 "driveItem.search function needs to be called with q parameter specified in parenthesis."
https://github.com/OfficeDev/microsoft-graph-docs/blob/master/api-reference/v1.0/api/item_search.md
Sample request: https://graph.microsoft.com/v1.0/drive/root/microsoft.graph.search(q='img')

[2015-12-01 00:29] angelgolfer-ms commented on #35
Updated datetimetimezone.md.

[2015-12-01 00:29] #35 closed

[2015-12-01 02:51] #37 closed

[2015-12-01 02:58] angelgolfer-ms commented on #37
Please feel free to reopen this issue for Venkat to confirm.
I fixed the case for the 2 body parameters of sendmail in the syntax and example sections. Just like property names in a JSON request body, body parameters are case-sensitive. Looks like all action body parameters for MS Graph are upper camel case.

[2015-12-01 03:07] #39 closed

[2015-12-01 16:26] martellaj commented on #51
Thanks for reporting the issue, @marych.

@mimisasouvanh, can you follow up with the OneDrive folks and see if this is a bug in the API, i.e. should you be able to use that endpoint as documented or if it's a documentation bug? Thanks!

[2015-12-01 16:27] martellaj commented on #47
Thanks for the feedback, @waldekmastykarz!

@dkershaw10, do you know if orderBy is supported yet?

[2015-12-01 16:29] martellaj commented on #42
@Mike-Bell, thanks for the feedback!

@mimisasouvanh, can you please confirm whether or not `item` should have the `@content.downloadUrl` property or not?

[2015-12-01 16:30] martellaj commented on #51
Looks like this was already confirmed by Marek on [Stack Overflow](http://stackoverflow.com/questions/33878180/trying-to-get-sharepoint-file-using-microsoft-graph-api).

[2015-12-01 16:39] martellaj opened #53 "Response for item search contains a OneDrive link"
Looks like the response in [item_search](https://github.com/OfficeDev/microsoft-graph-docs/blob/master/api-reference/v1.0/api/item_search.md) has a OneDrive URL in the sample response for the `@odata.nextLink` property. Assuming this is a copy and paste error and a new response needs to be generated here.

[2015-12-01 16:41] martellaj commented on #38
Thanks for the feedback, @waldekmastykarz. I think this is a dupe of issue #51. Closing this because I already made the fix in PR #52. If you're running into a different issue, please reopen and provide some more details.

[2015-12-01 16:41] #38 closed

[2015-12-01 16:42] martellaj commented on #33
Thanks for the feedback, @iambmelt. :sheep:

@VenkatAyyadevara-MSFT, can you confirm this?

[2015-12-01 16:45] martellaj commented on #29
Probably a good thing to have.

@sumurthy, do you think this is something that can be added during generation? I'm not sure how the MD to HTML conversion tool works enough to know if it would support HTML tags in Markdown.

[2015-12-01 16:46] martellaj commented on #24
Can you provide more details here? That Stack Overflow link is bad.

[2015-12-01 16:49] martellaj commented on #20
@waldekmastykarz, can you tell me where you see /joinedGroups as part of the /v1.0/me metadata? I think `/v1.0/me/memberOf`is what you're looking for.

[2015-12-01 17:54] mimisasouvanh commented on #51
Hi @martellaj, I have confirmed that the search path should be using the OData syntax and therefore should be GET /drive/root/microsoft.graph.search(q='vacation'). I will update the documentation now.

[2015-12-01 17:56] martellaj commented on #51
@mimisasouvanh I already did so for ya! Just take a look at the PR and merge if you see no issues. :vertical_traffic_light:

[2015-12-01 18:04] mimisasouvanh commented on #51
Since a PR is open for this, I'm closing this issue.

[2015-12-01 18:04] #51 closed

[2015-12-01 18:23] iambmelt commented on #39
Thanks @angelgolfer-ms ! :+1:

[2015-12-01 19:58] waldekmastykarz commented on #20
It's listed in the metadata if you request `/v1.0/me` with the `Accept: application/json;odata.metadata=full` header

[2015-12-01 20:09] dkershaw10 opened #54 "Create groups is not exposed in the online web docs"
Although there is a Groups_post_groups.md topic, it's not referenced by the online docs.  We don't mention anywhere how to create a new group

[2015-12-01 20:11] dkershaw10 opened #55 "Group topics need more information on O365 groups"
In the group creation API and group resource topics, there are some explicit mentions that Microsoft Graph only allows creation of security groups, which is incorrect.  This may appear in some of the other group topics too.

[2015-12-01 20:19] martellaj commented on #55
Can you give us more information about which groups *can* be created? I think this was taken from the [Azure docs](https://msdn.microsoft.com/en-us/Library/Azure/Ad/Graph/api/groups-operations).

[2015-12-01 20:22] dkershaw10 commented on #55
Security groups, unified (O365) groups and dynamic groups.  For the last 2 see the groupTypes property.  Also securityEnabled should not be set when creating an O365 group.  Does that help?

[2015-12-01 20:25] martellaj commented on #20
I passed this along to the dev team and will let you know when I hear something. Thanks very much for the feedback!

[2015-12-01 20:30] martellaj commented on #54
So [this](https://github.com/OfficeDev/microsoft-graph-docs/blob/master/api-reference/v1.0/api/group_post_groups.md) is the topic that isn't exposed, right? That's the same topic that needs to be updated with respect to issue #55, right?

[2015-12-02 03:03] iambmelt opened #56 "Create Event documentation has malformed example URLs"
See screencap below - note the stray pipe (`|`) and `>` characters

<img width="943" alt="screen shot 2015-12-01 at 6 59 50 pm" src="https://cloud.githubusercontent.com/assets/990063/11521094/0734fcf8-985e-11e5-82ac-a2b65bf368f9.png">

[2015-12-02 03:17] martellaj commented on #56
I don't see what you're seeing. the `|

[2015-12-02 05:13] iambmelt commented on #56
@martellaj Ooooh! I was thrown off by this syntax; adding additional lines to the example may be more clear.

[code]

[2015-12-02 05:51] iambmelt opened #57 "Missing Required Parameters for /calendarView"
http://graph.microsoft.io/docs/api-reference/v1.0/api/user_list_calendarview lists no required parameters but requires a `StartDateTime` & `EndDateTime` - we should also document what time format to use (eg `ISO 8601`, `RFC 2822`, etc)

[code]

[2015-12-02 09:47] marych commented on #24
It looks like the Stack Overflow question got deleted along with my answer.

A sample POST request using a non-containment navigation/link would be:
POST https://graph.microsoft.com/v1.0/groups/gid/members/$ref
{
 "@odata.id" : "https://graph.microsoft.com/v1.0/users/uid"
}

Dan already fixed that one (group_post_members.md), but there are others, e.g. device_post_registeredowners.md, device_post_

[2015-12-02 11:24] gustavo1891 commented on #51
This URL form will search OneDrive and SharePoint both?  does something need configured in Sharepoint, nothing seems to be found using this format of the URL.  (in my test setup)

[2015-12-02 18:13] Mike-Bell opened #59 "Chunked/large file uploads unavailable?"
http://graph.microsoft.io/docs/api-reference/v1.0/api/item_uploadcontent Specifies that 4MB is the max file upload size support by *this method*. The OneDrive API supports larger file uploads via a chunked upload mechanism: https://dev.onedrive.com/items/upload_large_files.htm. I was hoping that the unified API would support this feature, but attempting to create an upload session gives me a `400:

[2015-12-02 18:43] mimisasouvanh commented on #59
Hi Mike,
Thanks for the comments! The plans to support chunked uploads is in our backlog. I'll update the docs to specifically state that chunked uploads is not yet available.

[2015-12-02 18:47] marych commented on #51
/drive/root/microsoft.graph.search - SharePoint
/me/drive/root/microsoft.graph.search - OneDrive

[2015-12-02 18:54] mimisasouvanh commented on #53
Fixed.

[2015-12-02 18:54] #53 closed

[2015-12-02 18:55] Mike-Bell commented on #59
Thanks!

[2015-12-02 19:44] #59 closed

[2015-12-02 19:50] mimisasouvanh commented on #42
It should not. I'll make the correction.

[2015-12-02 23:17] iambmelt opened #60 "Incomplete path for <user>/notes/resources/<resource_id>"
<img width="918" alt="screen shot 2015-12-02 at 3 04 07 pm" src="https://cloud.githubusercontent.com/assets/990063/11547247/6cf74790-9907-11e5-82d1-21449199b72f.png">

Per docs @ http://graph.microsoft.io/docs/api-reference/beta/api/resource_get

[code]

yields

`401 Unauthorized`

<img width="913" alt="screen shot 2015-12-02 at 3 04 18 pm" src="https://cloud.githubusercontent.com/assets/990063/11

[2015-12-02 23:18] iambmelt commented on #56
@martellaj - if we're happy with this and the auto-generated docs are formatted as expected feel free to close this issue.

Thanks! :+1:

[2015-12-02 23:23] #60 closed

[2015-12-02 23:39] martellaj commented on #56
That's good feedback, @iambmelt.

@sumurthy, @yinaa - do you think we should add the extra lines to make the paths a little clearer? Hard for me comment since I'm so used it by now.

[2015-12-03 00:58] sethgr commented on #56
As long as adding lines doesn't bloat the topic too much**, I think that this is a good change to make in the name of making it easier for users to understand.

**If there are topics that have a great deal of paths, then adding new lines could get a bit out of control.

[2015-12-03 03:06] #55 closed

[2015-12-03 03:10] angelgolfer-ms commented on #54
@yinaa - I updated the group_post_groups topic per #55. Please add that topic to the TOC.

[2015-12-03 04:47] yinaa commented on #54
Fixed, both (a) and (b)

[2015-12-03 04:47] #54 closed

[2015-12-03 05:22] rgregg commented on #43
Hi Mike,

The URL that we redirect too is accessible via a browser because it doesn't require any custom headers (you don't need pass the authorization header to the final download URL). So once you can obtain the download URL directly (the URL that /content 302 redirects you to) then you're good to go.

When using the OneDrive API directly (instead of through Graph API) you can access this URL by

[2015-12-03 18:38] martellaj commented on #31
@siewmoi, do we know which operations are supported and which aren't? I agree with @LoungeFlyZ that this would be super beneficial for devs to see in the docs.

[2015-12-03 18:41] martellaj commented on #45
Hey, @kachihro, thanks for the feedback. I'm not :100:% sure on Planner roll out, but can you confirm that you were trying to access it via `beta` endpoint? Can you provide the whole request? Thanks!

[2015-12-03 21:49] Mike-Bell commented on #31
Not sure if it's worth making a whole new issue, but oData support in general seems pretty spotty and sometimes even inconsistent with the docs. For instance, this page http://graph.microsoft.io/docs/overview/query_parameters directly lists `https://graph.microsoft.com/v1.0/me/drive/root?$expand=children($select=id,name)` as a query to `only return the id and name properties of the children items`

[2015-12-03 23:48] CodeMoggy opened #61 "Incorrect URLs in Graph Docs"
It looks like the docs are wrong on the site:
https://graph.microsoft.io/docs

Examples still refer to items but should it not be children, e.g.

https://graph.microsoft.com/v1.0/me/drive/root/items/foo.txt/lastModifiedByUser
should be
https://graph.microsoft.com/v1.0/me/drive/root/children/foo.txt/lastModifiedByUser

[2015-12-04 01:01] mimisasouvanh commented on #61
Hi Richard, the call you are referring to must first GET the item (https://graph.microsoft.io/docs/api-reference/v1.0/api/item_get) and then use the OData query parameter _select_ to return the specific property you want from the item (http://graph.microsoft.io/docs/overview/query_parameters). It is not listing the children of an item. The call should be:
GET https://graph.microsoft.com/v1.0/me/dr

[2015-12-04 04:09] rgregg commented on #61
@CodeMoggy Yes, you have the right syntax there. You need to use /children or :/{filename}: to address a particular file inside a folder. The /lastModifiedByUser can work either the way you specified or the way @mimisasouvanh used it, depending on your goal. In Graph, doing /lastModifiedByUser will return the user principal information from the directory without returning any information about the

[2015-12-04 05:50] CodeMoggy commented on #61
In some examples (e.g. Excel REST API) I have seen the name of the file replaced by the id of the document. What is the correct syntax when using /children? Is it drive/root/children/564655GUTG/workbook/worksheet/ where 564655GUTG is the id of the document...are quotes or brackets required to identify the identifier as an id rather than the name of the document?
Thank you
On 4 Dec 2015 04:09, Ryan

[2015-12-04 06:02] rgregg commented on #61
If you have a file's ID, you should use /drive/items/{file-id} to access the item, and then use the Excel API from there.

If you have a filename and path, you can do it two different ways:
1. If the file is in a directory that's easy to access, you can do /drive/root/children/{filename}/workbook/worksheet
2. If the file path is known, you can do /drive/root:/path/to/file:/workbook/worksheet

No q

[2015-12-04 06:14] CodeMoggy commented on #61
Thanks Ryan
On 4 Dec 2015 06:02, Ryan Gregg <notifications@github.com> wrote:If you have a file's ID, you should use /drive/items/{file-id} to access the item, and then use the Excel API from there.

If you have a filename and path, you can do it two different ways:
1. If the file is in a directory that's easy to access, you can do /drive/root/children/{filename}/workbook/worksheet
2. If the file

[2015-12-04 13:26] waldekmastykarz opened #62 "Unclear how to use the orderby parameter with the calenderView endpoint"
According to the documentation the `calendarView` endpoint should support the `$orderby` parameter. If you however try to sort events by their start date, like `https://graph.microsoft.com/v1.0/me/calendarView?startDateTime=2015-12-04T12:11:08Z&endDateTime=2015-12-04T23:59:59Z&$select=Subject,Start,End,WebLink,IsAllDay&$orderBy=start`

you get the following error:

[code]

If you change the reques

[2015-12-04 13:40] Mike-Bell commented on #42
@mimisasouvanh To clarify, are you suggesting that the @content.downloadUrl property should be available? I've tried several things to retrieve this property and nothing has worked. It doesn't come back as part of any item I've retrieved, and doing an explicit $select for it gives an error. @rgregg confirms this here https://github.com/OfficeDev/microsoft-graph-docs/issues/43

[2015-12-04 21:07] mimisasouvanh commented on #61
Thanks for clarifying, Ryan! I checked the docs and made sure there weren't /items/{filename} in the documentation, and corrected the link in https://graph.microsoft.io/docs.

[2015-12-04 21:07] #61 closed

[2015-12-04 21:22] dkershaw10 commented on #47
This is not currently supported - we don't support further OData $ operators on the result of a navigation.  This is something we are working on.

[2015-12-04 21:36] dkershaw10 commented on #21
Filed an internal bug about unseenCount

[2015-12-04 21:38] dkershaw10 commented on #20
We filed an internal bug about /joinedGroups being visible in the full metadata response on /v1.0

[2015-12-05 04:18] angelgolfer-ms opened #64 "Should ONEDRIVE >> ITEM in the TOC display the driveitem resource topic?"
For both v1.0 and beta, currently clicking ITEM displays the drive resource type topic, as attached.

Looks like at one point there was an item.html per the link breadcrumb, and then that was deleted/renamed. Now ITEM in the TOC should be updated to display the driveitem resource topic?

![untitled](https://cloud.githubusercontent.com/assets/12191822/11605958/9b0037b0-9ac3-11e5-8afa-50a6f1dd4c9b.p

[2015-12-05 17:41] waldekmastykarz commented on #47
@dkershaw10 thank you for confirming

@martellaj how about we add this to the [documentation](https://github.com/OfficeDev/microsoft-graph-docs/blob/2dc2921de053bbe25d969fd7d5dee8cdea112ece/api-reference/v1.0/api/user_list_memberof.md) as a known limitation to avoid confusion?

[2015-12-07 16:29] martellaj commented on #47
@waldekmastykarz, that's definitely ideal, though difficult with the size of the API and the number of different workloads that are exposed. It's on our radar though, thanks again for the feedback!

[2015-12-07 20:19] marych opened #65 "Open type entity types have incorrect POST request payload samples"
The request object should not have any "entitytype" wrapping of all properties. I noticed it in the following files:
group_post_groups.md
user_post_users.md
device_post_devices.md
directoryrole_post_directoryroles.md

A sample group creation request is:
{
    "description": "description-value",
    "displayName": "displayName-value",
    "groupTypes": [
      "Unified"
    ],
    "mailEnabled": tr

[2015-12-07 20:51] martellaj commented on #65
Hey, @marych. Thanks for submitting the issue. Please include links to make triaging these a little easier.

I'm also confused about the `securityEnabled` bit. I thought @dkershaw10 [alluded that it is **not** required](https://github.com/OfficeDev/microsoft-graph-docs/issues/55) when creating a group, or did I misread that?

[2015-12-07 20:54] martellaj commented on #65
Okay, action items from this issue are:
* Remove the outlying JSON object from requests in creation examples
* Update the sample request for creating a group to exclude `mailEnabled` and include `secruityEnabled`

Does that look right, @marych?

[2015-12-07 20:56] marych commented on #65
Yes, the 2 actions items look right.

[2015-12-07 21:01] marych commented on #65
"mail" needs to be excluded rather than "mailEnabled". Other than that the 2 action items looks ok to me.

[2015-12-07 21:03] martellaj commented on #65
What `mail` are you talking about? `mailEnabled` and `mailNickname` are the two properties in the request, and both are required AFAIK.

[2015-12-07 21:33] martellaj commented on #65
I made the changes to the files you suggested, but have a couple open issues before closing this issue. I found similar cases in the following files, but unsure if that's how they work or not. @yinaa, @dkershaw10 - you might know better.

* [device_post_registeredowners](https://github.com/OfficeDev/microsoft-graph-docs/blob/master/api-reference/v1.0/api/device_post_registeredowners.md)
* [device_

[2015-12-07 21:43] dkershaw10 commented on #65
Don't set securityEnabled = true for an O365 group.  I guess the doc needs to be more explicit;)

[2015-12-07 22:18] iambmelt opened #66 "'Create calendarView' links to wrong documentation"
From http://graph.microsoft.io/docs/api-reference/v1.0/resources/user

Clicking 'create calendarView' takes you to the 'Create Event' documentation

![screen shot 2015-12-07 at 2 15 48 pm](https://cloud.githubusercontent.com/assets/990063/11641470/3d8a51ca-9ced-11e5-9c33-626e1d4c8db5.png)

![screen shot 2015-12-07 at 2 16 08 pm](https://cloud.githubusercontent.com/assets/990063/11641503/639350ba-9

[2015-12-07 22:45] iambmelt opened #67 "What is the expected DateTime format?"
http://graph.microsoft.io/docs/api-reference/v1.0/api/user_reminderview requires a start & end time as params - what is the expected number format? The answer to this question likely affects https://github.com/OfficeDev/microsoft-graph-docs/issues/57

[2015-12-07 22:52] martellaj commented on #66
Looks like the link is correct, but the topic is not. @angelgolfer-ms, do you have documentation on dev.outlook.com for creating a calendarView that you can port over? Am I right in saying that the only things that need to be updated here are the topic title and description?

[2015-12-07 23:06] iambmelt opened #68 "Documentation indicates single item /manager may be a collection type?"
Per [`GET` /manager](http://graph.microsoft.io/docs/api-reference/v1.0/api/user_list_manager)

If successful, this method returns a 200 OK response code and **collection** of directoryObject objects in the response body.

but the sample response yields a single object

[code]

my dev testing indicates this always returns a single `DirectoryObject` - can users really have multiple managers?

[2015-12-07 23:45] angelgolfer-ms commented on #65
Since securityEnabled is defined as a Boolean, it has to have a value either true or false. So I assume Dan's saying "don't set securityEnabled to true" == "set securityEnabled to false", and if we "don't set securityEnabled", it's by default true for a new group?

[2015-12-08 02:00] angelgolfer-ms commented on #66
I started an internal thread to get confirmation. Were you able to get the generated syntax to work? I didn't.

[2015-12-08 02:44] angelgolfer-ms commented on #67
@iambmelt, a teammate owns this, but I can give it a shot and suggest you try a dateTime string like "2015-11-08T19:00:00.0000000". Also specify a Prefer: request header and specify a time zone as the default time zone for the reminders in the response.

[2015-12-08 03:31] #57 closed

[2015-12-08 03:36] angelgolfer-ms commented on #67
@iambmelt, let me know if the updated content works.

[2015-12-08 17:40] mimisasouvanh commented on #64
An item in the graph model is represented by the driveItem resource. As not to be confusing, item will be documented, with driveItem the programmatic representation.

[2015-12-08 17:44] iambmelt commented on #57
Looks great - thanks @martellaj @angelgolfer-ms :+1:

[2015-12-08 17:44] iambmelt commented on #67
Looks great - thanks @angelgolfer-ms @martellaj :+1:

[2015-12-08 17:44] #67 closed

[2015-12-08 18:57] angelgolfer-ms commented on #64
@mimisasouvanh, can you work with @yinaa to have ONEDRIVE>>ITEM display driveitem.md, in both the v1.0 and beta portion of the TOC?

BTW, did you mean "with item the programmatic representation"? The MD file is named driveitem, but the title in that MD file is "item resource type".

[2015-12-08 19:00] waldekmastykarz opened #70 "No scopes are specified for the /groups/<id>/memberOf endpoint in the documentation"
The [documentation](https://github.com/OfficeDev/microsoft-graph-docs/blob/c4a5dbb50c5c6945a2fb721bc95afdec74ee450c/api-reference/v1.0/api/group_list_memberof.md) doesn't specify which scopes are required to call the **/groups/&lt;id&gt;/memberOf** endpoint.

[2015-12-08 19:16] waldekmastykarz opened #71 "Retrieving the list of Office 365 Groups throws an error"
If you try to retrieve the list of Office 365 Groups as specified in the [documentation](https://github.com/OfficeDev/microsoft-graph-docs/blob/c4a5dbb50c5c6945a2fb721bc95afdec74ee450c/content/overview/overview.md) you get the following error:

[code]

Request:
[code]

Access token scopes: **Directory.Read.All Group.ReadWrite.All User.Read**

[2015-12-08 19:38] waldekmastykarz opened #72 "Trying to get attachments from a Group post returns an error"
Trying to get attachments from a Group post using the following request as described in the [documentation](https://github.com/OfficeDev/microsoft-graph-docs/blob/c4a5dbb50c5c6945a2fb721bc95afdec74ee450c/api-reference/v1.0/api/post_list_attachments.md):

[code]

returns the following error:

[code]

Access token scopes: **Directory.Read.All Group.ReadWrite.All User.Read**

[2015-12-08 21:29] iambmelt opened #73 "'Get Drive' doesn't document what Drive is retrieved by which calls"
From [here](http://graph.microsoft.io/docs/api-reference/v1.0/api/drive_get).

The drives returned by these calls are different, but the documentation doesn't clarify *why* they are different and *which* they actually are. Are they owned by me? My org? My tenant? How do I get which?

**GET /drive**
`GET https://graph.microsoft.com/v1.0/drive`
[code]

----

**GET /users/id/drive**
`https://graph.mi

[2015-12-08 22:45] CodeMoggy opened #74 "What should $count return"
What should $count return?

https://graph.microsoft.io/docs/overview/query_parameters

I was expecting a number / size but the response returns a paged collection.

https://graph.microsoft.com/v1.0/me/contacts?$search=Arkle&$count

[2015-12-08 23:45] #66 closed

[2015-12-09 16:13] martellaj commented on #73
I think @mimisasouvanh will have the best understanding of the drive business. :dragon_face:

[2015-12-09 16:14] martellaj commented on #72
@waldekmastykarz continuing to kill the issue game. Thanks for the feedback!

@dkershaw10, @yinaa - is this operation supported right now?

[2015-12-09 16:16] martellaj commented on #70
I'm assuming it's `Group.Read.All`. @dkershaw10, can you confirm that? I'll update the documentation when I get confirmation.

[2015-12-09 16:18] waldekmastykarz commented on #70
:+1:

[2015-12-09 16:18] waldekmastykarz commented on #72
:+1:

[2015-12-09 17:36] iambmelt commented on #73
@martellaj Thanks :+1:

@mimisasouvanh as an additional note: I suspect the final call (which returns `401`) could be a service bug. Is this expected behavior?

[2015-12-09 17:48] martellaj opened #75 "Permission scopes are documented that don't exist in Azure Management Portal"
I noticed that in our [permission scopes](http://graph.microsoft.io/docs/authorization/permission_scopes) topic, there is a line in the "App-only permissions requiring administrator's consent" table that calls out "Read all users' basic profiles" which is not actually listed an available app-only permission.

Is the documentation wrong or is it a bug with the portal?

[2015-12-09 18:20] mimisasouvanh commented on #73
/drive should always return the metadata for that drive, which represents a SharePoint document library or a user's OneDrive. To get the metadata for drive in OneDrive, you call /me/drive, although /users/{user-id}/drive should work, but not users/me/drive. I'll fix the docs to add this information.

[2015-12-09 18:24] iambmelt commented on #73
@martellaj Was using the [REST Explorer](https://graphexplorer2.azurewebsites.net/) - sounds like @mimisasouvanh knows what's up. :grinning:

[2015-12-09 18:29] iambmelt commented on #30
Although this is a tooling issue - as a follow up, the [Message docs](http://graph.microsoft.io/docs/api-reference/v1.0/resources/message) have this too.

![screen shot 2015-12-09 at 9 48 49 am](https://cloud.githubusercontent.com/assets/990063/11694573/ac92f48c-9e5f-11e5-8da2-3b2694aec789.png)

[2015-12-09 20:45] dkershaw10 opened #76 "Webhook notifications payload"
Looks like there's /beta documentation for creating and viewing subscriptions, but nothing about what the notification to the registered webhook looks like.  Can we add that please?

[2015-12-10 08:39] marych commented on #57
StartDateTime and EndDateTime should be passed as query parameters and not in parenthesis, i.e. calendarView?startDateTime=startDateTime-value&endDateTime=endDateTime-value instead of calendarView(startDateTime=startDateTime-value, endDateTime=endDateTime-value)

The info about required query parameters was added to https://github.com/OfficeDev/microsoft-graph-docs/blob/master/api-reference/v1.0/a

[2015-12-10 09:37] davidsteinsland opened #77 "Examples in documentation does not work"
From: http://graph.microsoft.io/docs/overview/query_parameters

Response:

[code]

`https://graph.microsoft.com/v1.0/me/contacts?$search=startswith(displayName,'Garth')` gives:

[code]

So exactly how is filtering supported?

[2015-12-10 18:27] iambmelt commented on #57
@marych

I've seen in the documentation for [ReminderView](http://graph.microsoft.io/docs/api-reference/v1.0/api/user_reminderview) that the params are documented as being parenthetical (as opposed to query) - is this also a bug? Are both equivalent / legal?

/cc @martellaj @angelgolfer-ms

[2015-12-10 19:31] marych commented on #57
ReminderView is a function and has the parameters explicitly defined in the schema/$metadata, so it uses the OData notation with parenthesis (http://docs.oasis-open.org/odata/odata/v4.0/errata02/os/complete/part1-protocol/odata-v4.0-errata02-os-part1-protocol-complete.html#_Toc406398353). CalendarView is a navigation property and OData doesn't allow any parameters for navigation properties, so the

[2015-12-11 05:00] angelgolfer-ms commented on #76
@martellaj , do you own the docs for notifications on MS Graph?

[2015-12-11 12:14] davidsteinsland opened #78 "Mobile phone in contact does not show"
I've tried POST and PATCH with `mobilePhone` but it does not show in Outlook People.
If I edit the contact in Office 365, and use `GET` to retrieve the contact, there's no `mobilePhone` entry.

Also: Under https://graph.microsoft.io/docs/api-reference/v1.0/resources/contact
you list `mobilePhone` as a valid key. But in the example JSON structure at the bottom, it says `mobilePhone1`.

[2015-12-11 17:13] martellaj commented on #77
Thanks, @davidsteinsland. This is an area we need to document more clearly. @dkershaw10, can you shed light on the filtering?

[2015-12-11 17:14] martellaj commented on #76
@angelgolfer-ms Yep. This came in super hot for Connect(). I'll add it to my backlog. :nail_care:

[2015-12-11 17:19] martellaj commented on #74
Thanks for the feedback, @CodeMoggy. I've confirmed with Graph Explorer that using `$count` doesn't seem to change the request at all (at least with `/contacts`, which is what our documentation uses as an example.

@dkershaw10, @yinaa - is this expected behavior and a bug in the docs or a bug in the service?

[2015-12-11 17:26] martellaj commented on #71
The documentation says to use `'` instead of `%27`. It looks like the encoding of the apostrophe isn't supported to me. If you try the same request with apostrophes (from the docs), it should work fine.

@yinaa - should both work here? I'd assume if we use the encoding for space, that the encoding for apostrophe should work fine.

[2015-12-12 12:45] waldekmastykarz commented on #71
The trouble with it is that tools like Postman automatically encode all special characters which makes it impossible to use non-encoded quotes. So when testing the Microsoft Graph with it, the first impression is that the API isn't working.
I can't tell to what extent developers on the different platforms can control encoding in the URLs of web requests but it seems that it would be the best to su

[2015-12-12 14:36] justinyoo opened #80 "App-only model walkthrough"
Hi, Team.

When I did some research for Graph API, I could hardly find app-only samples while there are hundreds of sample apps using delegated permissions scope (requires users to sign in first). Therefore, I'd built a sample Web API app as App-only model and created a walkthrough document.

Would you mind me sending a pull request for this?

Cheers,
Justin

[2015-12-12 15:57] martellaj commented on #80
Hi, @justinyoo. We have a topic on this already in the pipeline (actually already in the joem-app-only branch on this repo). Please feel free to take a look and let me know what you think. It should be available on the website sometime next week.

[2015-12-12 16:01] martellaj commented on #71
Completely agree, especially when encoding a space works as well. Yina should be able to provide some insight here.

[2015-12-12 21:21] justinyoo commented on #80
Hi, @martellaj Thanks for your comment. The difference between `service_or_daemon.md` in the `joem-app-only` branch and mine is that mine uses ADAL and actual ASP.NET 5 sample code. Could you have a look at my one, [AspNetWebApiAppOnly.md](https://github.com/justinyoo/microsoft-graph-docs/blob/master/content/walkthroughs/AspNetWebApiAppOnly.md), before I send a pull request?

[2015-12-12 22:53] martellaj commented on #80
Well the idea is to keep the topic as generic as possible so someone could write a service app in any language (for example, the sample I wrote that my topic uses is written in Node). Once I get my sample more polished, I'll update the topic to use that code, but at the end of the day, it's all REST based and does not require ADAL or ASP.NET features.

I think having multiple samples that demonstr

[2015-12-13 21:38] justinyoo commented on #80
@martellaj I agree that the topic should be generic for apps in any language. I also agree the idea that multiple demo code samples for different platforms might be necessary. Actually, I brought up my sample app and demo code based on the current documents in the [Platform specific walkthroughs](https://graph.microsoft.io/docs/platform/rest) section.

It would be great if you have a discussion wi

[2015-12-13 23:19] kachihro commented on #45
![image](https://cloud.githubusercontent.com/assets/16025947/11770175/25296328-a24c-11e5-994d-ce0a744fce56.png)

[2015-12-13 23:19] kachihro commented on #45
![image](https://cloud.githubusercontent.com/assets/16025947/11770179/2e72cd2a-a24c-11e5-8a1c-ad236d9639e8.png)

[2015-12-13 23:20] kachihro commented on #45
URL...>    https://graph.microsoft.com/beta/tasks

[2015-12-14 16:12] htryggva opened #81 "Filtering with umlaut and other unicode characters"
How can I formulate an OData query against the graph which contains non-english characters such as Germanic Umlauts and other characters from the Latin-1 Supplement (http://unicode-table.com/en/blocks/latin-1-supplement).

Could you please add some documentation on this topic?

Example:
I have a user in my tenant with the name Thomas Müller. If I query for

[code]

then I get

[code]

but if I sea

[2015-12-15 08:58] scordonnier opened #83 "Could not find a property named 'businessPhones' on type 'Microsoft.OutlookServices.Reminder'"
If you try to get reminders using the following URL, you get an **Unsupported segment type** error :

https://graph.microsoft.com/v1.0/me/microsoft.graph.reminderView?startDateTime=2016-01-01T00:00:00&endDateTime=2016-01-31T23:59:59

I tried to use another URL but with the same result :

https://graph.microsoft.com/v1.0/me/reminderView?startDateTime=2016-01-01T00:00:00&endDateTime=2016-01-31T23:59

[2015-12-15 09:19] scordonnier opened #84 "Invalid URL in driveItem@odata.id / The resource could not be found"
If you try to get drive items using https://graph.microsoft.com/v1.0/me/drive/root/children, then you will see that each item has an @odata.id like :

[code]

If you try to access this URL, then you will receive an error message : **The resource could not be found**

This URL seems to be invalid and should be :

[code]

[2015-12-15 10:08] angelgolfer-ms commented on #83
@scordonnier, reminderview is a function. It is different from calendarview in one way - the reminderview parameters should be enclosed in parentheses, and not as query parameters. Please take a look at the "HTTP Request" section in http://graph.microsoft.io/docs/api-reference/v1.0/api/user_reminderview.

[2015-12-15 10:21] scordonnier commented on #83
I tried with https://graph.microsoft.com/v1.0/me/microsoft.graph.reminderView(endDateTime='2016-01-31T23:59:59',startDateTime='2016-01-01T00:00:00') but I receive this error :
[code]

[2015-12-15 18:03] rgregg commented on #84
Hi @scordonnier. This is a known issue we're tracking and are working on a fix to return a valid URL for @odata.id. In the mean time you can use the id property to construct a URL as you mentioned.

[2015-12-15 18:45] martellaj commented on #80
Hey, @justinyoo. So just wanted to loop you in to what we've been thinking. Community samples are a new space for us and we're working on a plan to effectively leverage what the community has to offer. Thanks again for taking initiative here; while we won’t accept your sample today, we’ll plan to reach out to you when we have a plan in place and operational. I’ll close the issue out for the time b

[2015-12-15 18:45] #80 closed

[2015-12-15 19:30] scordonnier opened #85 "Mail attachment / Maximum request length exceeded"
I'm trying to add an attachment to a mail but I receive the following error :

[code]

It seems that the problem appears if the file size exceeds 3MB.

I tested to do the same thing with Outlook API and there's no problem with a 22MB file.

[2015-12-15 23:46] angelgolfer-ms commented on #83
Did you verify the reminderView function call successfully returned you a collection of reminders? Just based on the error message, I am guessing somewhere, maybe from that function call, you're indeed able to access some reminder object. Are you trying to get the businessPhones property off the reminder object, as that error message says? The reminder object doesn't contain that property - see ht

[2015-12-16 07:34] marych commented on #83
The last syntax is correct and the call fails because of a bug in the service. I'm working on a fix for it.
As a temporary workaround that function can successfully be called on the /beta version: https://graph.microsoft.com/beta/me/microsoft.graph.reminderView(endDateTime='2016-01-31T23:59:59',startDateTime='2016-01-01T00:00:00')

[2015-12-16 08:45] estruyf opened #86 "Filter events by start and end date gives an error"
If you want to filter events by including the start and end date property it gives and error:

[code]
Used API endpoint: https://graph.microsoft.com/v1.0/me/events?$filter=Start/DateTime+ge+'2015-12-14T00:00:00Z'+and+End/DateTime+lt+'2015-12-28T00:00:00Z'

Using only the start or end date is working fine. Also including something else than the end/datetime like for example the subject is working f

[2015-12-16 09:09] estruyf opened #87 "Creating a subscription requires a HTTPS notificationUrl endpoint"
During the registration process of my subscriptions (webhook) I received the following message:

[code]
In the end it was because I did specify a HTTP endpoint instead of HTTPS. If it is required that the notificationUrl need to use an HTTPS endpoint, the error should be a bit clearer.

[2015-12-16 11:04] marych commented on #86
Thanks Elio for reporting the issue. I'm working on a fix for it.

[2015-12-16 14:28] martellaj commented on #85
@angelgolfer-ms, is this a known issue? Either way, looks like we should add a note in the attachment documentation that the limit is 3MB (I can't find it if it's there).

[2015-12-16 14:29] martellaj commented on #87
@estruyf, thanks for the feedback. We can definitely add a note in the documentation to make it clearer that the endpoint needs to be HTTPS. I will also pass this along to the devs about providing a better error with the API. Thanks!

[2015-12-16 14:32] martellaj commented on #87
@garethj-msft, can you pass this along to the right PMs please?

[2015-12-16 14:35] martellaj commented on #81
@garethj-msft, is this a limitation with the service? If so, we'll looking to adding a note that these types of characters are unsupported.

[2015-12-16 15:20] estruyf opened #88 "Removing the internal subscription endpoint from the error messages"
At the moment when you do an operation that is not yet implementation on the subscription endpoint, you get to see the internal used endpoint. Like for example if you try a patch request on the subscription API you get to see the following message:

[code]

Best to update the message with operation not yet implemented.

[2015-12-17 21:05] garethj-msft commented on #87
That would be me :-)

[2015-12-17 22:17] marych commented on #86
The issue has been fixed.

[2015-12-17 22:17] #86 closed

[2015-12-17 22:31] marych commented on #83
The issue has been fixed.

[2015-12-17 22:31] #83 closed

[2015-12-17 22:50] iambmelt opened #89 "'Get Item' doesn't document how to specify the target drive"
From: [here](http://graph.microsoft.io/docs/api-reference/v1.0/api/item_get)

As we know, users can have multiple `drives` - their individual drive, their org drive, a Group drive, etc.

Per the documentation linked above, there are 3 ways to request items from a drive:

[code]

How do I specify which drive id to use?

[2015-12-17 23:08] iambmelt commented on #89
This lack of clarity exists around multiple `drive`-based actions, for instance...

"How do I specify which drive contains the thing...."

[...I'm creating?](http://graph.microsoft.io/docs/api-reference/v1.0/api/item_post_children)

[...I'm updating?](http://graph.microsoft.io/docs/api-reference/v1.0/api/item_update)

[...I'm deleting?](http://graph.microsoft.io/docs/api-reference/v1.0/api/item_de

[2015-12-18 04:53] rgregg commented on #89
In Graph API right now, the only drive available for a user is the user's OneDrive for Business, which is at `/me/drive`. You can also access the drive for a Group by addressing the group and then the drive, like `/groups/{group-id}/drive`.

Basically, you can use `/drive` in the Graph API from anything that has a drive, which today is users and groups.

I'll see how we can update the docs for thi

[2015-12-18 22:16] garethj-msft commented on #87
We have a fix for this and other error messages in the works.

[2015-12-19 07:15] angelgolfer-ms commented on #85
@scordonnier , thank you for your patience. I got confirmation that at this point, when using the Microsoft Graph endpoint, there is a 4MB limit on the size of a request. Creating an attachment or updating a user photo of size 3MB+ would put one close to that limit.

[2015-12-19 07:54] scordonnier commented on #85
Thanks for you reply @angelgolfer-ms

Does this limit will be increased/removed in the future, to be aligned with Outlook API ?

[2015-12-19 08:31] angelgolfer-ms commented on #85
The engineering teams are looking into this again. If there is a change, we will post an update. Thank you for raising this issue.

[2015-12-21 19:09] Mike-Bell opened #90 "Search is significantly out of sync with reality"
From my testing, the results obtained by searching, as described here http://graph.microsoft.io/docs/api-reference/v1.0/api/item_search can be ~5 minutes out of sync with reality (e.g. if I create or delete a file, the search might not reflect this for a few minutes). I assume it's still being indexed or something.

It would be nice if this weren't the case, but otherwise it should probably be not

[2015-12-21 19:13] Mike-Bell opened #91 "Drives endpoint returns errors"
I can obtain my drive information via `https://graph.microsoft.com/v1.0/me/drive`. If I turn around and call `https://graph.microsoft.com/v1.0/drives/<drive_id>` using the ID I just obtained, I get

[code]

`https://graph.microsoft.com/v1.0/drives` also returns this error (though I'm not sure if that call should work - it's not documented).

[2015-12-21 20:40] rgregg commented on #91
I wasn't able to reproduce this behavior. To make sure I have the right repo, can you confirm this is what you're doing:

1. Make a request to GET https://graph.microsoft.com/v1.0/me/drive and receive drive properties, including a drive ID (looks something like `b!t18F8ybsHUq1...`.
2. Take this drive ID and feed it back into a request to GET https://graph.microsoft.com/v1.0/drives/{drive-id}.
3. R

[2015-12-21 21:02] Mike-Bell commented on #91
@rgregg yea those are indeed my repro steps. For good measure, I tried it with another user's drive that I know I can access via users/id/drive. The tenant I'm using for this is tscdev.

[2015-12-29 12:22] scordonnier opened #92 "Group Conversations / The specified object was not found in the store"
I'm trying to create a conversation into a group and there's no problem to do it.

But if I want to immediatly use (e.g. reply to the conversation) the ID of the conversation returned by the server, then I receive the following error message:

[code]

It seems there's a latency between the creation of an ID and the possibility to use it because if I wait for 5 seconds before to use it, then the er

[2015-12-29 12:45] scordonnier opened #93 "Post ID is not returned when creating a new conversation"
If I create a conversation with the following JSON request...

[code]

... then I receive the following response from the server:

[code]

The response is not exactly the same as mentioned in the documentation (http://graph.microsoft.io/docs/api-reference/v1.0/api/group_post_conversations) but that's not my issue, even if it's good to be noted ;-)

Because the initial JSON message contains a conve

[2016-01-04 16:33] Mike-Bell commented on #43
@rgregg Any update by chance on pure-javascript content downloading?

[2016-01-04 18:26] rgregg commented on #43
Hi Mike. We've got a bug tracking this issue and I'm working to get an ETA for it being resolved. December tends to be a pretty slow month for bug fixes and deployments, so I'm expecting to see this get resolved quickly now that it's Jan. I'll ping back here with more information when I have it.

[2016-01-04 21:59] #70 closed

[2016-01-05 01:46] dkershaw10 commented on #77
Thanks for reporting this @davidsteinsland. So the first query is supported (tried it myself and it works fine).  Will look up the error trace and see what the logs indicate for your request. For the second, I'm not sure that you can use startswith syntax with $search.  I think startswith is a $filter expression only.

[2016-01-05 01:57] dkershaw10 commented on #77
@davidsteinsland:
Just took a look at the logs.  GET https://graph.microsoft.com/v1.0/users?$filter=startswith(displayName,'Garth') should work fine.  However the logs indicate that your query was GET https://graph.microsoft.com/v1.0/contacts?$filter=startswith(displayName,'Garth').  I don't believe $filter is supported on contacts.  Our OData operator support is not consistent across the entity s

[2016-01-05 02:48] angelgolfer-ms commented on #72
I ran into a similar issue as well. Pinged the product team again. Will post back after they verify. Appreciate your patience, @waldekmastykarz.

[2016-01-05 12:33] ErezSha opened #94 "/manager endpoint returns Forbidden"
When I send a GET to https://graph.microsoft.com/v1.0/users/<user_id>/manager,
 I get an error Forbidden (403).
error: {
  code: Authorization_RequestDenied,
  message:"Insufficient privileges to complete the operation",
  request-id:"06bbc4f9-8100-444d-b203-cbbb83ceb216"
}

I checked the scopes of the token I send with the request and it answers the scopes prerequisites of this endpoint.

What el

[2016-01-05 16:30] martellaj commented on #94
Hey, @ErezSha. I wasn't able to repro this issue. Can you give me a little more info? What permissions do you have set for your app specifically?

[2016-01-05 18:10] rgregg commented on #91
Thanks Mike. Looking into this, it appears as though there's an authentication issue. Is the drive-id you are trying to access in the same tenant as the logged in user? Would it be possible for you to capture a fiddler trace of the whole repo and send it to me?

[2016-01-06 00:37] marych commented on #94
I checked in the logs that the permissions/scopes were: Device.ReadWrite.All, Group.Read.All, Directory.Read.All, User.Read.All.

[2016-01-06 02:23] marych commented on #94
Also note that this is app-only auth flow.

[2016-01-06 02:27] dkershaw10 commented on #94
@ErezSha Can you try this again please? It looks like we had a regression.  This*should* be fixed now.

[2016-01-06 10:19] ErezSha commented on #94
@dkershaw10 It's working now. Thanks.

[2016-01-06 10:19] #94 closed

[2016-01-06 13:57] ErezSha opened #96 "$expand unexpected behavior"
Trying this: graph.microsoft.com/**beta**/users?$expand=manager,memberOf
returns 400:
{
  code:"BadRequest",
  message: The result of parsing $expand contained at least 2 items, but the maximum allowed is 1.
}
According to the docs: (http://graph.microsoft.io/docs/overview/query_parameters)
$expand: Comma-separated list of relationships to expand and include in the response.

Also,
Trying this: gr

[2016-01-06 13:58] greenjimll opened #97 "Graph API doesn't provide access to external ICS calendars."
I [asked on Stack Overflow](http://stackoverflow.com/questions/34272118/handling-external-internet-ics-calendar-urls-using-microsoft-graph-api) how to use the Graph API to handle external calendars that are made available via ICS based URLs.  The response was that this is not currently possible, but it has been requested by others.

It might be worth mentioning in the **api-reference/v1.0/api/cale

[2016-01-06 14:08] greenjimll opened #98 "Graph API does not support client credential OAuth2 flow to process Group Calendar events"
I've been using Graph API using the client credential OAuth2.0 flow (as this is being run as a daemon process for all our tenants, rather than as an app that individual users sign into).  I found that I couldn't use the calendars with unified groups though, and a [Stack Overflow discussion confirmed that it is not currently possible, but is on the roadmap](http://stackoverflow.com/questions/340415

[2016-01-06 15:13] JanDoggen opened #99 "Exchange Web Services returns MeetingTimeZone TimeZoneName consisting entirely of &#x0;"
We have a customer where several `GetItem` SOAP calls to Exchange Web Services return XML containing:

[code]

The returned server version is:

[code]

I have no idea how those appointments get into their calendar.

FWIW, here is the full XML returned:

[code]

[2016-01-06 16:35] martellaj commented on #76
@estruyf took care of this in ac7b814.

[2016-01-06 16:35] #76 closed

[2016-01-06 19:14] unpluggedk opened #100 "sendMail example request is confusing (perhaps incorrect)"
The example request seems to indicate that there is already an attachment to the message by having the following within the request body.

   "attachments": [
      {
        "lastModifiedDateTime": "datetime-value",
        "name": "name-value",
        "contentType": "contentType-value",
        "size": 99,
        "isInline": true,
        "id": "id-value"
      }

However, per document, attach

[2016-01-06 19:15] unpluggedk opened #101 "Create attachment missing how to attach on fly"
Related to issue #100

Missing a way of specifying how to create attachment on the new message that is not stored in outlook.

[2016-01-06 19:17] unpluggedk commented on #100
It is also missing
"@odata.type": "#Microsoft.OutlookServices.FileAttachment",

and doesn't specify what is required and what is optional.

[2016-01-06 19:24] unpluggedk commented on #100
just a note with contentBytes,
"lastModifiedDateTime", "contentType", "size", "id" is not needed.

[2016-01-06 19:27] unpluggedk opened #103 "sendmail response is incorrect"
It currently says 200 as following, but should be 202 (accepted).

Response
If successful, this method returns 200, OK response code. It does not return anything in the response body.

[2016-01-06 21:32] Mike-Bell commented on #91
@rgregg I captured the relevant 2 calls. Capturing the auth steps is somewhat non-trivial since I'm relying on adal.js, but the trace does of course contain my access token which you can decode and inspect. However, I feel like pasting all this on a public forum is probably not appropriate, and my brief googling of you didn't reveal an email address. Do you have some channel via which I can delive

[2016-01-06 21:59] rgregg commented on #91
I sent you an e-mail. If you want feel free to update your comment and remove your e-mail address now.

[2016-01-07 04:46] #97 closed

[2016-01-07 04:49] angelgolfer-ms commented on #97
@greenjimll , thank you for your suggestion. I added a note about this to the release notes, which will be refreshed on http://graph.microsoft.io/docs/overview/release_notes in the next short while.

[2016-01-07 05:04] angelgolfer-ms commented on #72
@waldekmastykarz, we verified there was a bug, the fix has already started rolling out to customers, and will be widely available in about 4 weeks. Thanks for keeping an eye out on customers having similar questions on this too!

[2016-01-07 05:04] #72 closed

[2016-01-07 18:39] #103 closed

[2016-01-07 18:40] martellaj commented on #103
Thanks, @unpluggedk. There were a number of issues with that one. :dancers:

[2016-01-07 18:41] martellaj commented on #100
@angelgolfer-ms, you're more familiar with the Outlook API. Can you please take a look at this sample request/response when you get a chance? Thanks!

[2016-01-07 18:42] martellaj commented on #99
Hey, @JanDoggen - sorry you're having issues. Can you please verify if you're using the Microsoft Graph API though?

[2016-01-07 18:44] martellaj commented on #98
Thanks for the suggestion, @greenjimll!

@dkershaw10, we should talk about messaging here.

[2016-01-08 14:12] JanDoggen commented on #99
I'm not sure actually. I put this question up on StackOverflow and somebody suggested it is a bug to report here ("All o365 services including EWS is part of graph api for o365"). I'm doing raw SOAP calls from a Delphi program to the online Exchange web server at https://outlook.office365.com/ews/exchange.asmx

[2016-01-09 08:39] angelgolfer-ms commented on #28
Yes, I think get an event, update event and delete event are applicable to group events as well, but are not shown in the TOC. I'll get them added to the TOC.

[2016-01-11 22:04] angelgolfer-ms commented on #28
Close this issue for now, with the current design.

[2016-01-11 22:04] #28 closed

[2016-01-12 22:34] angelgolfer-ms commented on #100
@unpluggedk , thank you for your patience. I am checking with the product team about this issue. I'll post back after verifying.

[2016-01-19 17:16] Benjpoirier opened #105 "Inconsistant unseenCount value"
I try to get unseenCount property from /beta/groups/<id> and the value is not returned. I have to specify a $select property to get it. The value returned is the same for all my team mate and is not equal to outlook groups notifications.
i would like to know if this feature is in developement ?

[2016-01-19 17:21] martellaj commented on #105
Thanks for the feedback, @Benjpoirier. I think @dkershaw10 will be able to provide more insight on the feature than I can. :+1:

[2016-01-21 15:54] pschaeflein commented on #32
I have two different events. The location for one is a conference room found in the address book. The location result for that event:

[code]
The second event has a location that was typed, instead of selected from the address book. The result for that event:

    "location": { "displayName": "MPR 2" }

[2016-01-22 15:57] Mike-Bell opened #107 "Uploading files to a folder shared to you in ODFB fails"
I am able to upload files to folders in my OneDrive (for business) just fine using the methods documented here http://graph.microsoft.io/docs/api-reference/v1.0/api/item_uploadcontent. E.g. `PUT https://graph.microsoft.com/v1.0/users/<myUserId>/drive/root:/<someFolderPath>/<someFileName>:/content` (for good measure, I've actually used all three methods listed there).

As soon as I try to upload to

[2016-01-22 20:54] Mike-Bell commented on #42
@martellaj Did we prematurely close this? I still have never been able to get a @content.downloadUrl out of the graph API, despite it being "supported" (I'm not sure to what extent it is supported - it seems like it's not at all). This seems to be confirmed here https://github.com/OfficeDev/microsoft-graph-docs/issues/43. Maybe I'm being a stickler, but I'm trying to keep track of unresolved issue

[2016-01-22 21:34] martellaj commented on #42
@mimisasouvanh, @rgregg - can you help update @Mike-Bell on the status of this? Looks like there was a bug introduced between the time Mimi and Ryan answered. Thanks, all!

[2016-01-22 23:12] gregorydrake opened #108 "App-Only Mail Subscriptions"
The documentation on this has been scarce, but is Graph capable of handling an app-only subscription request?

Currently, I am working on a daemon for grabbing inbound and outbound mail from Office 365, but was unsure if the new Graph api could handle performing app-only subs, or if I needed to stick with Outlook's API's notification system for now.

[2016-01-22 23:27] garethj-msft commented on #108
As of Jan 16, the subscriptions preview doesn't handle AppOnly.  We're currently working on when we'll have it available, but for now, you'd need to use the underlying Outlook notifications until we do.

[2016-01-22 23:31] #108 closed

[2016-01-24 17:06] thibnes opened #109 "Adding FileAttachment to an event is not working?"
Hello,

when I try to add a file attachment to an existing calendar event I got a 201 response. However the file is not showing up on the calendar event when I browse to https://outlook.office365.com/...

Here is an exemple of the code I used:

[code]

[2016-01-25 16:37] Mike-Bell commented on #43
I'm pretty sure that doesn't make it accessible via browser. Not having custom headers means you don't need a preflight. You still need to follow the rest of the spec though (i.e. access-control headers on the response). I bring this up because I changed my implementation such that my JS goes to my server for the downloadUrl, then follows the return pre-authenticated download url client side. I'm

[2016-01-25 21:41] gregorydrake commented on #108
Okay!  Thanks for responding. I'm looking forward to seeing this potential feature in the future.

On Jan 22, 2016, at 5:31 PM, Joe Martella <notifications@github.com<mailto:notifications@github.com>> wrote:

Closed #108<https://github.com/OfficeDev/microsoft-graph-docs/issues/108>.

—
Reply to this email directly or view it on GitHub<https://github.com/OfficeDev/microsoft-graph-docs/issues/108#ev

[2016-01-26 04:37] rgregg commented on #42
There is still a bug that @content.downloadUrl isn't returned. The bug is being actively worked on by engineering right now, so this shouldn't be closed out yet.

[2016-01-28 16:59] narsenault commented on #91
I'm experiencing the same issue, has any progress been made with this?

[2016-01-28 18:10] rgregg commented on #91
@narsenault Can you post the error message you're seeing please?

[2016-01-28 18:23] narsenault commented on #91
@rgregg I'm using https://graphexplorer2.azurewebsites.net
GET request to https://graph.microsoft.com/v1.0/drive

Response:
{
    "error": {
        "code": "InternalServerError",
        "message": "Invalid cast from 'System.String' to 'Newtonsoft.Json.Linq.JObject'.",
        "innerError": {
            "request-id": "c5a04dbd-ee08-4e03-b962-d96b0264604e",
            "date": "2016-01-28T18:22:0

[2016-01-28 19:59] rgregg commented on #91
That may be expected because you didn't include a user context. To get to a user's OneDrive, you need to include the user in the path:

`GET https://graph.microsoft.com/v1.0/me/drive`
or
`GET https://graph.microsoft.com/v1.0/users/{upn}/drive`

[2016-01-28 20:29] narsenault commented on #91
@rgregg Gotcha, okay. Bit of a misleading error message. Thanks for the assistance

[2016-01-29 16:10] pschaeflein opened #112 "Documentation bug: Conversation resource type"
https://graph.microsoft.io/en-us/docs/api-reference/beta/resources/conversation

The description of the "id" property states that this is the group's unique identifier.However, it is actually the conversation's unique identifier.

[2016-01-29 16:59] martellaj commented on #112
Nice catch. Thanks, @pschaeflein!

[2016-01-29 16:59] #112 closed

[2016-01-31 10:29] ErezSha commented on #91
I'm having a bit different issue.
I'm also getting an Internal Server Error, but a different one:
[code]
The endpoint I'm trying is: `https://graph.microsoft.com/v1.0/users/{user_id}/drive`
(I know the user_id is correct and the token is fine because `https://graph.microsoft.com/v1.0/users/{user_id}/manager` works).

[2016-02-01 16:51] apulliam opened #114 "Bug in Microsoft Graph API - me/drive/root/children"
I was working with our O365-Angular-Microsoft-Graph-Snippets sample and discovered what looks like a bug in the Files API.  When I setup the sample, I forgot to provision the application for any Graph API permissions in the Azure portal.

However, instead of getting a permission error when I tried to retrieve my files, I got hack a 200 success, but with no files:

GET me/drive/root/children
  "sta

[2016-02-02 09:44] davidsteinsland opened #115 "Refresh Token Expiration"
By the looks of it, the response from the authorization server does not include an expiration date/time for the refresh token.

The response contains (among others):

[code]

These are the expiration times for the access token.

The `access_token` and `id_token` properties are JSON Web Tokens, and contains the same expiration times in their `iaf`, `nbf` and `exp` properties.

So what about the ref

[2016-02-04 22:03] IcyCaster opened #116 "Start and End response objects."
Is "Prefer | outlook.timezone="Pacific/Auckland" not working for creating a calendar event?

The response object I get back is always in UTC time for the Start and End DateTimeTimeZones, even though I specified "Pacific/Auckland".

Is this a bug or is it yet to be implemented...?

[2016-02-05 01:37] angelgolfer-ms commented on #116
Hi @IcyCaster, the Prefer: outlook.timezone header is for only GET, not POST. When you are creating an event, set the time zone in the Start and End properties which are of the DateTimeTimeZone type.
I clarified in the topic about this. Thanks for bringing this up! Close #116.

[2016-02-05 01:37] #116 closed

[2016-02-05 15:31] Mike-Bell opened #117 "Share With Everyone?"
I'd like to use the API to share a folder I've created with everyone in my ODFB org. Like this:

![image](https://cloud.githubusercontent.com/assets/8780033/12850279/e2788020-cbf1-11e5-97dc-da1b7f1d97af.png)

After looking through the documentation, I see no clear way to do this.

I'm not sure if this documentation is relevant: http://graph.microsoft.io/en-us/docs/api-reference/v1.0/api/permission

[2016-02-05 17:37] Schweigi opened #118 "cTag documentation for folders is misleading"
From the [DriveItem](https://github.com/OfficeDev/microsoft-graph-docs/blob/master/api-reference/v1.0/resources/driveitem.md#properties) resource documentation:

Chapter **Properties** - `cTag`:
[code]

This means that the cTag is not returned for folders. But just at the very end of the **Properties** chapter is the following text:

[code]

This indicates that there indeed should be a cTag for fo

[2016-02-05 17:41] Schweigi commented on #118
I would like to add that a cTag for folders would indeed be very helpful and I hope you can bring this feature as written in the second part of the Properties documentation into the actual API implementation.

[2016-02-05 23:57] #100 closed

[2016-02-05 23:58] angelgolfer-ms commented on #100
@unpluggedk , sorry this took a while. I verified that sendmail does support including a file attachment. I clarified the support in the related content.

[2016-02-08 18:12] Mike-Bell commented on #91
@ErezSha Interesting. I'm able to to use `users/id/drive`. It's my current workaround for not being able to do `drives/id`

[2016-02-08 18:28] Mike-Bell commented on #91
@rgregg FWIW, I checked on this again, and at some point I started getting a new error:

[code]

To take a stab in the dark, I'd guess there's some string parsing error in the API. My user name is m.bell@o365.tsc-dev.co. It's coming back with `Invalid audience Uri 'https://o365.sharepoint.com/'.` whereas I'm pretty sure it wants `tscdev.sharepoint.com`.

[2016-02-08 18:33] rgregg commented on #118
Thanks for reporting this discrepancy @Schweigi. If you are accessing files from OneDrive Personal (the user logs in with a consumer account) then cTag is implemented for folders. However, the most common case is that a user is logged in with an Azure Active Directory account and accessing OneDrive for Business or SharePoint content, which does not currently have support for cTag. We know this is

[2016-02-09 03:35] IcyCaster commented on #116
Hi @angelgolfer-ms ,
I forgot to mention that I also included timezone in the Start and End properties as well.

### For example my POST request contains:

Start = new DateTimeTimeZone
                {
                    DateTime = DateTime.Now,
                    TimeZone = "Pacific/Auckland"
                }

### The model sent has values:
9/02/2016 **4**:00:00 **PM**
Pacific/Auckland

### H

[2016-02-09 21:32] Mike-Bell commented on #117
After some more digging, it seems like neither the graph API nor the OneDrive API support this functionality. I was forced to fallback to the SharePoint REST API http://sharepointfieldnotes.blogspot.com/2014/09/sharing-documents-with-sharepoint-rest.html.

My gripes about the permissions documentation are somewhat lessened when I realized that permissions only *really* exist on files. So getting p

[2016-02-10 00:15] angelgolfer-ms commented on #116
@IcyCaster , the Start and End values in the response should represent time in the Pacific/Auckland time zone. I just tried it on the v1.0 endpoint myself, please see attached Fiddler data, if that would help?
[Github_116_POST event time zone UTC.txt](https://github.com/OfficeDev/microsoft-graph-docs/files/123983/Github_116_POST.event.time.zone.UTC.txt)

[2016-02-10 05:16] LoungeFlyZ opened #119 "GET to microsoft.graph.getMemberGroups returning error with TODO message"
When doing a:

`GET https://graph.microsoft.com/v1.0/users/<User ID>/microsoft.graph.getMemberGroups`

It is correctly returning an error as it should be a POST. However, the error it is returning has "TODO" messages in it. Wot?

[code]

This looks like it shouldn't be the case.

[2016-02-10 15:47] michaelhoes commented on #107
I have exactly the same issue. is this a bug? When will it be fixed?

[2016-02-11 00:09] angelgolfer-ms commented on #119
@LoungeFlyZ , thank you for alerting us. I'll have the appropriate team follow up on this.

[2016-02-15 15:02] dang2906 opened #120 "POST request to group/threads/posts"
Hi When executing a post request as follows in order to create a new post in a thread:
https://graph.microsoft.com/beta/tenantid/groups/groupid/threads/threadid/posts

with the following body:
{
  "body": {
    "contentType": "html",
    "content": "This is a test"
  }
}

I am getting a 405 error

    "code": "ErrorInvalidRequest",
    "message": "The OData request is not supported.",

Is this an

[2016-02-16 05:22] angelgolfer-ms commented on #120
@dang2906, I'll verify with the product team. Meanwhile, would you mind trying "reply": http://graph.microsoft.io/en-us/docs/api-reference/v1.0/api/post_reply

[2016-02-16 08:27] dang2906 commented on #120
Thanks for your response. I will go ahead and use post reply in the meantime. Also it would be good to have filtering available on 'topic' for thread rather than just on 'islocked'. Many Thanks :)

[2016-02-16 09:53] adrichema opened #121 "From/EmailAddress/Address not working as expected"
I have the following issue when querying for email using the v1.0 or beta Graph API.

When I try to filter on the following property From/EmailAddress/Name+eq+'xxx xxxx' it works perfectly. The returned result set, displays the expected email address in the from object:  xxxx@mydomain.onmicrosoft.com

When I try to filter on the following property From/EmailAddress/Address+eq+'xxxx@mydomain.onmicr

[2016-02-17 05:20] angelgolfer-ms commented on #120
@dang2906 , FYI, I got confirmation that you cannot create a post as currently documented in http://graph.microsoft.io/en-us/docs/api-reference/v1.0/api/conversationthread_post_posts ( POST /threads/{id}/posts). Sorry for the confusion. I have already requested the topic to be removed from the TOC on the graph.microsoft.io site. I also clarified in the post resource topics the different ways that

[2016-02-17 05:20] #120 closed

[2016-02-17 08:33] dang2906 commented on #120
Thats great thanks :) i believe the topic filtering would be a great feature if it is possible. Also i have just inspected the documentation, and although Create Post has been removed from [http://graph.microsoft.io/en-us/docs/api-reference/v1.0/resources/post](url) it is still visible on the navigation bar on the left hand side. Thanks for your help :)

[2016-02-17 19:35] angelgolfer-ms commented on #120
Hi @dang2906 , you're very welcome! Yes, removing the item in the navigation bar is coming up. And meanwhile please bear with us while we work on streamlining the content update process :-)

[2016-02-18 08:56] dang2906 opened #123 "Non-Logged in user calendar events"
Is it possible to access other user's calendars? Using the examples at [http://graph.microsoft.io/en-us/docs/api-reference/v1.0/api/user_post_events](url) and [http://graph.microsoft.io/en-us/docs/api-reference/v1.0/api/user_list_events](url), i have attempted to access my colleagues calendar using the user principal name as suggested but i always get an 'Access Denied' error code. I have a requir

[2016-02-18 10:09] dang2906 commented on #123
I am attempting a work around creating an event in logged in user's calendar and inviting the other users as attendees, however, when i make the request i get a 'Bad Request' error because the Microsoft.Graph.AttendeeType.Optional enum is not translated properly and it sends it through as a numeric value of 1 when it requires a string value of "Optional".

[2016-02-18 11:37] dang2906 commented on #123
I have found a workaround for the enum issue. The full details can be found at [http://stackoverflow.com/questions/35478581/microsoft-graph-attendeetype-not-enumerated-correctly](url) however, i believe this needs addressing as it appears to be quite a major oversight when the coding library forces the use of an enum but the api requires a string value.

[2016-02-18 14:41] jincyabraham27 commented on #77
I am trying to filter the events from the calendar using the Microsoft Graph API.I want to use the startswith or ends with clause for filtering..for eg GET https://graph.microsoft.com/v1.0/me/events?$filter=endswith(subject,'code') and location/displayName eq 'Canada'.I get a bad request with the endswith and no data for location/DisplayName.So how is the filtering supported for events?

[2016-02-18 15:11] Siern opened #124 "GET /me/calendarGroup no longer works"
The call to get the default group suddenly began failing for me this week.
I have reproduced it using your Microsoft Graph Explorer.  So short of an account specific issue, I believe this API call is now broken.

test example:
https://graph.microsoft.com/v1.0/me/calendarGroup

response:
[code]

[2016-02-18 16:28] Siern opened #125 "graph.microsoft.io Overview/errors documentation is incorrect"
http://graph.microsoft.io/en-us/docs/overview/errors

This section documenting errors is apparently full of incorrect information when compared to what I have seen when interacting with the API.

However, the error is not always an object (as shown in your example below that text).  It sometimes comes as a string, to which this page does not even mention as a possibility.  While this is lovely in

[2016-02-18 20:32] sriram-d commented on #124
The name of the navigation property is calendarGroups and not calendarGroup (Refer to metadata at https://graph.microsoft.com/v1.0/$metadata or documentation at http://graph.microsoft.io/en-us/docs/api-reference/v1.0/api/user_list_calendargroups). Please try the request as https://graph.microsoft.com/v1.0/me/calendarGroups.

[2016-02-18 21:50] Siern commented on #124
While you are right it is no longer in the metadata.
But it seems to have been recently removed.
See documentation:
https://graph.microsoft.io/en-us/docs/api-reference/v1.0/api/calendargroup_get

As this is not the beta, it should not be subject to these types of changes!

Please note that the calendarGroup and calendarGroups are not the same.  The first was the default entity and the second is a

[2016-02-19 00:50] garethj-msft commented on #96
We have a fix in the works to remove this limitation.  At first you may see it replaced with a limit of two, and then shortly thereafter, removed entirely.

[2016-02-19 04:02] marych opened #126 "incorrect description and sample for the $count query parameter"
https://github.com/OfficeDev/microsoft-graph-docs/blob/master/content/overview/query_parameters.md indicates that $count parameter doesn't require any value whereas as per the spec (http://docs.oasis-open.org/odata/odata/v4.0/errata02/os/complete/part2-url-conventions/odata-v4.0-errata02-os-part2-url-conventions-complete.html#_Toc406398166) it does require true or false value.
The example should b

[2016-02-19 07:50] davidsteinsland commented on #115
Any update on this, @martellaj @dkershaw10?

[2016-02-19 09:06] thibnes commented on #109
My bad, setting the IsInline property to false solved my problem.

[2016-02-19 09:06] #109 closed

[2016-02-19 10:40] MiroJanosik opened #127 "OrderBy DESC is ignored on users.displayName"
OrderBy DESC in this formula https://graph.microsoft.com/v1.0/users?$orderBy=displayName%20desc is ignored, it shows items ordered ASC

[2016-02-19 10:53] MiroJanosik opened #128 "root EntitySets are selectable and filterable, but Annotations in $metadata say they aren't"
EntitySet users (and basically all EntitySets) is of type user which is based on type directoryObject.

This type is marked in Annotations as Filterable = false.
Though, it is posslbe to filter them if queried:
/users?$filter=startswith(displayName, 'John')

directoryObject is also marked as Selectable = false
Though, it is posslbe to select:
/users?$select=id,displayName

these inconsistencies sh

[2016-02-19 11:45] Siern commented on #115
I assume their intent is to remove mention of this property based on the document changes a Microsoft employee did last night.  They still missed the paragraph that mentions the property.  I would ask them if their intent is to remove this information, then how are we suppose to know when this token is expired.
At least they could explain what is the behavior of attempt to get an access token from

[2016-02-19 12:33] davidsteinsland commented on #115
Currently my best bet is that when I receive `400 Bad Request` on refreshing access tokens, I conclude that the refresh token itself has expired.

Though, I would not mind a clear documented behavior of this …

Here's a response from a failed refresh request:
[code]

[2016-02-19 18:32] marych commented on #124
As a note - calendarGroup has never been in v1.0 metadata. You're right that we should never remove anything from /v1.0 and we're very careful not to introduce any breaking changes to v1.0. This was a documentation issue only.

[2016-02-19 18:54] angelgolfer-ms commented on #124
Re-read my last check-in note, want to qualify "there isn't a concept of default calendar group _with respect to this API_" - the API in question do not differentiate the default calendar group from other calendar groups and you reference any of them the same way by indexing into the calendar groups collection.

[2016-02-19 18:54] #124 closed

[2016-02-19 20:08] marych commented on #96
@garethj-msft - the change you mentioned is already deployed and there is no longer a global limit for the number of expanded navigations. However, specific entities may still have limits and for users it is still limited to a single expanded navigation. That is not expected to change.

[2016-02-19 21:00] marych commented on #127
Thanks for reporting the issue. Sorting in descending order is not support, but should return an error message instead of ignoring the desc parameter. We'll fix that.

[2016-02-19 23:29] marych commented on #77
endswith is not supported for events, but startswith is. The following 2 work fine for me:
https://graph.microsoft.com/v1.0/me/events?$filter=startswith(subject,'code')
https://graph.microsoft.com/v1.0/me/events?$filter=location/displayName%20eq%20'Skype%20Meeting'

[2016-02-20 02:11] angelgolfer-ms commented on #96
@ErezSha , FYI I updated the query parameters topic to clarify the limits on expanding a collection. The [query_parameters.md file](https://github.com/OfficeDev/microsoft-graph-docs/blob/master/content/overview/query_parameters.md) in the repo already shows the updated content. The [topic](http://graph.microsoft.io/en-us/docs/overview/query_parameters) on the Microsoft Graph site will follow soon.

[2016-02-20 02:11] #96 closed

[2016-02-20 02:12] angelgolfer-ms commented on #126
@marych , thanks for pointing this out. FYI I updated the query parameters topic to clarify the use of $count. The query_parameters.md file in the repo already shows the updated content. The topic on the Microsoft Graph site will follow soon.

[2016-02-20 02:12] #126 closed

[2016-02-20 16:28] gsacavdm opened #129 "Documentation for beta/group - POST has an incorrect example JSON"
The json example shows the posted Json as having an all the properties encompassed in a "group" object like so:

{
  "group": {
    "description": "description-value",
    "displayName": "displayName-value",
    "groupTypes": [
      "groupTypes-value"
    ],
    "mail": "mail-value",
    "mailEnabled": true,
    "mailNickname": "mailNickname-value"
  }
}

However that doesn't work, you'll get an

[2016-02-21 02:07] dkershaw10 opened #131 "Successful PATCH operations should return with a 204 response"
See example here: http://graph.microsoft.io/en-us/docs/api-reference/v1.0/api/group_update
Should check that other PATCH examples are showing a correct response

[2016-02-21 02:12] dkershaw10 opened #132 "Improve groups documentation"
Documentation needs to have additional clarity on different types of groups, required attributes, and fixes to certain operations.
Example is http://graph.microsoft.io/en-us/docs/api-reference/v1.0/api/group_update where updates to securityEnabled and emailEnabled are not permitted (for unified groups).

[2016-02-22 09:10] dang2906 opened #133 "post request to posts returns 504 on first attempt"
Hi,

When making a call to 'https://graph.microsoft,com/v1.0/tenant-id/groups/group-id/threads/thread-is/microsoft.graph.reply' in order to reply to a thread, i receive a 504 "Unknown Error" message as shown below. The post has the following body:

{
  "post": {
    "body": {
      "contentType": "html",
      "content": "Test comment"
    }
  }
}

'code=UnknownError'

 This only happens on the fi

[2016-02-22 22:56] marych commented on #43
@Mike-Bell This has been fixed and we're now returning the downloadUrl instance annotation for driveItem entities.

[2016-02-22 23:02] marych commented on #91
@Mike-Bell We've changed the Sharepoint endpoint discovery mechanism. Could you retry your request for the o365.tsc-dev.co tenant?

[2016-02-23 13:46] Mike-Bell commented on #91
@marych seems like my repro is working now. Thanks! Gonna close this out.

[2016-02-23 13:46] #91 closed

[2016-02-23 14:49] Mike-Bell commented on #43
@marych you are indeed now returning the downloadUrl. But as I explained above, this does not actually fix the issue. The preauthenticated downloadUrl. Is *not* CORS compliant. You have to return CORS headers, even on simple GET requests with no custom headers, as the CORS spec indicates. I.e. I can request the resource and Fiddler shows a 200 response, but my browser (chrome) throws an error:

`X

[2016-02-23 14:57] Mike-Bell commented on #42
As indicated here https://github.com/OfficeDev/microsoft-graph-docs/issues/43 this is now fixed. (though it's now called @microsoft.graph.downloadUrl)

[2016-02-23 14:57] #42 closed

[2016-02-23 14:59] Mike-Bell opened #134 "@content.downloadUrl is now @microsoft.graph.downloadUrl"
http://graph.microsoft.io/docs/api-reference/v1.0/api/item_downloadcontent (and other places in the docs?) suggests `@content.downloadUrl` is returned on items. This property name was changed to `@microsoft.graph.downloadUrl`

[2016-02-23 18:50] rgregg commented on #43
Hi @Mike-Bell: I'm aware of the issue with CORS and download.aspx and we're working on a fix.

[2016-02-23 18:56] rgregg commented on #134
I've updated the content in the GitHub, and the website will pick up the change next time it's refreshed.

[2016-02-23 18:56] #134 closed

[2016-02-23 19:01] Mike-Bell commented on #43
Thanks for the update!

[2016-02-23 19:55] sriram-d commented on #133
Thanks for reporting this issue. Can you please share the entire body of the 504 response? It contains data (request-id and timestamp) that will help us investigate further.

[2016-02-23 20:00] marych commented on #78
mobilePhone was added to contact type in January (see https://graph.microsoft.io/en-us/changelog)

[2016-02-23 20:00] #78 closed

[2016-02-23 20:12] marych commented on #68
@martellaj - GET manager returns zero or one directory object. The Response description should be updated not to indicate that it is a collection of directory objects.

[2016-02-23 20:19] marych commented on #62
We added support for sorting and filtering by complex type properties in December 2015 (see https://graph.microsoft.io/en-us/changelog). Your second request is correct:
`https://graph.microsoft.com/v1.0/me/calendarView?startDateTime=2015-12-04T12:11:08Z&endDateTime=2015-12-04T23:59:59Z&$select=Subject,Start,End,WebLink,IsAllDay&$orderBy=start/dateTime `

[2016-02-23 20:19] #62 closed

[2016-02-23 20:37] marych commented on #74
Bug in the docs, which is already fixed - see https://github.com/OfficeDev/microsoft-graph-docs/issues/126

[2016-02-23 20:37] #74 closed

[2016-02-23 20:45] martellaj commented on #68
@marych, I'm no longer on the team; please assign future issues to @angelgolfer-ms (or whoever she says to assign them to). :rocket:

[2016-02-23 21:23] Mike-Bell opened #135 "Thumbnail URLs require you to be signed in to OneDrive(?)"
I'm able to get thumbnail URL's as per http://graph.microsoft.io/en-us/docs/api-reference/v1.0/api/thumbnailset_get. A logical thing I might want to do is to plop the `url` value from this response into an image tag on a HTML page. Unfortunately, this only works if the user is already signed in directly to OneDrive. If the user does not have an active login session with OneDrive (which is a legiti

[2016-02-23 21:39] #68 closed

[2016-02-23 21:57] angelgolfer-ms commented on #62
@waldekmastykarz , FYI, this **[Query parameters ](http://graph.microsoft.io/en-us/docs/overview/query_parameters)** topic has been updated in the $orderby and $filter sections to note the support for complex types and display some examples.

[2016-02-23 22:09] angelgolfer-ms commented on #78
@davidsteinsland , yes, the `[contact resource type ](http://graph.microsoft.io/en-us/docs/api-reference/v1.0/resources/contact)` topic has also been updated to show the mobilePhone property consistently. Thanks for your support!

[2016-02-23 23:37] marych commented on #135
We're working on returning pre-authenticated thumbnail URLs and expect it to be available within about a month.

[2016-02-23 23:52] Mike-Bell commented on #135
Thanks for the response @marych !

[2016-02-24 08:57] dang2906 commented on #133
Thanks for your reply. Here is the information required:

{
  "error": {
    "code": "UnknownError",
    "message": "",
    "innerError": {
      "request-id": "8d0555e2-a66a-4aca-819b-b338cade0dfb",
      "date": "2016-02-22T09:03:11"
    }
  }
}

Thanks.

[2016-02-25 15:29] Mike-Bell commented on #135
For anyone wondering, I found a temporary work-around. I can fetch the image data via xhr using an access token for the onedrive API. If I set `responseType: 'blob'` when I do so, and then use FileReader.readAsDataURL to get a data URL that I can plop into an image tag.

[2016-02-25 18:47] rgregg commented on #135
Thanks for posting your workaround. This sounds like the best solution until we ship pre-authenticated thumbnail URLs.

[2016-02-27 09:51] Pavlosm opened #136 "Get the groups owned by a user"
Is there a way to get the groups owned by a user, something similar to the `memberOf`?

I tried `memberOf ` https://graph.microsoft.io/en-us/docs/api-reference/v1.0/api/user_list_memberof, but this is only returning the groups that the user is member omitting those that the user is an owner.

Is it possible, or would it make sense for the `memberOf ` to return all the groups?

[2016-02-28 04:31] marych commented on #136
https://graph.microsoft.com/v1.0/me/ownedobjects/$/microsoft.graph.group should do that.

[2016-02-29 08:33] MiroJanosik commented on #128
Great, so instead of enabling it in metadata you disabled it in the service, right?

When I now try to do:
/users?$filter=startswith(displayName, 'John')

I get: "code": "Request_BadRequest",
"message": "The following query options are not supported by this request method or cannot be applied to the requested resource: $filter,$expand,$orderby,$count,$inlinecount,$select,$skiptoken,$skip,$top",

W

[2016-02-29 14:30] MiroJanosik opened #137 "Update user does not return 200 but 204"
In the documentation https://graph.microsoft.io/en-us/docs/api-reference/v1.0/api/user_update is mentioned that PATCH returns 200 + json of current object. This is not true, it returns 204 and no content.

This is also mentioned in this recent blog: https://msdn.microsoft.com/en-us/library/azure/ad/graph/api/users-operations#UpdateUser

[2016-02-29 17:03] marych commented on #128
Nothing was disabled. /users?$filter=startswith(displayName,'John') works for me. Could you please provide request-id and timestamp for your failing request?

There is a bug related to filtering for id property declared on the abstract "entity" entity type which affects the /users?$filter=id eq '422980c9-e3bc-42cf-a404-c5d1a2565ce5' query for /v1.0. I'll look into fixing that.

[2016-03-01 07:19] MiroJanosik commented on #128
I tried it again at https://graphexplorer2.azurewebsites.net/ and it fails again for me. I am logged in as miro-az1@miroaz1.onmicrosoft.com and running POST query https://graph.microsoft.com/v1.0/users?$filter=startswith(displayName,'John')

This is response:
{
    "error": {
        "code": "Request_BadRequest",
        "message": "The following query options are not supported by this request met

[2016-03-01 11:27] MiroJanosik opened #138 "InternalServerError on incorrect POST queries"
Some incorrect POST queries are not handled and return "InternalServerError".

I know it is returned for queries where "json" should be in the parameter and it is not. As example:
https://graph.microsoft.com/v1.0/users/3ff4c237-7604-4ac8-8fc6-15a533363975/messages
{
    "body" : "Hello dear aunt Emma"
}

Result is:

"body" should be json { "contentType": "text", "content": "Test 4" }.  But I guess

[2016-03-01 13:50] nickvdheuvel opened #139 "Navigation menu not working on graph.microsoft.io/en-us/docs"
Navigation menu items refer to `graph.microsoft.io/en-us/<Document URL>` instead of `graph.microsoft.io/en-us/`**docs/**`<Document URL>`. Therefore opening a page in a new tab doesn't work.

![navigation graph microsoft io](https://cloud.githubusercontent.com/assets/12894748/13428713/7d1769ce-dfbc-11e5-92e0-f23117786710.png)

[2016-03-01 21:33] marych commented on #128
I checked the failed request and it was a POST. $filter is only support for GETs.

[2016-03-02 09:28] misterabdullahAziz opened #140 "Get my Tasks is showing unknown Error"
I am using work and school account and all api's working fine on [microsoft graph explorer](https://graphexplorer2.azurewebsites.net) but when i get tasks it gives me unknown error.
Get Request:
https://graph.microsoft.com/beta/me/tasks
Response Object:

[code]

Can somebody tell what is this issue.

[2016-03-02 09:39] misterabdullahAziz commented on #140
Here is the screenshot.
![screenshot from 2016-03-02 14 33 40](https://cloud.githubusercontent.com/assets/8374545/13456341/822495e0-e084-11e5-91a4-b9e64bcc9563.png)

[2016-03-02 09:44] misterabdullahAziz commented on #45
@martellaj i use the same request.
![screenshot from 2016-03-02 14 33 40](https://cloud.githubusercontent.com/assets/8374545/13456495/430f5088-e085-11e5-974e-b0bba7eccd84.png)

[2016-03-02 13:04] nickvdheuvel commented on #71
In JavaScript a `GET https://graph.microsoft.com/v1.0/me/memberOf/$/microsoft.graph.group?$filter=groupTypes/any(a:a%20eq%20%27unified%27)`, `GET https://graph.microsoft.com/v1.0/me/memberOf/$/microsoft.graph.group?$filter=groupTypes/any(a:a%20eq%20'unified')` or `GET https://graph.microsoft.com/v1.0/me/memberOf/$/microsoft.graph.group?$filter=groupTypes/any(a:a eq 'unified')` request still doesn'

[2016-03-02 20:13] viv-liu opened #141 "Typo in AD Graph queries doc"
https://msdn.microsoft.com/library/azure/ad/graph/howto/azure-ad-graph-api-supported-queries-filters-and-paging-options#CommonQueries

Under "Other Query operations", table row "Request and Filter for a user with displayName equal to “Jon Doe”, https://graph.windows.net/contoso.com/**_u_**sers?$filter=displayName eq 'Jon Doe'&api-version=1.6

It is currently an uppercase U, which is not a valid re

[2016-03-02 20:14] viv-liu commented on #141
![image](https://cloud.githubusercontent.com/assets/4438973/13473886/481cb3dc-e070-11e5-832b-4fb83aab5779.png)

[2016-03-02 22:28] dkershaw10 commented on #141
Thanks.  Good catch - this is actually a type on the AAD Graph documentation.  This repo is for Microsoft Graph only.  Will forward your issue to the right person to get this fixed in the AAD docs.

[2016-03-02 23:55] marych opened #142 "Create Event (user_post_events) for beta documentation doesn't list the required scope"
https://github.com/OfficeDev/microsoft-graph-docs/blob/master/api-reference/beta/api/user_post_events.md has:

Based on
https://github.com/OfficeDev/microsoft-graph-docs/blob/master/api-reference/v1.0/api/user_post_events.md
it should be:

[2016-03-03 03:12] patrickroteman opened #143 "Documentation: Scopes listed for group/members navigation are incorrect"
The documentation for this method / navigation property indicate that Group.Read.All **or** Directory.Read.All **or** Directory.AccessAsUser.All scopes would all allow access, but accessing with Group.ReadWrite.All receives 403. @dkershaw10 in an email thread indicated it would actually require User.ReadBasic.All or User.Read.All to access this property.

http://graph.microsoft.io/en-us/docs/api-r

[2016-03-03 12:08] evnexus opened #144 "GET Post: getting the content body could be improved"
This is more like an enhancement than an issue.

When I do GET /groups/id/threads/id/posts/id, I noticed how hairy the task can become if you want to grab the message on the Body { content }, it returns the whole HTML and the only way I've found to clean the contents is to either use Regex or some sort of complex algorithm to get rid of the HTML tags. Now, having the HTML tags is not a bad thing a

[2016-03-03 20:30] marych commented on #140
Does your tenant/organization have the Planner license? It is required in order to be able to use the service and its API. This error is currently returned for tenants without that license.

[2016-03-03 22:14] marych commented on #128
FYI - the /users?$filter=id eq '422980c9-e3bc-42cf-a404-c5d1a2565ce5' request should work now as well.

[2016-03-04 09:37] MiroJanosik commented on #128
Thanks for the information

[2016-03-08 17:05] Siern commented on #133
I have begun receiving those today.  It appears there are some serious issues with the API as very simple requests are bouncing between 400ms to over 20000ms!!

example:
https://graph.microsoft.com/v1.0/me/calendargroups
response time: 20405ms
[code]
But seeing "Exchange - Service degraded - EX44052" status, I assume this message should be some sort of time-out.

[2016-03-09 23:34] sriram-d commented on #133
There are some known performance issues with accessing conversations of group. It is already being addressed and should be deployed in a few months. In the interim, some fine tuning has been done to reduce the number of 504 responses. However, the latency can still be high until proper fixes land. Let us know your comments on experience after today.

[2016-03-16 14:21] fen4o opened #152 "Navigation in the documentation is broken when using adblocker"
Hello,
Because most adblockers block http://c.microsoft.com/ms.js, when clicking on a link in the documentation, there is a Reference error and the user is navigated to the error page, making all navigation on the documentation page impossible:

`Uncaught ReferenceError: MscomCustomEvent is not defined`

This bug relates to the whole http://graph.microsoft.io/ site, and not to the documentation, s

[2016-03-16 22:08] #143 closed

[2016-03-18 22:21] keyur32 commented on #152
Hello,

Sorry for any inconvenience this has caused.  Also, thank you for reporting the issue and recommending a fix. Our engineering team is on it and we'll report back when the issue is fixed.

thanks!

[2016-03-21 13:30] Siern opened #162 "Numeric arrays in extensions"
I am unsure of where to report this as it is in the beta API.
When my extension contains a numeric array, the reading of this extension throws a server side (MS API) error.

Example of my insertion body for an entry:
[code]

The response is:
400 Bad Request
error code: UnformattedApiError
Body: (the API response is a malformed JSON object. The writer seemed to stop with the error and not write the

[2016-03-21 18:45] keyur32 commented on #152
Hi there,  we are trying to reproduce this issue. Is there a particular ad blocker/browser that you are using?

[2016-03-23 20:35] iambmelt commented on #152
Just to jump in on this one with some extra information -- I was able to repro a break in the documentation by loading http://graph.microsoft.io and blocking [mixed content](https://developer.mozilla.org/en-US/docs/Security/Mixed_content) in my browser

![screen shot 2016-03-23 at 1 28 49 pm](https://cloud.githubusercontent.com/assets/990063/13999939/104a919e-f0fc-11e5-840c-2f053aac2743.png)
![scr

[2016-03-23 20:38] iambmelt commented on #152
Demo of break

![screen shot 2016-03-23 at 1 36 27 pm](https://cloud.githubusercontent.com/assets/990063/14000048/8e5e8bee-f0fc-11e5-956b-9b3c1de6a07d.png)

[2016-03-23 20:54] iambmelt opened #169 "Docs should consistently load over HTTPS"
So there are currently a number of ways to get to `graph.microsoft.io` -- one of the routes uses inconsistent security and causes [mixed content](https://developer.mozilla.org/en-US/docs/Security/Mixed_content) warnings

There's

- :x:   `http://graph.microsoft.io` -- uses HTTP **
- :heavy_check_mark:  `https://graph.microsoft.io` -- uses HTTPS
- :heavy_check_mark:  `http://graph.microsoft.com` --

[2016-03-24 05:09] rgregg commented on #152
I hit this today as well, manifested slightly differently. When I click on the V1.0 header in the navigation bar (left side) I get redirected to a 404 page. On a browser without an ad blocker extension, the page loads normally. The error is the same: `Uncaught ReferenceError: MscomCustomEvent is not defined`

[2016-03-25 15:05] Mike-Bell opened #183 "createdDateTime and lastModifiedDateTime are wrong from the search API"
I created a file at 3/25/2016 at about 9:30 AM (Eastern US). According to Google, this is 1:30 PM (13:30) UTC. I then did a Search for this file (https://graph.microsoft.io/en-us/docs/api-reference/v1.0/api/item_search). The return I get from graph API is `{"@odata.type":"#microsoft.graph.driveItem","createdBy":{...}},"createdDateTime":"2016-03-25T20:33:50Z","file":{},"id":"...","lastModifiedDateT

[2016-03-25 23:01] marych commented on #71
This was fixed last week - the encoded apostrophe is now accepted, so https://graph.microsoft.com/v1.0/me/memberOf/$/microsoft.graph.group?$filter=groupTypes/any(a:a%20eq%20%27unified%27) works.

[2016-03-25 23:01] #71 closed

[2016-03-25 23:16] marych commented on #138
This was fixed last week and such requests now return BadRequest/400 with "Property body in payload has a value that does not match schema." message.

[2016-03-25 23:16] #138 closed

[2016-03-28 11:41] fen4o commented on #152
Hello, I'm running adblock origin and https://easylist-downloads.adblockplus.org/easyprivacy.txt - you see that c.microsoft.com is blocked there

[2016-03-28 20:52] jpatomic96 commented on #43
Any update on this issue?

[2016-03-28 23:42] kevklam opened #207 "Function parameter ordering"
The reminderView function seems sensitive to ordering of startDateTime/endDateTime - should either document or fix.

[2016-03-31 14:22] dang2906 opened #218 "No option to update isCancelled parameter on Events"
Hi,

I have a use case where it is necessary to cancel an event rather than delete an event in outlook via the Graph API.

I have successfully managed to change other properties such as sensitivity by following the instructions here: [http://graph.microsoft.io/en-us/docs/api-reference/v1.0/api/event_update](url).

However, there doesnt seem to be a way to cancel an event. I was looking at using th

[2016-04-01 00:28] Schweigi opened #222 "Identity object - id property missing"
In the documentation for the [Identity object](https://graph.microsoft.io/GraphDocuments/en-us/api-reference/v1.0/resources/identity.htm) the `id` property is listed as a return value. But when I get the [file permissions](https://graph.microsoft.io/en-us/docs/api-reference/v1.0/resources/permission) then the `id` property is missing when the `grantedTo` Identity points to a `Group`.

Is this a bu

[2016-04-04 11:26] vanta opened #232 "Wrong content-type of notification callback payload"
As described here: http://graph.microsoft.io/en-us/docs/api-reference/beta/api/subscription_post_subscriptions the content of subscription notification callback payload is in JSON format (basing by content, but not state explicitly). But for some reason, it is sent as `text/plain;charset=utf-8`, which makes it unable to automatically map by JSON mappers.

[2016-04-04 21:24] phpock opened #233 "Incomplete URL for updating the content of a OneNote page."
The documentation for updating OneNote pages at https://graph.microsoft.io/en-us/docs/api-reference/beta/api/page_update lists this endpoint:

`PATCH /me/notes/pages/<id>`

Updates sent to this endpoint always return
`{"error": {
    "code": "BadRequest",
    "message": "JSON content expected."
}`

I assume that `/content` is missing. Updates sent to `PATCH /me/notes/pages/<id>/content` are succes

[2016-04-04 21:40] #233 closed

[2016-04-05 06:04] garethj-msft commented on #232
Hi Vanta.  Only the first request (the validation request) is `text/plain` as that doesn't contain JSON.  The actual notifications should be coming through with a content type of `application/json; charset=utf-8`.

[2016-04-05 10:29] vanta commented on #232
Ok, Now I see it. The problem was that my endpoint for notifications consumed also `POST`s from validation requests. How about changing validation requests to `GET` as they have no content, have query param, return content and are idempotent? Looks like perfect `GET` request description :)

[2016-04-05 23:02] garethj-msft commented on #232
Glad to hear you worked it out Vanta.  You make a good point about `GET`, but unfortunately, that would be a breaking change for folks who have already implemented `POST`, so we couldn't do it until we move to V2.0 of the API at some future point.

[2016-04-05 23:02] #232 closed

[2016-04-05 23:04] garethj-msft commented on #87
We fixed this.  Please let us know if the error message isn't clear now.

[2016-04-05 23:04] #87 closed

[2016-04-06 06:17] vanta opened #238 "Allow Application-Only requests to create subscriptions"
Currently, if I have application token (no user consent) I cannot create subscription to be notified about changes in .e.g calendar events. When I try to do so I get an error:

[code]

**UPDATE:**
It works for mails and contacts, but still not for calendars.

[2016-04-06 06:51] vanta opened #239 "Allow to $filter with empty string and null"
Currently, when I `GET` e.g. `https://graph.microsoft.com/v1.0/users?$filter=surname+eq+''`, wanting to filter users with empty surname I get an error:

[code]

I cannot see any other way to filter for empty string values on http://www.odata.org/documentation/odata-version-2-0/uri-conventions/ I tried `https://graph.microsoft.com/v1.0/users?$filter=surname+eq+null` as well with same result.

[2016-04-06 06:53] garethj-msft commented on #238
Hi Vanta - we're working on this - we hope to have something to announce in a few weeks.

[2016-04-06 07:15] vanta commented on #238
Thanks, I cannot wait to see it, keep doing!

[2016-04-06 07:16] vanta commented on #232
@garethj-msft Make sense.

[2016-04-07 15:50] DianeD commented on #30
fixed--these tags are not visible

[2016-04-07 15:50] #30 closed

[2016-04-07 15:58] DianeD commented on #119
fixed, now returns
{
    "error": {
        "code": "Request_BadRequest",
        "message": "Specified HTTP method is not allowed for the request target.",
        "innerError": {
            "request-id": "bbab2004-25e7-4818-9599-422b4fa66d88",
            "date": "2016-04-07T15:55:01"
        }
    }
}
Thanks @LoungeFlyZ

[2016-04-07 15:58] #119 closed

[2016-04-07 16:06] DianeD commented on #129
Create group now shows the following example
Thanks @gsacavdm!

POST https://graph.microsoft.com/beta/groups
Content-type: application/json
Content-length: 244

{
  "description": "description-value",
  "displayName": "displayName-value",
  "groupTypes": [
    "groupTypes-value"
  ],
  "mailEnabled": true,
  "mailNickname": "mailNickname-value",
  "securityEnabled": false
}

[2016-04-07 16:06] #129 closed

[2016-04-07 22:54] angelgolfer-ms commented on #218
Hi @dang2906 , please take a look at the cancel action for the event resource: https://github.com/OfficeDev/microsoft-graph-docs/blob/beta/api-reference/api/event_cancel.md. That might meet your needs!

[2016-04-07 22:54] #218 closed

[2016-04-11 08:07] evnexus opened #243 "Sharepoint fails to redirect properly when first logging in"
Okay, here's my use case:

I have a group at Microsoft Office called 'Designs'. This group has only one purpose: allow me to upload files on OneDrive

So, when we click the Files on the 'Design' group we are prompted to the files and directories.

In my code, I have a hypelink which allows me to be redicted to the exact endpoint I want to upload a file:

`https://{MYCOMPANYNAME}.sharepoint.com/sit

[2016-04-13 09:22] mikeholtkamp opened #245 "List orgContact for beta documentation doesn't list the required scope"
This page http://graph.microsoft.io/en-us/docs/api-reference/beta/api/orgcontact_list doesn't have any required scopes listed this seems incorrect to me

[2016-04-13 21:30] iambmelt opened #246 "$filter, $search returning different values for same criteria"
Thanks to @jennifermarsman for sharing this feedback 👍

I would expect the following queries to be equivalent:

[code]

[code]

Testing w/ production data, the first query returns an empty set while the second query returns emails. The second query returns the expected data.

Examples taken from [here](http://graph.microsoft.io/en-us/docs/overview/query_parameters)

[2016-04-13 21:31] iambmelt commented on #246
Are these *really* equivalent? Do the differences in these two result sets reflect a service issue?

[2016-04-19 12:34] mikeholtkamp commented on #77
Is there any news about the odata query param support documentation.
Without the documentation it's a little gamble game for example

This works:
https://graph.microsoft.com/beta/contacts?$filter=startswith(givenName,'mi')

This doesn't
https://graph.microsoft.com/beta/me/contacts?$filter=startswith(givenName,'mi')

[2016-04-22 20:01] marych commented on #162
Thanks for reporting the issue! It's now corrected.

[2016-04-22 20:01] #162 closed

[2016-04-23 01:36] garethj-msft opened #248 "Many topics erroneously say that all properties will be returned."
Several entities on the Graph actually return a subset of properties by default and require the $select operator to bring in the other properties.  However, many of the docs pages that provide an ellipsized version of a payload in their examples say that the full set of properties will be returned at runtime.

The docs should be clearer about which properties will be returned by default and how to

[2016-04-25 02:45] jharbert opened #249 "Graph API Synchronization Features"
As explained in the [Office365 API documentation](https://msdn.microsoft.com/office/office365/api/mail-rest-operations#SynchronizeMessagesAPI), the new beta endpoint includes a synchronization feature for Outlook Mail.  Upon passing a `Prefer: odata.track-changes` header, the resulting response contains `"preference-applied"=>"odata.track-changes"` in the header and more importantly contains a `@o

[2016-04-25 18:15] garethj-msft commented on #249
Hi JHarbert,
You're correct that the sync feature is not yet supported in the Graph endpoint.  We're working on what the final protocol will be for this endpoint.

[2016-04-25 18:15] #249 closed

[2016-04-26 01:31] marych commented on #246
There is known issue related to filtering messages by the from property for addresses of the same domain as that of the user running the request - see https://github.com/OfficeDev/microsoft-graph-docs/issues/121. A fix for this is being rolled out and should complete for all mailboxes in about a week.

[2016-04-26 05:49] iambmelt commented on #246
Thanks for the update @marych -- this is helpful 👍

[2016-04-26 20:15] marych commented on #137
402/No content is expected. We'll need to update the documentation to reflect that.

[2016-04-26 20:35] marych commented on #239
There is no way to filter the users collection for entities with surname equal to null or empty string. The value of the filter must be between 1 and 64 characters as documented here: https://msdn.microsoft.com/en-us/Library/Azure/Ad/Graph/api/entity-and-complex-type-reference#userentity

[2016-04-26 20:41] vanta commented on #239
I realised that but my point is to change it... as there is no way to fetch rooms or equipment, this would we the only way to fetch them (filter by empty surname) without fetching all users and filter them by myself... How about givenname can it be empty as I cannot see this constraint for it?

[2016-04-27 23:32] LoungeFlyZ opened #250 "Query for expanding Photo fails with message about businessPhones"
Query to:
`https://graph.microsoft.com/v1.0/me?$expand=photo`

Results in this ... which includes a message about businessPhones.

[code]

[2016-04-27 23:33] LoungeFlyZ commented on #250
Querying the beta endpoint gives a result, but not with the data requested:

`https://graph.microsoft.com/beta/me?$expand=photo`

Result:
[code]

[2016-04-27 23:35] LoungeFlyZ opened #251 "Support for expanding photo in /users query"
We would like to tell if someone has a photo when querying the /users endpoint.

E.g.
`https://graph.microsoft.com/beta/users?$expand=photo`

Would this be considered?

Thanks.

[2016-04-29 07:23] VitorX opened #252 "Unclear sample about drive invite action"
Does any one know the value of "permissionIdentityType-value" in the sample:

`POST https://graph.microsoft.com/v1.0/drive/root/Microsoft.Graph.invite
Content-type: application/json
Content-length: 313

{
  "recipients": [
    {
      "email": "email-value",
      "alias": "alias-value",
      "objectId": "objectId-value",
      "permissionIdentityType": "permissionIdentityType-value"
    }
  ],

[2016-05-03 09:55] iambmelt commented on #246
Hi @marych - Just following up on this issue to make sure it gets closed once resolved. Short of manual testing, is there some way @jennifermarsman and I can be informed when the fix goes live? Thank you!

[2016-05-06 00:01] marych commented on #246
Hi @iambmelt - due to a regression in another area this change needed to be reverted. I'll make an update here when a corrected fix is ready. I'm sorry for the delay.

[2016-05-06 00:10] marych commented on #239
If users are used to represent rooms or equipment you could potentially name them with a specific prefix and filter with startsWith, e.g. https://graph.microsoft.com/v1.0/users?$filter=startswith(surname,'room-'). Due to limitations of the current implementation of the /users entity set we will not be able to support filtering for nulls any time soon. The same limitation applies to all user proper

[2016-05-06 01:55] marych commented on #252
The invite action is only available in in the beta version of the API - see http://graph.microsoft.io/en-us/docs/api-reference/beta/api/item_invite. It will be added to V1.0 in the future and this page should then be updated and linked. How did you find it under V1.0 - is it linked anywhere?

[2016-05-06 09:30] vanta commented on #239
It's not "users are used to represent rooms or equipment", it's how Graph API works. I created rooms as rooms in Office365, not as users. I don't have a control over how rooms will be named by other users, so I cannot assume anything.

How about introducing flag to distinguish regular users from rooms/equipment in Graph API response?

[2016-05-06 10:39] MJems commented on #77
How to apply filter for search text using linq

   var mailResults = await (from i in outlookServicesClient.Me.Folders.GetById("Inbox").Messages

                                 orderby i.DateTimeReceived descending
                                 select i).Skip((pageNo - 1) * pageSize).Take(pageSize).ExecuteAsync();

[2016-05-06 20:08] marych commented on #239
The Office 365 rooms are not as such exposed via the Graph API or any other REST API. It is available via EWS though, see https://msdn.microsoft.com/en-us/library/office/dn643730(v=exchg.150).aspx, so you'd need to use that in order to reliably get the list of rooms. Office 365 creates users for all rooms, but there is no flag on those users that could be used to distinguish them from regular user

[2016-05-06 20:18] vanta commented on #239
Thanks for clarifying. I cannot use any convention as my product is used by multiple companies and they can have different conventions or even none. But I could tell them "please don't put a givenname" (as it's blank by default) and it should work in most cases. That's why i do filtering now on app side, but it's not optimal as I fetch aaaaaallll users to filter most of them out.

So out Outlook O

[2016-05-06 20:33] marych commented on #239
Yes, I believe the Outlook UI uses EWS. http://stackoverflow.com/questions/34858409/office-365-rest-api-access-meeting-rooms-calendars suggests to take a look at the new FindMeetingTimes API. If that doesn't help you might consider making the givenName/surname room prefix configurable in your app so that it could work for companies with different naming conventions - until rooms get properly expos

[2016-05-07 21:18] vanta commented on #239
I don't have a problem with rooms availability/booking, once I know the user is actually a room I simply add them with attendance type of "resource" using Graph API and it works.
As I mentioned, my convention is now blank givenname/surname (as this is a default behaviour for rooms), but the problem for me can be performance as I need to fetch all users.

Is this lack of null filtering for surname

[2016-05-09 17:42] bdares opened #259 "SharedWithMe results lack remote drive information"
This behavior is common across the Microsoft Unified Graph API and the OneDrive for Business API.

The doc for [GET /me/drive/sharedWithMe](http://graph.microsoft.io/en-us/docs/api-reference/v1.0/api/drive_sharedwithme) claims:

While my shared items have a `remoteItem` facet, it does not contain information on the remote drive.

See attached screenshot.  Also, note that the file size is reported

[2016-05-11 06:56] VitorX commented on #252
Please check the link:[http://graph.microsoft.io/en-us/docs/api-reference/v1.0/api/item_invite](http://graph.microsoft.io/en-us/docs/api-reference/v1.0/api/item_invite)

[2016-05-13 17:10] marych commented on #252
I saw the page, but it should not be linked from the menu or any other page. If you see a reference to it from anywhere please let us know and we'll remove the reference.
When the invite action is added to /v1.0 we'll update https://github.com/OfficeDev/microsoft-graph-docs/blob/master/api-reference/v1.0/api/item_invite.md and add references/links to it in the relevant places.

[2016-05-13 17:16] marych commented on #239
The lack of null filtering is due to the way users are indexed. We can't efficiently retrieve users with an indexed property unset. There are no plans to change that.

[2016-05-13 21:00] vanta commented on #239
@marych Make sense, thank you for explanation.

But any plans to expose "room flag" in user entity via Graph API?

[2016-05-14 18:52] mmaitre314 opened #266 "Graph extensibility model?"
Is it possible to define custom nodes and edges in the graph? I'd like to add Git Commits for instance, linked to users and storing info like repo, date, modified files.

[2016-05-14 18:56] mmaitre314 opened #267 "Daemon authorization"
Is it possible to give daemons (apps without users) access to the graph? I'd like to have an Azure WebJob listen on some WebHook and populate nodes and edges into the graph automatically.

[2016-05-15 03:40] dkershaw10 commented on #267
It is possible, for some entity types, to support daemon apps (apps without users or app-only access). It's described here:  https://graph.microsoft.io/en-us/docs/authorization/app_only. For questions on functionality on the Graph, please use StackOverflow and tag with [microsoftgraph].  This repo (and filing issues) is really more about issues with the documentation.

[2016-05-15 03:45] dkershaw10 commented on #266
There is some limited capability for this on /beta, but this is an area we'll be working on. Anyways, for questions on functionality of the Graph, please use StackOverflow and tag with [microsoftgraph].  This repo (and filing issues) is really more about issues with the documentation.

[2016-05-15 05:19] mmaitre314 commented on #266
Thanks. Will do.

[2016-05-15 05:19] #266 closed

[2016-05-15 05:19] #267 closed

[2016-05-18 18:34] marych commented on #239
No plans for adding a "room flag" on user. There should be a separate room entity type IMO. Over time all EWS functionality should become available via REST APIs, but there is no timeline for room related functionality.

[2016-05-18 18:34] #239 closed

[2016-05-19 15:45] gmarinrobles commented on #238
I have the same isssue. Any news garethj-msft ?

[2016-05-19 18:28] gerarde commented on #252
It's linked from here:
https://github.com/OfficeDev/microsoft-graph-docs/blob/master/api-reference/v1.0/resources/driveitem.md

[2016-05-19 19:33] marych commented on #252
Thanks @gerarde! @rgregg - we need to remove the "Add permissions" method link from v1.0 documentation.

[2016-05-20 08:04] VitorX commented on #252
@marych It is linked from the Microsoft Graph official document: https://graph.microsoft.io/en-us/docs/overview/overview. You can navigate by click 'beta reference'->OneDrive->DriveItem->Add Permissions.

I also failed with the API with beta version like below:
POST: https://graph.microsoft.com/beta/me/drive/items/01G4KMWSF3L7A4BUBPYZA33DMFEOORTPG6/invite

{
  "recipients": [ { "email": "emailAddr

[2016-05-20 15:26] marych commented on #252
@VitorX - we'll remove the link from /v1.0 driveItem docs. What error did you get from /beta?

[2016-05-25 09:38] vrooland opened #292 "Cannot filter by Responsestatus/response"
I am trying to count the number of events I have not accepted.
https://graph.microsoft.com/v1.0/me/events?$filter=responsestatus/response eq 'notresponded'

This query returns an Invalid filter clause. Is responsestatus filterable? if yes, what is wrong with the query above?

Robert.

[2016-05-25 17:51] marych commented on #292
Hi Robert. ResponseStatus is not filterable.

[2016-05-26 05:58] callmeradical opened #294 "Eventual consistency on group creation"
Issuing a request to update a unified group after creation can take up to 45 minutes.

Anyway to fix this or supply the option to set all parameters during creation? Specifically allowExternalSenders for distribution groups?

[2016-05-26 08:18] VitorX commented on #252
@marych It is working now. Thanks:)

[2016-05-26 08:18] #252 closed

[2016-05-30 21:15] biste5 opened #298 "Can't update profile photo with Microsoft Graph API (beta)"
Using `beta` REST endpoint for Unified / MS Graph APIs to update user's profile picture
`PATCH /me/photo/$value`

returns a successful status code 204 (not 200 as per documentation #131 ), but operation has no real effect.
Switching to `v1.0` endpoint picture is immediately updated at least in OWA

[2016-05-31 04:44] NeosQuanta opened #299 "Accessing Shared with Me item gives 401 Unauthorized"
My reference is this documentation : https://graph.microsoft.io/en-us/docs/api-reference/v1.0/api/drive_sharedwithme
I want to get a list of 'Shared with Me' items of the signed-in user and provide a button containing downloadUrl to download the item of the list. The problem is I can't get the downloadUrl.
What I am doing is :
1. Request `GET /me/drive/sharedWithMe`This call is a success, the resp

[2016-06-01 18:19] mimisasouvanh commented on #299
Hi @NeosQuanta  Thank you for reaching out! Did you try GET /me/drive/items/{item-id}/content as in the documentation https://graph.microsoft.io/en-us/docs/api-reference/v1.0/api/item_downloadcontent ?
Note that you don't need the drive-id.

[2016-06-01 20:29] mimisasouvanh commented on #259
@bdares  We have implemented a fix to return the parentReference that is returned in Search. Can you try again?

[2016-06-01 20:38] mimisasouvanh commented on #299
Hi @NeosQuanta Are you using a personal site host like https://microsoft-my.sharepoint.com, or something like http://microsoft.sharepoint.com? You might not have the proper permission/rights on the web. Files.ReadWrite gives permissions to apps but users would still need permissions to the website as well.

[2016-06-01 22:11] #73 closed

[2016-06-02 02:46] NeosQuanta commented on #299
Hi @mimisasouvanh Thanks for the response. I tried `GET /me/drive/items/{item-id}/content` but it still gives same error. I am using the personal one like https://microsoft-my.sharepoint.com .

I forgot to mention this, when I tried to access the shared item manually with `GET /users/<id | userPrincipalName>/drive/root/children`, it gives me the list of items that I can access(the downloadUrl is t

[2016-06-02 16:39] mimisasouvanh commented on #299
To give permission to users, the user must be logged in on whatever browser you are using. I hope this works.

[2016-06-02 21:35] rgregg commented on #43
@Mike-Bell @boulajp The download URL should be valid for GET requests now. We properly deal with the Origin header and return the CORS compatible response headers. However, any request that would require a preflight OPTIONS request will still fail.

[2016-06-03 06:58] NeosQuanta commented on #299
@mimisasouvanh Thanks for the response as always. I've logged in as user through site like login.microsoftonline.com (to get the access_token) and to make sure of your tips, I also logged in to https://mytenantname-my.sharepoint.com, but unfortunately it doesn't work.

I can get the item successfully using `GET /users/<id | userPrincipalName>/drive/items/<item-id>` (manually), is this giving you a

[2016-06-03 19:12] michaelva commented on #135
Running into the same issue. @marych Any update on the pre-authenticated thumbnail URL?

[2016-06-03 19:59] mimisasouvanh commented on #299
OK - a colleague of mine looked at your issue, and here is his suggestion: the web site you need permission for is https://binussianorg.sharepoint.com. Your call to Graph gets routed with that URL. Please try logging in to this site.

[2016-06-03 22:34] rgregg commented on #222
@Schweigi This is a known issue right now. Groups are only returned with their display name but no identifier. Fixing this is on our backlog but we're still working through some issues that are preventing us from returning the data.

[2016-06-03 22:48] rgregg commented on #222
@Schweigi This is a known issue that we're tracking. We don't have an ETA for a fix but we're working on it.

[2016-06-03 22:59] angelgolfer-ms commented on #207
Hi kevklam,
Thank you for your input. I also verified that's the current behavior - if you swap the order and specify endDateTime before startDateTime, you'd get an error. I have relayed this to the product team and we'll make updates accordingly. Thank you again for your patience.

Angelgolfer-ms

[2016-06-06 04:53] Nalyden opened #302 "401 response without a JSON error response object when an expired access token is provided"
When I access https://graph.microsoft.com/v1.0/me/messages with a valid access token everything works and once the token expires I receive the expected 401 response but without the JSON error response object that is specified in the error documentation.

Should I just be assuming that 401 response means I need to refresh my access token or has something gone sideways here?

[2016-06-06 04:58] Nalyden commented on #302
Sorry, it looks like the issue was in my code. I obviously need another coffee as it was a simple mistake.

[2016-06-06 04:58] #302 closed

[2016-06-06 06:28] NeosQuanta commented on #299
@mimisasouvanh That's it. I never thought the https://tenant.sharepoint.com is also used, because when I access outlook.office.com and click Onedrive icon, the site used there is https://tenant-my.sharepoint.com.

When I open the site, it gives me this error message : "You need permission to access this site."
All that's left is for me to contact my admin to consider modifying the permission then.

[2016-06-06 06:28] #299 closed

[2016-06-07 16:41] marych commented on #298
Hi @biste5. One of the recently enabled features on /beta is AAD fallback for user photo requests (see https://graph.microsoft.io/en-us/changelog):
"Azure Active Directory is now used as a fallback for /beta/users/id/photo requests when the Outlook is unable to service the request for cases like the user has no mailbox license or tenant does not have an Exchange Online subscription. NOTE: this fal

[2016-06-07 21:33] vanta commented on #238
Cannot see anything in ChangeLog... And this constraint is not mentioned anywhere in the docs: http://graph.microsoft.io/en-us/docs/api-reference/beta/resources/webhooks

[2016-06-08 20:16] biste5 commented on #298
Hi, thanks for your reaction @marych . It's new to me, and very interesting, this AAD fallback you point out. I'd like to know more about how profile pictures are stored in AAD, and that story...
I'm actually doing different tests for different scenarios we have by customers, and behavior aren't consistent thus clear. For instance, if I update my picture via MSGraph, is it supposed to propagate al

[2016-06-09 05:19] biste5 commented on #298
Client Request Id: bd028bb8-6734-48d5-a229-66add36065e2
Timestamp: 6/8/2016 9:57:04 PM +00:00

(so about 10 hours ago, and haven't changed. Response was successful)

[2016-06-13 19:31] tevert opened #315 "Creating an event in a group automatically adds the creator as attendee?"
The behavior we're seeing:
1. Authorize against Azure AD using my credentials, to our application.
2. Our application then creates an event on a group calendar (on my behalf) like so:
3. POST /groups/1234-5678/calendar/events
4. The interesting part of the response is:

[code]

This behavior is consistent if I leave the attendee list undefined, or pass an empty list, or explicitly specify _just_ t

[2016-06-13 20:04] octref opened #317 "Wrong documentation for DriveItem creation API"
Regarding this page:

https://graph.microsoft.io/en-us/docs/api-reference/v1.0/api/item_post_children

`POST /drive/items/<id>/children` returns 404 for me
`POST /me/drive/items/<id>/children` works.

[2016-06-14 14:19] titobf opened #325 "Beta - Drive Item - Invite (Add permissions)"
I'm using the invite method to share a file with another user: [Send a sharing invitation](http://graph.microsoft.io/en-us/docs/api-reference/beta/api/item_invite)

I expected it to return the sharing link in the response, the same link that is included in the email if "sendInvitation" is set to true, but it doesn't.

request body:

[code]

response content:

[code]

I know I can use the [Create a

[2016-06-16 02:48] marych commented on #298
I checked in logs that this request failed to save the photo in Outlook with "(405) Method Not Allowed" error. You should see it returned to the client when using the /v1.0 endpoint for the same user. I'll follow check with the Outlook team why 405 was returned in this case.

[2016-06-21 13:08] SageEx opened #352 "Dynamic Redirect URL working with OneDrive API but not with MS Graph API"
Hi, I made a new application on apps.dev.microsoft.com. I am trying to use OAuth v2.0 to get access.

I am unable to use a dynamic redirect URL to get the access token.

I was originally using the OneDrive APIs where I would add an extra (GET) parameter and it worked, but this doesn't work with the MS Graph API. I need the dynamic parameter as user-id.

Any ideas how to resolve the problem ?

[2016-06-21 19:04] marych commented on #135
The change was implemented and enabled as planned, but we needed to disable it as the change in behavior broke some clients. We expect to enable it again in about a month.

[2016-06-21 19:19] marych commented on #298
@biste5 There was a change in Outlook behavior for the /beta endpoint and photo uploads are now only supported via the PUT method. PATCH is no longer allowed. We'll update the documentation accordingly.
For /v1.0 both PATCH and PUT are supported.

[2016-06-21 19:22] marych commented on #298
@angelgolfer-ms https://github.com/OfficeDev/microsoft-graph-docs/blob/master/api-reference/beta/api/profilephoto_update.md is the doc to be updated from PATCH to PUT.

[2016-06-21 21:34] ArieJones opened #354 "Members not returned from mail-enabled security groups"
When trying to pull a list of members for a mail-enabled security group we are getting zero records returned.

https://graph.microsoft.com/beta/groups/44a23765-75ae-4b29-843e-9a7c2c4712a3

although this group has 1 assigned member. We have attempted this with other similar mail-enabled security groups as well as using the online graph explorer. None of them function correctly even though the docum

[2016-06-22 06:49] angelgolfer-ms commented on #298
Thanks, @marych , the docs have been updated per #357 . @biste5 , we apologize for the delay and thank you for your continued support.

[2016-06-22 07:51] SageEx commented on #352
The solution is to use the optional `state` parameter as part of the request body. It will be echoed back as part of the redirect URL.

[2016-06-22 07:51] #352 closed

[2016-06-22 17:07] marych commented on #354
Hi @ArieJones. As per https://graph.microsoft.io/en-us/docs/api-reference/beta/api/group_list_members the request to get the list of group members is `GET /groups/<id>/members`, e.g. https://graph.microsoft.com/beta/groups/44a23765-75ae-4b29-843e-9a7c2c4712a3/members. The same pattern applies to all the other group relationships listed in the documentation. You need to append the relationship name

[2016-06-22 17:18] ArieJones commented on #354
Please reopen this..... I was providing you the link to the group so that you could research what the issue was...
Using this
https://graph.microsoft.com/beta/groups/44a23765-75ae-4b29-843e-9a7c2c4712a3/members

You get the following from Graph Explorer..

{
    "@odata.context": "https://graph.microsoft.com/beta/$metadata#directoryObjects",
    "value": []
}

[2016-06-22 17:46] marych commented on #354
You could please provide request-id and timestamp of the request? How do you confirm that the group has an assigned member?

[2016-06-22 17:49] ArieJones commented on #354
How do I get the request-id from the graph explorer? I just now did another query with the same results.

We confirmed that there are members in the group by looking a the Azure Portal. This group has one assigned member.

[2016-06-22 17:50] ArieJones commented on #354
Ah-ha Response Headers

{
    "cache-control": "private",
    "content-type": "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8",
    "request-id": "49f96f7c-6dc0-461d-b969-9200fd47c3b3",
    "client-request-id": "49f96f7c-6dc0-461d-b969-9200fd47c3b3"
}

[2016-06-23 23:08] marych commented on #354
Thank you for reporting the issue @ArieJones. It's a recent regression related to organizational contacts not being returned by the /beta version. The object that is a member of that group is a contact. Right now /beta/groups/id/members returns only group and user members. We're working on a fix.
As a note - /v1.0/groups/id/members is not expected to return contact members as the orgContact entity

[2016-06-24 00:09] chauey opened #364 "Is there any json/xml file for the operations/path? Any TypeScript library?"
I saw this, but it does not have enough info to generate functions and paths? https://graph.microsoft.com/beta/$metadata

Is there any TypeScript library to make all the MSGraph calls? advice? plans? timelines? thx!

[2016-06-24 18:04] cbales opened #365 "Ambiguous "Tasks" language in documentation navigation"
Currently there is some ambiguity in the language used to document [Tasks](https://graph.microsoft.io/en-us/docs/api-reference/beta/resources/task). It is not made clear that these are _Planner_ tasks and not _Outlook_ tasks. You can see in Office365 that Tasks [has its own tile](https://cloud.githubusercontent.com/assets/2273297/16346272/3f173124-39fb-11e6-8924-ea8a0faefe16.PNG), but is a sub pro

[2016-06-29 05:44] raybaranoski commented on #135
Hi, is this specific to OneDrive or does this also apply to OneDrive For Business?  I am having difficulty getting thumbnails via the Graph api for OneDrive For Business.  I can get the urls fine, but I can't get the urls to load and you can't just put the url in an img tag.  I posted the details at [](http://stackoverflow.com/q/38065469/6512942)...  Any help would be appreciated...  Thanks

[2016-06-29 16:54] ArieJones commented on #354
Any kind of update on this? We have a project that is in a holding pattern right now.

Thanks,
AJ

[2016-06-30 08:07] VitorX opened #370 "Is the Plan/Task API available for Microsoft Graph?"
Always get the error **The resource you are looking for might have been removed, had its name changed, or is temporarily unavailable** when I get the plans like below:

GET:https://graph.microsoft.com/beta/me/plans

Refer to the [document](https://graph.microsoft.io/en-us/docs/api-reference/beta/api/user_list_plans)

[2016-06-30 18:33] #294 closed

[2016-06-30 18:35] callmeradical opened #371 "allowExternalSenders on Unified Group not updating"
When creating a group with mailEnabled == True, and GroupType == Unified, you are able to create a PATCH request to allowExternalSenders = true, response comes back as 204, but fails to update the allowExternalSenders property.

[2016-06-30 18:37] callmeradical opened #372 "Unable to create mailEnabled groups"
The documentation for create groups incorrectly states that you are able to create a distribution list by settings SecurityEnabled to False and MailEnabled to True.

The response is
[code]

[2016-07-04 16:15] dkershaw10 opened #380 "Add information about permissions required to access IP data"
All API operations for Identity Protection are missing the “required permissions” section – for example:  https://graph.microsoft.io/en-us/docs/api-reference/beta/api/anonymousipriskevent_list

Also in https://graph.microsoft.io/en-us/docs/authorization/permission_scopes there’s no mention of the new permission added for the Identity Protection service (I think it was something like IdentityRiskEv

[2016-07-05 11:47] sokobanjafox opened #381 "Problems When reading certain entity attributes from graph"
This is example of one request that I make, for example for User entity:

https://graph.microsoft.com/beta/users?$select=aboutMe

It fails. There are numerous properties from this, and other entities that make me problems. It's sure that I don't want to fetch entire entities, so I always just select properties I need. Reponse that I get here is usually "Internal Server Error". Here, I provide full

[2016-07-05 17:50] marych commented on #354
We have the fix ready, but it will take a few weeks to have it deployed globally. It involves changes in a core Azure Active Directory component and since only /beta is affected it will not be rolled out in emergency mode. We're sorry for the long wait time.

[2016-07-07 00:03] #298 closed

[2016-07-07 07:21] biste5 commented on #298
Thanks @marych and @angelgolfer-ms for your support!
I can confirm now beta endpoint updates the profile picture correctly, so issue could be indeed closed. I was just still performing some tests to ensure both endpoints can update the picture in Delve/SP too, but this is taking a bit of time from me, to perform correct tests and waiting to verify how long it takes to propagate.

[2016-07-07 09:46] angelgolfer-ms commented on #298
@biste5 , good to hear that updating profile picture is working as expected!

Cheers,
angelgolfer-ms

[2016-07-11 19:38] martellaj opened #383 "nit: Incorrect wording on contribute call to action"
The call to action to contribute should be "Edit **on** GitHub", rather than "Edit **in** GitHub".

![image](https://cloud.githubusercontent.com/assets/1019478/16744074/338b7916-4764-11e6-9e4e-6fdd7d9e50fc.png)

[2016-07-11 21:23] #141 closed

[2016-07-11 21:23] yinaa commented on #141
no op for this repo

[2016-07-12 14:53] jbarr33 commented on #115
As the main page doc page for "Microsoft Graph app authorization" (http://graph.microsoft.io/en-us/docs/authorization/app_authorization), it should talk about how to handle (the expiration of) refresh tokens or at least link to somewhere else that does. After reading the page I did think it was a great overview but a critical part of the process is using refresh tokens which is really missing. The

[2016-07-13 18:24] gcrev93 opened #384 "$orderby"
There is no documentation or values available to print calendar events in order of what time they occur during the day. the start values all start at 0 minutes and all end values end at 30. Am i missing something?

[2016-07-13 19:54] gcrev93 commented on #384
There is no value that state the correct start time and end time. As mentioned earlier start time says 0 , end time says 30. Why isnt there a value that states that an event starts at 3 PM?

[2016-07-13 20:14] #384 closed

[2016-07-15 21:27] bdares commented on #259
I can verify that `parentReference` is now returned in the `remoteItem` facet.

[2016-07-15 21:27] #259 closed

[2016-07-18 00:06] rogerthealien opened #385 "Missing information about Webhooks"
Hi,

I'm trying to set up email notifications for client-facing app I'm developing, using this: ```https://graph.microsoft.io/en-us/docs/api-reference/v1.0/resources/subscription```. Everything works fine (thanks Microsoft Graph) and I'm able to set up notifications for specific folders, such as: ```https://graph.microsoft.com/v1.0/me/mailfolders('inbox')/message```. My question is, would it be po

[2016-07-18 22:41] angelgolfer-ms commented on #385
Hi @rogerthealien ,
At the moment, you can use $filter when creating a subscription on the Outlook endpoint only (both v2.0 and beta of that endpoint).
Look for the docs in the section "Refining notification conditions" here please: https://msdn.microsoft.com/en-us/office/office365/api/notify-rest-operations#subscribe-to-changes-in-my-mail-calendar-contacts-or-tasks

Cheers,
angelgolfer-ms

[2016-07-21 14:32] jbarr33 opened #388 "Are we supposed to submit issues on the actual API code here or just documentation?"
I can't tell if I'm supposed to be submitting issues on the just the documentation or report issues on the API code not functioning correctly.  This is the "microsoft-graph-docs" repository but I am seeing code issues being reported.

I see this in other GitHub repos that link from Microsoft docs also. It's confusing because there is User Voice too, and forums.

Thanks,
Jim

[2016-07-21 19:40] EdAlexander commented on #59
Any updates on timing for large file support (chuncked upload)?

[2016-07-21 20:39] angelgolfer-ms commented on #388
Hi @jbarr33 ,
Please submit:
- Documentation issues or actual pull requests for the docs on GitHub
- Code and API issues on [Stackoverflow](http://stackoverflow.com/questions/tagged/microsoftgraph), tagging them with "microsoftgraph"
- Suggestions and requests for features, code samples, architecture guidance on [UserVoice](https://officespdev.uservoice.com/)

We're working on clarifying this mess

[2016-07-21 20:39] #388 closed

[2016-07-24 16:40] jimbarrett33 opened #389 "Add documentation on which $filter operators and functions are available; ex. eq, ne, startswith(...)"
The Overview page shows example of eq and startswith() but I was not able to find a reference on this. I was trying to use "endswith()" but Graph came back with "the resource could not be found".

https://graph.microsoft.com/v1.0/me/drive/root/children?$select=name&$filter=endswith(name,'x')

I also tried contains() and substring() which also do not work.

Is this just going to be a trial and erro

[2016-07-25 08:32] VitorX opened #390 "The scope of subscribedSkus REST"
The document is unclear about the scope of subscribedSkus REST. Check the document [here](http://graph.microsoft.io/en-us/docs/api-reference/v1.0/api/subscribedsku_list)

Based on the test, it require the scope of `Directory.AccessAsUser.All`, is there any other scope could work for this REST?

[2016-07-25 20:40] dianadkle opened #391 "Difference between GET request with /me/events and /me/calendars/<id>/events/<id>"
After some testing, I noticed that both of the methods  /me/events and /me/calendars/<id>/events/<id> will return the same event object regardless of what calendar it is.  My question is in which cases would I then want to specify a calendar ID given that I can simply grab the same event with just an event ID?  Are event IDs also unique across all calendars?

[2016-07-26 02:27] VitorX opened #392 "The sample of creating plan doesn't work"
POST https://graph.microsoft.com/beta/me/plans
    Content-type: application/json
    Content-length: 88

    {
      "createdBy": "createdBy-value",
      "owner": "owner-value",
      "title": "title-value"
    }
Check the document [here](http://graph.microsoft.io/en-us/docs/api-reference/beta/api/user_post_plans). But if I remove the **me** in the request URL, it worked! Is the document incorre

[2016-07-26 14:35] marych commented on #354
The fix was deployed on 7/12 and the issue should no longer occur.

[2016-07-26 14:35] #354 closed

[2016-07-27 08:00] angelgolfer-ms commented on #391
@dianadkle , event IDs are unique across all calendars in the same mailbox.

If you are accessing a specific event, use /me/events/{event_id} and not /me/calendars/{calendar_id}/events/{events_id} because of the ambiguity of the latter.

You can, however, use /me/calendars/{calendar_id}/events to access the events collection of a specific calendar.

Cheers,

angelgolfer-ms

[2016-07-27 08:00] #391 closed

[2016-07-27 17:16] biste5 opened #393 "Query parameters $orderby, $skip aren't working"
Trying to make use of mentioned query parameters, also trying examples from documentation
[Microsoft Graph optional query parameters](http://graph.microsoft.io/en-us/docs/overview/query_parameters)

for instance (from documentation page linked)
`https://graph.microsoft.com/v1.0/me?$orderby=createdDateTime&$skip=20`
returns a 400 response code, with detailed error message _"OrderBy not supported."_

[2016-08-04 01:05] dianadkle opened #403 "Are timezones fixed?"
Do the time zones adjust themselves in observance of Daylights Savings Time?

[2016-08-04 23:27] jimbarrett33 opened #407 "How do you filter by file type with OneDrive files?"
The $filter and search examples don't cover this.  Is it possible?

Thanks.

[2016-08-09 00:46] rogerthealien commented on #385
Hi @angelgolfer-ms,

Thanks for the suggestion. I tried using Outlook to set up subscriptions but that doesn't seem to work at all. Below is some angular (pretty self-explanatory) code to create the subscription. The same code works as expected if I change the endpoints to `graph.microsoft.com` endpoints (the reason I'm not changing them is because I want to use `$filter` later).

[code]
The respo

[2016-08-09 01:00] VitorX opened #409 "Document is unclear about OData query parameters( search for an item)"
From the document [here](http://graph.microsoft.io/en-us/docs/api-reference/v1.0/api/item_search), the item search should support the **OData Query parameters** **expand**. But from the test, it doesn't work for expand the thumbnails.

Is the document incorrect?

[2016-08-09 17:58] #385 closed

[2016-08-09 21:05] angelgolfer-ms commented on #385
@rogerthealien , you're correct; I also verified that you needed to specify an odata.type for PushSubscription in the O365 case because the O365 metadata defines a PushSubscription type as inheriting from Subscription, and NotificationURL is defined in PushSubscription, not in Subscription. In the Microsoft Graph metadata, Subscription includes notificationUrl.

Thanks for bringing  up the confusi

[2016-08-10 18:14] MIchaelMainer opened #411 "Specified scopes for user: getMemberObjects are incorrect"
Confirmed that User.Read and User.ReadWrite from a non admin account are insufficient to access member objects.

From: https://github.com/microsoftgraph/msgraph-sdk-dotnet/issues/33

[2016-08-11 18:20] dkershaw10 commented on #411
Actually the whole topic is completely wrong and needs fixing.   It should mirror the information here: https://msdn.microsoft.com/en-us/library/azure/ad/graph/api/functions-and-actions#getMemberObjects.  The example requests aren't even valid and cannot be run on the manager link AFAIK.
As for permissions, for a full result set you would need Directory.Read.All

[2016-08-13 01:06] jbarr33 opened #416 "Provide documentation on Status Code "429" Too Many Requests"
It would be great is there was some documentation or guidance on application throttling (the error is below). While developing with the Excel Online API's I get this error a lot.  I think I have figured out how to avoid during development by using a different workbook but for production apps the design must incorporate how to avoid these limits. For example, if an app can only make "x" requests in

[2016-08-15 20:00] keyur32 commented on #389
Thank you for the feedback, we are in the process of identifying gaps in our documentation and more clear documentation about the support filters is one of the items on our list.

[2016-08-15 20:20] #169 closed

[2016-08-15 20:20] keyur32 commented on #169
I think this was resolved some time back. Please let me know if you still see issues like these.

[2016-08-15 21:30] keyur32 commented on #89
Closing this for now.

[2016-08-15 21:30] #89 closed

[2016-08-15 21:36] #118 closed

[2016-08-15 21:46] keyur32 commented on #365
Thank you for the feedback. We are looking at the IA of the Table of contents and titles and will take this feedback as part of that conversation.

[2016-08-15 21:46] #365 closed

[2016-08-15 21:47] keyur32 commented on #127
@marych, please update and close this issue if addressed.

[2016-08-15 21:49] #207 closed

[2016-08-15 21:53] #142 closed

[2016-08-15 21:56] #133 closed

[2016-08-15 21:56] keyur32 commented on #139
This issue was resolved a few months back. Closing as fixed. Let us know if you see any other issues with the documentation.

[2016-08-15 21:56] #139 closed

[2016-08-16 21:59] marcussaad opened #426 "Impossible to filter event by organizer email address"
Calling `/v1.0/me/events?$filter=organizer/emailAddress/address eq 'WHATEVEREMAIL&$select=createdDateTime, organizer, start, end, attendees&$orderby=createdDateTime desc&$top=1` returns :

[code]

Any ideas..?

[2016-08-18 21:23] rogerthealien commented on #385
Hi @angelgolfer-ms,

Not sure where to report this, but based on the O365 documentation here: https://msdn.microsoft.com/en-us/office/office365/api/notify-rest-operations, O365 notifications should include a "ClientState" field in the payload of the POST request, if the subscription request declares one.

In my case:

[code]
This succeeds, and the notification mechanism works as expected, but the

[2016-08-24 17:48] coreyrowell commented on #59
Updates on when > 4mb uploads will be supported?

[2016-08-24 17:49] coreyrowell opened #433 "File uploads > 4mb still unavailable?"
https://github.com/OfficeDev/microsoft-graph-docs/issues/59

[2016-08-26 16:04] cbales opened #441 "User_List_Approleassignments missing from Github and functioning incorrectly"
I am looking at documentation for the following beta endpoint:

https://graph.microsoft.io/en-us/docs/api-reference/beta/api/user_list_approleassignments

Running the given command through the Graph Explorer:

`GET https://graph.microsoft.com/beta/me/appRoleAssignments`

throws the following error:

`{
    "error": {
        "code": "BadRequest",
        "message": "Unsupported segment type. OData

[2016-08-26 17:21] OneDriveAutomation commented on #407
@jbarr33 It's not really possible today. OneDrive for Business doesn't the depth of $filter syntax necessary to make this work. It's on our backlog though.

[2016-08-26 20:50] Sammons opened #442 "PUT /users/:id/photo/$value fails even with Users.ReadWrite.All (beta)"
SCP value is : Directory.AccessAsUser.All Directory.ReadWrite.All Group.ReadWrite.All offline_access User.Read User.ReadBasic.All User.ReadWrite.All

[code]

[code]

but the docs say here https://graph.microsoft.io/en-us/docs/api-reference/beta/api/profilephoto_update that this should work.

[2016-08-27 23:49] jbarr33 commented on #407
OK.  Thanks for the reply.  If you have any workarounds to find only Excel files and that "contains" a match on file name please let me know. Currently, I am using search with an AND like below but it doesn't work that well because search doesn't always (or at all) match on file name.

`https://graph.microsoft.com/v1.0/me/drive/root/search(q='<name filter>%20AND%20.xlsx')`

[2016-08-29 14:45] Ryanz20 opened #445 "Cannot access SharedWithMe Folder"
Hello,
I am trying to download the content of the items of a shared folder using the graph api. I am able to retrieve the basic details by using the /v1.0/me/drive/sharedWithMe request.

![2016-08-29_10h40_45](https://cloud.githubusercontent.com/assets/21312695/18055246/11929104-6dd5-11e6-8ec6-5bb1d7a8e4b0.png)

However when I try and request the contents of the folder using the '/drives/remoteIte

[2016-08-29 16:18] AndrewCEmil opened #446 "404 Downloading OneDrive content from Microsoft Graph"
I am trying to download the content of a onedrive item via the microsoft api.  However, no matter the method I use, I get 404 responses.  Here is a reproduction of the problem in python/requests

    import requests
    import json

    root_url = "https://graph.microsoft.com"
    base_path = "/v1.0/<tenant_id>/users/<user_name>/drive/items/"
    item_id = "ABCD1234"
    token = "AVERYLONGTOKEN"

[2016-08-29 18:45] MIchaelMainer commented on #445
Hello @Ryanz20,

Thank you for posting this question. This repo is for the Graph API documentation. Please feel free to ask questions about the documentation, or make changes to the documentation in this repo. For questions about the API, please post the question in StackOverflow using the [microsoftgraph](http://stackoverflow.com/questions/tagged/microsoftgraph) tag. That way, the answer to your

[2016-08-29 18:52] MIchaelMainer commented on #446
Same question on SO:

http://stackoverflow.com/questions/39150869/404-downloading-onedrive-content-from-microsoft-graph

[2016-08-29 19:42] Ryanz20 commented on #445
Hi Michael,
Sorry for the confusion.

I have posted my question on stackoverflow [here](http://stackoverflow.com/questions/39213927/cannot-access-sharedwithme-folders-via-microsoft-graph-api).

Thanks!

[2016-08-29 20:44] MIchaelMainer commented on #445
@Ryanz20, no problem. Thank you for posting on StackOverflow! If the documentation was the source of your confusion, or if there is a way that we could improve it, we'd love to hear your feedback, or take your pull request.

[2016-08-29 20:47] MIchaelMainer commented on #445
Actually, it looks like the documentation should refer to remoteItem.parentReference.drive.Id as the segment value. Thank you for bringing this up.

[2016-08-29 20:47] #445 closed

[2016-08-31 22:25] wesley-dynamicowl opened #450 "findMeetingTimes API call does not observe MeetingDuration parameter"
When using the findMeetingTimes API endpoint (https://graph.microsoft.io/en-us/docs/api-reference/beta/api/user_findmeetingtimes), all meeting suggestions default to 30 minute time slots - even when a custom duration is specified.

Example - ~~4 hours~~ 2 hours

[code]

Returned meeting times are in 30 minute blocks, even though they should be in 2 hour blocks specified in the request.

I know tha

[2016-08-31 23:11] marych commented on #442
@sumurthy - user photo can only be updated with User.ReadWrite scope as far as I know. Your https://github.com/OfficeDev/microsoft-graph-docs/commit/38e45cb9b67b75c6773111523b630c667c666c71 changed profilephoto_update.md to indicate that User.ReadWrite.All should allow updating any user photo, but I don't think that is supported. Is it a new feature or should that documentation change be reverted?

[2016-08-31 23:21] Sammons commented on #442
I've noticed this isn't true with all orgs, it works with a different test org on users without exchange accounts.

[2016-08-31 23:43] marych commented on #441
User entity type doesn't currently have appRoleAssignments property. I suspect that documentation page was removed on purpose from GitHub. It looks like it's still linked in the menu though (beta ->users -> directoryObjects -> List appRoleAssignments). It should be removed from the menu until such property is added.

[2016-08-31 23:54] marych commented on #442
@Sammons - do you have a request-id & timestamp of a working request with no User.ReadWrite scope in the token?

[2016-09-01 00:03] Sammons commented on #442
@marych sure, here is an example of an admin user modifying a different user:

request

[code]

the body is binary, the scp of the jwt is:
[code]

result

[code]

[2016-09-01 02:52] marych commented on #442
This is a side effect of the Azure Active Directory fallback that we enabled for /**beta**/users/id/photo requests in April (see https://graph.microsoft.io/en-us/changelog#). /**v1.0**/users/id/photo is only available to users with Exchange license, so the plan is to enable access to user photo also for users without Exchange license. There are currently a few known differences in how the API work

[2016-09-01 05:08] Sammons commented on #442
In the future will User.ReadWrite.All let us write to photo for users with an Exchange license? Or some other scope? It is severely limiting to our application to require every user to individually log into our application in order to set their photo - since we'd like to modify users using admin credentials.

[2016-09-01 13:40] marych commented on #246
The fix was deployed and I can no longer repro the issue.

[2016-09-01 13:40] #246 closed

[2016-09-01 13:53] marych commented on #127
This has been fixed - the above request now returns an error message explaining that OrderBy DESC is not supported.

[2016-09-01 13:53] #127 closed

[2016-09-01 14:23] marych commented on #135
It applies to OneDrive for Business. The rollout of the fix has been delayed/blocked by a consuming application relying on the current URL format.

[2016-09-01 15:59] marych commented on #393
User entity type doesn't have a createdDateTime property and thus the first request fails. According to description the request should be for /me/events and not just /me. I created pull request https://github.com/OfficeDev/microsoft-graph-docs/pull/451 to correct that example. It looks like it was accidentally broken by https://github.com/OfficeDev/microsoft-graph-docs/commit/71a81beb2a4bc38df3d69

[2016-09-01 17:00] marych commented on #392
me/plans is a read-only collection of plans shared with the signed-in user as per https://graph.microsoft.io/en-us/docs/api-reference/beta/resources/user. https://graph.microsoft.io/en-us/docs/api-reference/beta/api/plan_post_plans documents plan creation. The document that you referenced was deleted from GitHub and should not be linked from anywhere - how did you find it?

[2016-09-01 20:30] marych commented on #381
Contact schema has recently changed on the /beta endpoint - see https://blogs.msdn.microsoft.com/exchangedev/2016/06/09/upcoming-changes-to-contacts-and-people-apis/ which is the reason why your requests were failing for some of the properties that were removed from the schema. MS Graph documentation was updated via https://github.com/OfficeDev/microsoft-graph-docs/commit/daec19c0043290094b24b709e

[2016-09-01 22:25] marych commented on #370
Hi @VitorX - could you please provide request-id and timestamp for investigation?

[2016-09-01 22:54] marych commented on #442
Unfortunately the is no plan currently to allow admins to store other user photos in Exchange. Could you raise it at https://officespdev.uservoice.com/forums/224641-general/category/101632-microsoft-graph-o365-rest-apis ?

[2016-09-02 11:49] KapteinBabbalas commented on #238
Hi Vanta

Id did it from postman it like this

POST /beta/subscriptions HTTP/1.1
Host: graph.microsoft.com
Authorization: Bearer eyJ0eXAiOiJKV1Q....eT6RG3jJw
Content-Type: application/json
Cache-Control: no-cache
Postman-Token: 4b056f29-126d-057f-xxx-8ea4102da994

{
   "changeType": "created,updated",
   "notificationUrl": "https://mywebapi/OutlookWebhook/Created",
   "resource": "Users/<userId>@<

[2016-09-03 18:22] vanta commented on #238
@KapteinBabbalas Did you use application-only token? I don't want to create subscription using user's token, as I don't have it.

[2016-09-04 07:38] KapteinBabbalas commented on #238
@vanta

Yes I use the token for the app-only token:

[2016-09-04 07:46] KapteinBabbalas commented on #238
**Step 1 Get Azure AD Graph API Endpoint**
![0](https://cloud.githubusercontent.com/assets/2060705/18229746/49ae1c3a-7284-11e6-96d0-1514c820a8f2.JPG)

**Step 2 Get Token Using Azure AD Graph API Endpoint**
![1 token](https://cloud.githubusercontent.com/assets/2060705/18229713/6257cb10-7283-11e6-8161-872558fec331.JPG)

**Step 3 Get Users**
![2 getusers](https://cloud.githubusercontent.com/assets/20

[2016-09-04 18:53] vanta commented on #238
This works for emails and contacts only, as described on changeling site of
Graph. I need it working for calendars...

niedz., 4 wrz 2016, 09:46 użytkownik KapteinBabbalas <
notifications@github.com> napisał:

[2016-09-05 10:28] KapteinBabbalas commented on #238
@vanta

change the resource to 'events'

`{
   "changeType": "created,updated,deleted",
   "notificationUrl": "https://xxxx.com/OutlookWebhook/Created",
   "resource": "Users/4ceb48b0-9b9a-4503-xxx-482213f145bd@91874627-xxxx-xxxx-b007-b7123f63e313/events",
   "expirationDateTime":"2016-09-05T20:23:45.9356913Z",
   "clientState": "subscription-identifier"
}`

I have tesetd this and it works

[2016-09-05 10:40] vanta commented on #238
Interesting, nothing in changelog about it. Will check it!

On Mon, Sep 5, 2016 at 12:28 PM, KapteinBabbalas <notifications@github.com>
wrote:

--
Krzysztof Wolny

[2016-09-08 00:14] rgregg commented on #135
Good news folks: we're rolling out the fix to this to our Microsoft tenant starting today, and assuming everything goes well, we'll start rolling the fix out to everyone next week. The existing issue that was blocking this fix has been mitigated and we should have this problem resolved very soon.

[2016-09-08 08:38] GregSpyra opened #460 "proxyAddresses out of sync with O365 Exchange Online / Read-Only"
There is a following issue with User entity.
Using Microsoft Graph, when SKU Plan for Exchange is disabled _proxyAddresses_ attribute is emptied. After SKU Exchange Plan re-enablement the _proxyAddresses_ attribute is not in sync with messaging system but it gets a single value based on a _mail_ attribute.
**Before**:

[code]

**After**:

[code]

Business users don't receive any emails for the alt

[2016-09-09 07:56] vanta commented on #238
I cannot make it work... Can I use email instead of userId? I still get:
[code]

[2016-09-09 10:10] mikeholtkamp opened #463 "Response and example response doesn't match"
The documentation has some inconsistencies when it comes to the part of Response and the example Response. The status codes doesn't match see the image bellow
at least the create event and delete event has som inconsistencies

![incons](https://cloud.githubusercontent.com/assets/4245625/18383488/272ee9d6-7686-11e6-894e-97541ea9a188.png)

[2016-09-09 18:16] #463 closed

[2016-09-09 21:20] itaybleier commented on #238
I am also getting `"An error has occurred."` same as @vanta when using the /beta for mail subscription. If I try to use v1 I get `"Application-Only subscription requests are not currently supported"` (although according to documentation it should work).

I am using app tokens, not user tokens.

@vanta - you mentioned you got it to work for mail, can you suggest what I'm doing wrong? Thanks!

[2016-09-12 06:17] VitorX commented on #392
I open the document of Microsoft Graph from http://graph.microsoft.io/en-us/docs/. Then navigate the page by /Beta Reference/Tasks/Plan/Create Plan. It seems still able to find now.

[2016-09-12 06:19] VitorX commented on #370
Thanks for your response. The issue seems be fixed. The API works now.

[2016-09-12 06:19] #370 closed

[2016-09-12 22:04] PatAltimore commented on #380
Permission scopes have been updated for identity protection APIs.

[2016-09-12 22:04] #380 closed

[2016-09-14 19:10] vanta commented on #238
@itaybleier No, I didn't. It was stated on MS Graph site that it works for emails and contacts.

@KapteinBabbalas Can you check it with user's email instead of user id?

[2016-09-15 12:50] KapteinBabbalas commented on #238
@vanta

it works using an email adress ( at least for inbox, so it should work for calendar)

{
   "changeType": "created,updated,deleted",
   "notificationUrl": "https://cccc/OutlookWebhook/Created",
   "resource": "Users/name@mycompany.com/mailFolders('Inbox')/messages",
   "expirationDateTime":"2016-09-15T20:23:45.9356913Z",
   "clientState": "subscription-identifier"
}

[2016-09-15 15:17] marych commented on #392
@sumurthy - could you please make a menu change to reference http://graph.microsoft.io/en-us/docs/api-reference/beta/api/plan_post_plans instead of http://graph.microsoft.io/en-us/docs/api-reference/beta/api/user_post_plans for the "Create plan" menu item?

[2016-09-16 09:16] vanta commented on #238
I still got an above error for whatever reason... No details to investigate :/

[2016-09-17 01:32] marych commented on #372
Leave a comment

[2016-09-17 01:32] #372 closed

[2016-09-20 03:27] yinaa commented on #433
Large file (> 4MB) is now supported:
https://dev.office.com/blogs/onedrive-webhooks-and-large-uploads-with-microsoft-graph

[2016-09-20 03:27] #433 closed

[2016-09-21 02:36] mattgeim commented on #446
I'm closing this issue as it appears that the SO question has the answer - please feel free to reopen if you still are running in to an issue where we can update the documentation to clarify.

[2016-09-21 02:36] #446 closed

[2016-09-22 21:11] coreyrowell opened #495 "OneDrive personal createUploadSession - PUT returns 401 Unauthorized"
Using my business account the flow works fine. Only when using a personal account am I encountering the issue.
1. Successfully generate tokens using oauth2 flow
2. issue a POST to `https://graph.microsoft.com/beta/me/drive/root:/{path_to_item}:/createUploadSession` which gives the upload session url
3. Chunk the file into manageable chunks
4. Issue a PUT for each chunk to the returned upload sessi

[2016-09-23 20:01] johnanburg commented on #495
I seem to be hitting the same issue on `api.onedrive.com`. Personal accounts receive a 401, the directory structure is created but the file isn't.

[2016-09-26 14:13] Codeklopper opened #507 "Update contact in: name not updated for initial mail address (beta)"
I tried to update a name of an emailAddress object for a contact. It returned a successful response, but did not update the name of the address. This only happens with the name for the address of the initial email address of the created contact.

Example payload of a contact update request, which is not working. I want to change "John Doe" to "Jane Doe":

[code]

This will return the full contact

[2016-09-26 17:13] dan-silver commented on #364
Hey @chauey!  We just published a [javascript library](https://github.com/microsoftgraph/msgraph-sdk-javascript) for making graph requests and [typescript definitions](https://github.com/microsoftgraph/msgraph-typescript-typings) for graph objects.  This is currently in preview and would love your feedback!

[2016-09-26 17:26] chauey commented on #364
awesome! we'll have a look! thx!

[2016-09-27 00:53] Superpluisje commented on #43
@rgregg I would like to inform you that there is still no 'Access-Control-Allow-Origin' header to be found on @content.downloadUrl URLs. Javascript is not able to download any content from OneDrive via XMLHttpRequests, which the documentation page @Mike-Bell mentioned before is still suggesting as working.

[2016-09-28 12:38] sharmajnu opened #515 "Upload bytes to the upload session fails IE with error XMLHttpRequest: Network Error 0x80070005, Access is denied."
We are trying to upload file to Office 365 groups drive using upload session. The session is created fine and while uploading to the endpoint received we get
SCRIPT7002: XMLHttpRequest: Network Error 0x80070005, Access is denied.

The same code works fine in chrome, we are using XmlHttpRequest to send the PUT request, we also tried Jquery and angular 2 http service to send the request all results

[2016-09-29 02:57] VitorX opened #519 "About the Directory.ReadWrite scope"
From the [Create User](https://graph.microsoft.io/en-us/docs/api-reference/beta/api/user_post_users) document, there is **Directory.ReadWrite** scope.

But it is not able to find the **Directory.ReadWrite** scope from [here](https://graph.microsoft.io/en-us/docs/authorization/permission_scopes). And I got the error like below when I request the token with this scope,

_AADSTS70011: The provided va

[2016-09-29 12:18] mikeholtkamp opened #521 "Azure AD Renew expiring access token using refresh token"
According to the documentation an redirect_uri parameter is needed to refresh your access_token. By incident I forgot to send the redirect_uri in a request and that request returned a status 200. So either the documentation is incorrect or this is a api bug

[2016-09-29 17:26] Lauragra commented on #519
Thanks for pointing that out - we have fixed the permission scope in the Create user topic.

[2016-09-29 17:26] #519 closed

[2016-09-30 02:04] dstrockis commented on #521
I think it should only be required on auth code grant requests, not on refresh token. Should probably check the Oauth spec and run a test to confirm.

[2016-10-01 21:09] panjkov opened #528 "SharePoint Graph API - enumerate subsites and hierarchy - not enough data returned"
Refering to https://graph.microsoft.io/en-us/docs/api-reference/beta/api/subsites_list
How will the SharePoint Graph API handle nested subsites in return collection?

As of now, the subsites_list returns only collection of items that contain only ID and Name of the subsites. The displayed properties do not describe in any way:
-Site URL
-Site hierarchy within site collection.

Any plans to address

[2016-10-01 21:12] panjkov commented on #528
This also makes impossible to perform "get site by url" call after I get list of subsites, as the site url is not retrieved when "Lst Subsites" call is performed

[2016-10-01 21:29] panjkov commented on #528
Posted the above also as an ide on uservoice here https://officespdev.uservoice.com/forums/224641-general/suggestions/16454263-sharepoint-graph-api-list-subsites-results-shou

[2016-10-03 12:39] GregSpyra commented on #460
As see no significant progress on this issue did some further investigation and the same problem occurs when:
_SKU licenses with the same Plan, i.e. Exchange, are changed for the user. When user had E1 license with Exchange and was assigned E3 with Exchange this operation causes ProxyAddresses hiccups._

*Note, there are other issues related to Azure AD <> Exchange online sync including _mail_ att

[2016-10-03 12:40] GregSpyra commented on #460
As see no significant progress on this issue did some further investigation and the same problem occurs when:
_SKU licenses with the same Plan, i.e. Exchange, are changed for the user. When user had E1 license with Exchange and was assigned E3 with Exchange this operation causes ProxyAddresses hiccups._

*Note, there are other issues related to Azure AD <> Exchange online sync including _mail_ att

[2016-10-04 17:07] sanjaybhagia opened #532 "Documentation for function s in Excel REST API"
Is there any documentation around using functions in Excel REST api?
The only example i could find it for pmt function (/workbook/functions/pmt)

I have tried some other functions but didnt manage to get it working, even throuhkgh i tried to keep the parameters as ee have in Excel.

Thanks

[2016-10-05 08:53] Ibrahim-Islam opened #539 "What does id refer to in the task details body?"
[code]

What does `id` property [here](https://github.com/OfficeDev/microsoft-graph-docs/blob/master/api-reference/beta/api/taskdetails_update.md) is referring to? I am already passing the `id` of the task in the url.

[2016-10-05 12:23] daryltt commented on #495
I get a 401 error when uploading to a user's OneDrive for Business folder with an upload session.  It works fine when I upload a small file the normal way.

HTTP/1.1 401 Unauthorized
x-ms-diagnostics: 3000006;reason="Token contains invalid signature.";category="invalid_client"

{"error_description":"Invalid issuer or signature."}

Are these error messages the same for you?

I put the full details

[2016-10-06 06:06] VitorX opened #546 "add members for mail-enabled security group"
Based on the document [here](https://graph.microsoft.io/en-us/docs/api-reference/v1.0/api/group_post_members), it should support to add members for mail-enabled security group.

But I got the error message like below:
**message=Unable to update the specified properties for objects that have originated within an external service.**

Is the document incorrect?

[2016-10-06 07:26] estruyf opened #547 "Bug in beta end-point for retrieving site by its path"
In the documentation is written that you can retrieve a site by its path like this: `https://graph.microsoft.com/beta/sharepoint:/{site-path}`. If you try this out on a tenant you get the following error:

[code]

I knew from the past that the Graph API used caml casing, so I tried using share**P**oint in the end-point and noticed that this solved the problem.

[code]

[2016-10-07 13:27] fundenys opened #554 "CreateUploadSession to another drive of mine"
hi, (Sorry for my english, im french)
Im developping a internal ged with rest, im logging with my name, i create folder to ged onedrive (it's ok) (i create a user ged on office365 and i give full control to me)
I want to upload a file
I try  to create a session upload with this post:
https://graph.microsoft.com/v1.0/drives/{id drive of ged onedrive}/items/{folderid}:/{filename:/createUploadSession

[2016-10-07 14:04] fundenys commented on #107
Hi,
it s same to me with
https://graph.microsoft.com/v1.0/drives/{id shared drive}/items/{folderid}:/{filename:/createUploadSession

error is
{
    "error": {
        "code": "notAllowed",
        "message": "The action is not allowed by the system.",
        "innerError": {
            "request-id": "17d0c0f4-a775-4865-b958-e4277f3bd629",
            "date": "2016-10-07T14:00:09"
        }
    }

[2016-10-10 18:33] yinaa commented on #546
The document mentions that "you can add only users to Office 365 groups". We are working on enabling adding users to the other types of groups as well, but this functionality is not available at this point in time

[2016-10-11 12:18] MartinSSeifert commented on #81
@garethj-msft do you have any news regarding this issue?
@yinaa fyi :-)
PS: not supporting these characters will break people search for many countries!

[2016-10-11 20:01] ificator commented on #495
FYI: I've reproed the issue on OneDrive Consumer.

I'll take a look at the OneDrive for Business issue soon.

[2016-10-12 06:20] #546 closed

[2016-10-12 11:38] sameernyaupane commented on #495
Same issue here with using a personal account. Has this been solved yet? Thanks

[2016-10-12 12:58] jensdotbruggeman commented on #495
Same issue here with OneDrive for Business.  It would be great if this could be solved.

[2016-10-12 17:34] Rami-KH opened #559 "Find meeting times problem"
{
"error": {
"code": "ErrorAccessDenied",
"message": "Access is denied. Check credentials and try again.",
"innerError": {
"request-id": "ec3a5d39-5d12-4069-bb76-3a35b60ace59",
"date": "2016-10-12T12:44:12"
}
}
}
I Have added Calendars.ReadWrite.Shared & Calendars.Read.Shared permission for the app.

Is there any reason why this won't work?

[2016-10-12 19:20] angelgolfer-ms commented on #559
@Rami-KH - we're working on fixing an issue with the scopes required for findMeetingTimes. When that is fixed, the required scope remains to be Calendars.Read.Shared or Calendars.ReadWrite.Shared. We'll let you know when the fix is available. Thank you for your patience!

[2016-10-12 19:44] davogoga opened #560 "Accept/Decline events failed"
Hello there,
Could anyone help me with this...?
I have a problem when an user sends a request of accept/ decline an event.

Despite having all the data needed (bearer token) I always got the status 404 Not Found.

This is the request done in Postman
![request1](https://cloud.githubusercontent.com/assets/19927192/19325025/80e4b18a-9081-11e6-99e8-4f1cc0995433.png)

The weirdest thing is if I have a

[2016-10-12 21:51] wesley-dynamicowl opened #561 "findMeetingTimes API returns no results"
I'm trying to switch over to the newly updated `findMeetingTimes` API, but the success (200) response only includes a value for `@data.context`.  The rest of the response is missing

This is the response I get anytime a 200 is returned

[code]

Request:

[code]

I've also tried this body, which results in the same response as above

[code]

Note: This example is taken pretty much right from the do

[2016-10-13 04:35] callmeradical commented on #132
+1 this is particularly terrible. You can't even create distribution group. Updating groups yields unexpected results and rarely behaves the way as documented.

[2016-10-13 04:41] callmeradical commented on #372
This did not solve the issue. Documentation is still lacking in this area. The API does not behave anywhere near close to the documentation.

Particularly

"Default is false. Indicates if people external to the organization can send messages to the group. You can set this property in a PATCH request for the group; do not set it in the initial POST request that creates the group."

You cannot allow

[2016-10-13 12:43] figgsoftware commented on #515
Any update on this one? This bug is really hurting our application at our customers now.

[2016-10-13 16:13] ificator commented on #495
We've tracked down the issue with consumer and are pushing a fix - should expect it to go live next week.

Taking a look at the business repro now.

[2016-10-14 13:06] colthreepv opened #562 "How to filter contacts based off an email address"
I'm trying to filter users based off email address, ex: I would like to get a list of all my contacts working for "@domain.com"

`https://graph.microsoft.com/v1.0/me/contacts?$filter=contains(emailAddresses/address, '@domain.com')`

Response:

[code]

Is this kind of query even possible?
It would be ok also to check for equality, instead of `contains`
The issue seems to be that `emailAddresses` is

[2016-10-14 22:16] ificator commented on #495
You can read the StackOverflow link above for details, but I believe the issue @daryltt is encountering is related to the use of app-only tokens - OneDrive for Business via Graph does not, unfortunately, support their use at this time. @jensdotbruggeman, can you confirm that the same is true for your case? If not, I'll need some details of your failure to debug further.

[2016-10-16 18:53] jensdotbruggeman commented on #495
The application is a daemon process, so indeed it is an app-only token.  This is a bit disappointing that I need another authentication/implementation for the use case when the file is >= than 4 MB.
In the case the file is larger than 4MB, I should access the OneDrive API for Business? Does this work correctly for daemon processes?

[2016-10-17 20:43] dclohman commented on #559
Any updates to this fix?

[2016-10-18 05:09] AveAdam opened #566 "Unified Group details"
autoSubscribeNewMembers
allowExternalSenders
isSubscribedByMail
Cannot get these three properties for unified group.

[2016-10-18 09:52] vanta commented on #239
@marych Any change here? I need to load resources from company that has 27k+ users, max number of users I can get at once is 999, so I need to execute ~30 API calls to get all users and filter out most of them (I use empty givenname field as indicator for being a resource). This is unreasonable...

[2016-10-18 14:19] dmcweeney opened #567 "Get Organization is missing scopes required"
The page organization_get is missing the scopes required to execute the call.

Thanks

Donal

[2016-10-18 18:34] #64 closed

[2016-10-18 18:41] mattgeim commented on #128
Please feel free to re-open this issue if needed. Thanks!

[2016-10-18 18:41] #128 closed

[2016-10-18 18:43] mattgeim commented on #135
Feel free to re-open this issue if needed - it appears it has been resolved per @rgregg.  Thanks!

[2016-10-18 18:43] #135 closed

[2016-10-18 18:53] mattgeim commented on #442
Please feel free to reopen this issue if needed. Thanks!

[2016-10-18 18:53] #442 closed

[2016-10-18 19:10] rgregg commented on #528
Hi @panjkov: You actually get back a lot more information about subsites, but the documentation only shows those two properties. Here's an example of the subsite data we return from the API. I'll use this issue to track updating the docs to show all of the properties we return.

[code]

[2016-10-18 19:12] ificator commented on #495
@jensdotbruggeman You'll get further with app-only tokens by calling the OneDrive API directly, however there are still some issues. Specifically, you cannot actually download the content of any file :(. There's a work around to that using CSOM that I can track down if you want to go down that path.

[2016-10-18 19:20] rgregg commented on #528
I've updated the example response to be inclusive of these properties in commit a8603b5.

[2016-10-18 19:20] #528 closed

[2016-10-18 20:28] panjkov commented on #528
Thanks, @rgregg
it didn't work for me at all when I posted the issue so I couldn't play with it at the time (I also guessed that it might need to be accessed by expanding some of properties during the call). Now it works as you described and I can confirm it works.

[2016-10-18 21:07] sumurthy commented on #532
The documentation functions is limited given the number of functions available. We recently added a couple of samples under workbook resources. Look under functions section.
https://github.com/microsoftgraph/microsoft-graph-docs/blob/master/api-reference/v1.0/resources/workbook.md

If you have a specific function you'd like to use, please let us know and I can add the sample.

[2016-10-19 07:11] jensdotbruggeman commented on #495
@ificator  I had some issues while using app-only tokens with OneDrive API since it assumes Certificated-based Manifest application registration.  (graph.microsoft.com did not require this.)
When I create a new certificate and adjust the AAD Application Manifest,  keyCredentials - Value on the new Azure portal it gives me an error "Can not update the application ... Details :  KeyValueMustBeNull"

[2016-10-19 07:27] daryltt commented on #495
Yea, I've thrown the towel in too.  It seems that there aren't enough complete examples for app-only scenarios.

[2016-10-19 07:34] jensdotbruggeman commented on #495
I really want to achieve this, so with some help no problem to create an example for app-only scenario. :)

[2016-10-19 17:54] ificator commented on #495
To those who were having issues with OneDrive for Consumers, the issue should now be resolved.

[2016-10-19 21:19] marych commented on #239
@VenkatAyyadevara-MSFT - are there any plans to expose rooms via REST API?

[2016-10-20 18:45] afengli opened #573 "document sample has typo"
https://graph.microsoft.io/en-us/docs/api-reference/beta/resources/invitation

it uses following in the last sample JSon

 "inviteUserEmailAddress": "string",

It should be invited instead of invite

"invitedUserEmailAddress": "string",

[2016-10-20 21:23] Lauragra commented on #392
Closing this issue as the content update has been published live. Thanks.

[2016-10-20 21:23] #392 closed

[2016-10-21 00:16] angelgolfer-ms commented on #559
Hi @Rami-KH and @dclohman, thanks for your patience. Would you like to try one of the said scopes to access findMeetingTimes at your convenience, and let us know if you still have problems? Thanks.

[2016-10-21 02:26] dclohman commented on #559
I tried, still got 403 Access Denied.

[2016-10-21 05:23] marych commented on #559
@dclohman - could you please provide request-id and timestamp for a sample 403 response? Note that your app needs to be re-consented after you add the *.Shared delegated permissions if the user consented before the change of permissions.

[2016-10-21 11:46] dclohman commented on #559
{
  "error": {
    "code": "ErrorAccessDenied",
    "message": "Access is denied. Check credentials and try again.",
    "innerError": {
      "request-id": "bbaf5b4d-c8f9-4666-9e0f-56b7e0045e18",
      "date": "2016-10-21T11:42:48"
    }
  }
}
Here is the info.  Has this API call changed as I was using App-only permissions.  I am communicating service to service so there is no User intervention.

[2016-10-24 13:33] colthreepv commented on #562
Answering to myself; after talking with a Microsoft representative I have been directed towards this other kind of query, that works:

`https://graph.microsoft.com/v1.0/me/contacts?$filter=emailAddresses/any(a:a/address eq '@domain.com')`

[2016-10-24 21:19] dclohman commented on #559
Any update on this?  This appears to be the only API call that is no longer working with App-only permissions.  We are using the API call in a customer demonstration app, so if I can no longer authenticate this way I will need to look at different way to accomplish getting to recipients calendars for event correlation.

[2016-10-24 22:01] #561 closed

[2016-10-24 22:02] wesley-dynamicowl commented on #561
Closing this as it seems that this issue has been resolved. It seems like the fix for #559 also addressed this issue.

[2016-10-24 23:05] mimisasouvanh commented on #49
I'm investigating whether this is even supported. If not, I'll have to have it removed.

[2016-10-25 11:14] taviandir commented on #238
Because the MS Graph Webhooks/Subscription endpoints has been released into v1.0 now, I was using the "/v1.0/subscriptions" endpoint but still experiencing the same issues as OP, even after following the steps detailed above (for email).
However, after I tried switching URL to "/beta/subscriptions" (everything else stayed the same) I no longer receive the "Application-Only" error and everything se

[2016-10-25 11:53] KapteinBabbalas commented on #238
I agree, latest update with the beta api is that is doesn't accept an email adress as oart of the resource path when creating a subscription.

I posted this question an hour or so ago:
http://stackoverflow.com/questions/40237578/microsoft-graph-api-webhook-subscription-via-rest-api-not-working-anymore

[2016-10-25 16:57] vanta commented on #238
@taviandir did you use email address or user id to make it work?

[2016-10-25 18:54] dclohman commented on #559
Still getting access denied 403

From: Angelgolfer <notifications@github.com<mailto:notifications@github.com>>
Reply-To: microsoftgraph/microsoft-graph-docs <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Thursday, October 20, 2016 at 7:16 PM
To: microsoftgraph/microsoft-graph-docs <microsoft-graph-docs@noreply.github.com<mailto:microsoft-graph-docs@noreply.github.com>>
Cc: Derek Loh

[2016-10-25 22:23] Lauragra commented on #573
This issue has been fixed. Thanks!

[2016-10-25 22:23] #573 closed

[2016-10-25 23:10] marych commented on #559
@dclohman - the fix that @angelgolfer-ms was referring to was only relevant for requests with delegated permissions. The API is not currently accessible with app-only permissions.

[2016-10-26 05:55] taviandir commented on #238
@vanta I managed to get it to work with both userid@tenantid and email, but I've only tried it for email so far.

[2016-10-26 06:30] OlliJuhani opened #580 "FindMeetingTimes providing suggestions outside working hours"
I have a problem where I am receiving meeting time suggestions outside of working hours. In this particular example case inviter and participant have currently time zone UTC+02:00 and working hours 8-17 set in O365 / calendar settings. When I limit the start and end e.g. with the constraints:

[code]

In a respose I usually get several suggestions that are inside the attendees working hours, but a

[2016-10-26 08:07] AveAdam opened #581 "User fax number"
the fax number is missing in User.

[2016-10-26 09:23] KapteinBabbalas commented on #238
The problem went away by itself, not sure what happened.

[2016-10-26 14:49] dclohman commented on #559
Is there a roadmap timeline?  Never going to work with app-only permissions?  Trying to figure out if I am waiting or start re-writing code.

[2016-10-27 07:42] AveAdam opened #584 "Unified(Office 365) Group SharePoint site URL"
Now we only can retrieve the SharePoint site URL of Office 365 Group via Exchange Online Powershell.

https://msdn.microsoft.com/en-us/library/office/jj191398(v=exchg.150).aspx

Can the SharePointSiteUrl property of O365 Group be added in next release?

Thanks!

[2016-10-28 03:11] AveAdam opened #585 "How to GetAvailableExtensionProperties"
like: https://msdn.microsoft.com/en-us/Library/Azure/Ad/Graph/api/functions-and-actions#getAvailableExtensionProperties

is there API to get all extension properties?

[2016-10-28 08:40] jensdotbruggeman commented on #495
@daryltt  I created a blog post on how to perform this against the OneDrive API.
https://dev0p.wordpress.com/2016/10/28/modern-interaction-with-office365-using-api-and-faas-architecture-part-2/

[2016-10-28 09:17] azurestreet opened #586 "List privilegedRoles return 500 internal server error"
Server returned HTTP response code: 500 for URL: "GET" https://graph.microsoft.com/beta/privilegedRoles

[2016-10-31 03:44] AveAdam commented on #584
https://graph.microsoft.io/en-us/docs/api-reference/v1.0/api/drive_get

GET /groups/{idOrUserPrincipalName}/drive  can get the sharepoint site url.

[2016-10-31 03:44] #584 closed

[2016-10-31 13:57] figgsoftware opened #587 "Group drive root children is failing for some tenants"
Calling GET https://graph.microsoft.com/v1.0/drives/b!Dt2kEgTITUWJLxbcXQAGxu4NnyTZPfBKr8CoNLJbYXvEx6AUcs96Q5yTrxDCF2xY/root/children?$filter=name+eq+'Meetings'

Getting this in return (even thought he user is correctly authenticated and can reach that object from the UI.... the strange thing is that it works fine for an admin user....permission scopes have been set):

{
  "error": {
    "code": "u

[2016-10-31 18:24] DavidLozzi opened #588 "Access libraries in site collections"
I can find all the libraries in my root site collection, name.sharepoint.com/ by using https://graph.microsoft.com/v1.0/drives but I'm not finding any libraries from my other site collections, i.e. name.sharepoint.com/sites/lozzi.

[2016-10-31 22:06] marych commented on #586
@azurestreet - thanks for reporting the issue. It was caused by a regression that is now reverted.

[2016-11-01 09:11] azurestreet commented on #586
Now I got 403 for access this resource, but my AZURE AD settings are permit everything, is anything wrong for the settings?

![graph_permission](https://cloud.githubusercontent.com/assets/8710517/19884689/edde4056-a055-11e6-9a8e-f8bf9010495b.png)

[2016-11-01 12:15] sameernyaupane commented on #495
@ificator , I still have the problem with personal account.

I am getting the following response:

[code]

[2016-11-01 16:28] ificator commented on #495
@sameernyaupane are you providing an access token as part of the `PUT` request when uploading a fragment?

[2016-11-01 18:02] marych commented on #588
https://graph.microsoft.com/beta/sharePoint:/lozzi should return your non-default site. Please note that the SharePoint Sites API is only available on /beta right now. See https://graph.microsoft.io/en-us/docs/api-reference/beta/resources/sharepoint for more details.

[2016-11-01 21:38] wesley-dynamicowl opened #594 "Some Users are missing a value for "userType" property"
When using the list users API call (https://graph.microsoft.io/en-us/docs/api-reference/v1.0/resources/users), most users are returned with a `userType` of `Member` or `Guest`, but about a dozen users do not have any value assigned.  This is prevent a handful of users from using some tools we built as the code cannot identify if they are Guests or Members.

I've spoken with our systems administrat

[2016-11-02 10:33] sameernyaupane commented on #495
@ificator ,
I do have the Authorization header set.

This is my request
[code]

[2016-11-02 12:16] daryltt commented on #495
I would say this is a separate issue.  This issue is regarding Microsoft Graph API not the OneDrive API.

[2016-11-02 20:16] ificator commented on #495
@sameernyaupane If you got the api.onedrive.com URL from graph, then you shouldn't provide the authorization header (the token you have is most likely for graph and not api.onedrive.com). Do things work if you don't provide it?

[2016-11-03 10:01] sameernyaupane commented on #495
thanks @ificator! Finally the upload process worked perfectly. It was indeed due to the Authorization header. As soon as I removed it, it worked.

[2016-11-04 14:39] dclohman commented on #559
Anything?

[2016-11-04 19:02] wesley-dynamicowl commented on #580
I'm seeing a similar issue after the update to the API a couple of weeks ago.

I have suggestions ranging from 4:30 AM to 8:00 PM

[2016-11-08 17:39] asgs opened #600 "Scope for deleting a user"
The Directory.ReadWrite.All scope mentioned in the documentation doesn't seem to work. We got information from Dan (Kershaw) that the right permission to delete a user would be "Directory.AccessAsUser.All"

Would it be possible to double check and fix the documentation? Thanks!

[2016-11-09 00:33] Lauragra commented on #495
Looks like this issue is resolved so closing. Thanks.

[2016-11-09 00:33] #495 closed

[2016-11-09 08:49] asgs opened #603 "Scope for updating a user's password"
The right scope required for updating a user's password is "Directory.AccessAsUser.All". The [other scopes mentioned in the documentation](https://graph.microsoft.io/en-us/docs/api-reference/v1.0/api/user_update#prerequisites) don't seem to be enough to update the password.

[2016-11-10 08:50] bharath063 opened #607 "Sharepoint Graph API List resource does not return "fields""
The Sharepoint Graph API List resource does not return the "fields" property.

[2016-11-10 09:15] bharath063 commented on #607
Use Query parameter ?select=fields to list the fields.

[2016-11-10 09:15] #607 closed

[2016-11-10 20:48] kiwidev opened #610 "Unclear wording around use of securityEnabledOnly for getMemberGroups"
I'm aware this wording has come from the AD Graph API (and is around the web), but the wording around the applicability of the securityEnabledOnly flag reads very imprecisely (under the various getMemberGroups pages such as `user_getmembergroups`).

This is unclear whether it means:
- If the object this function is being called on is of type user, then the parameter must be true
- If the parameter