[2018-05-18 02:50] subbiahkk commented on #2657
Thanks for your reply.
But how come the same endpoints are working for the trial accounts.

if i want to use the admin consent what is the privilege I need to give it to the  user in Azure AD.

Thanks,
Subbiah K

[2018-05-18 16:51] mlafleur opened #2662 "Misleading Outlook /move documentation"
The documentation for [`/move`](https://github.com/microsoftgraph/microsoft-graph-docs/blob/master/api-reference/v1.0/api/message_move.md) describes the `destinationId` property as:

This can lead the [reader to assume](https://github.com/OfficeDev/office-js/issues/145) that   `Inbox`, `Drafts`, `SentItems`, and `DeletedItems` are _only_ well-known folder names that are accepted. This is not acuta

[2018-05-18 17:05] mlafleur commented on #2657
The v2 Endpoint doesn't support this OAuth grant. The error text you're getting is simply misleading. It isn't possible to add support for the Password Grant using Admin Consent (or any other mechanism).

[2018-05-18 17:26] subbiahkk commented on #2657
My question is how its working for the trial account I have created. The only differnce between the trial account and service account is, for Trail account Directory Role is Global Administrator where as for the service account is User.

[2018-05-18 18:04] mlafleur commented on #2657
Based on the code sample, you're attempting to authenticate a v2 App against the v1 Endpoint. This won't work regardless of your grant. I suspect the account you have that worked was using an v1 App registered in the Azure Portal, not a v2 App registered at apps.dev.microsoft.com

[2018-05-18 18:17] subbiahkk commented on #2657
i dint register it in Azure portal. I have registered the app in  https://apps.dev.microsoft.com . I dnit see this app in Azure portal.

Sorry i am new to Azure,

[2018-05-18 18:44] mlafleur commented on #2657
If you've registered in apps.dev.microsoft.com then you're using the v2 Endpoint and you need to use a different set of parameters and URIs to authenticate. Take a look at https://massivescale.com/microsoft-v2-endpoint-primer/ for an overview of how this works.

[2018-05-22 10:13] Jackson20 commented on #2609
Is there are some changes? Because I also have faced with this problem.

[2018-05-22 11:04] PavloMykhailyshyn commented on #2609
Have the same problem. Would be nice to hear smth more about this issue from Microsoft side.

[2018-05-22 14:35] dzhavat opened #2673 "Clearer explanation of how to create a new plannerPlan"
Issue: I just spend a few hours trying to find out why I can't create a new plannerPlan.

The **Request body** section of the article related to creating a new plannerPlan says:

Since I wanted to create a new plannerPlan, I first needed to create a new group. With the response of that call, I used the `id` value in the `owner` property that is part of the plannerPlan object. Every time I did that

[2018-05-22 15:24] jaumemilian commented on #2657
Hi,

Following this thread, it stopped working our grant_type=password integration (it was working last Friday 18/05/2018).
Now he have done some tests and we have checked that is working for some users, and not working for others (I can confirm the credentials are ok)

Not Working example:
POST https://login.microsoftonline.com/organizations/oauth2/v2.0/token HTTP/1.1
Content-Type: application/x-

[2018-05-23 14:20] mlafleur commented on #2657
I'm not aware of any changes but, based on the [documentation](https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-v2-limitations#restrictions-on-protocols), the "working example" would be the outlier:

In general, using the Resource Own Password Credentials Grant is a bad habit to get into. Unless your application is requesting the password at runtime, it is highly at

[2018-05-23 14:24] mlafleur commented on #2673
Just a heads up that this is mentioned in the [overview](https://developer.microsoft.com/en-us/graph/docs/api-reference/beta/resources/planner_overview#groups):

I agree that this note is a little buried. It should likely be added to the Create plannerPlan documentation as well.

[2018-05-23 19:42] #2673 closed

[2018-05-23 22:59] dzhavat commented on #2673
Yeah, it makes a lot of sense this note to be part of create plannerPlan documentation as well. I'm pretty sure it will help many people in the future. Thanks for adding it.

[2018-05-24 13:54] dzhavat opened #2685 "Undocumented limit on Planner API"
Issue: When I try to create a new plan and set the `owner` to an id of an existing group that already has a plan, I get a `403` error with a message that is not documented.

This is the response object:

![image](https://user-images.githubusercontent.com/1096332/40489737-0e8ceb5c-5f6a-11e8-8f3c-ef6c42e2db66.png)

Maybe this error is somehow related (similar) to the `MaximumProjectsOwnedByUser` tha

[2018-05-25 11:10] Renevdo commented on #970
In the last couple of months, creating a group generated the corresponding sitecollection instantly. Since 2 weeks or so, it stopped working again. The group is created, but the sitecollection is not. When browsing to files in the group, the sitecollection is generated in a couple of seconds, and the user will be redirected to the sitecollection.

We create the group with an **app-only** context,

[2018-05-25 12:06] mmics opened #2693 "Information to report errors is missing"
Issue: In the support article you are stating how to request **features**, raise **documentation issues** and how to post **questions**. But you are not telling the user how to post issues or support cases related to Microsoft Graph

Article:
https://developer.microsoft.com/en-us/graph/support

[2018-05-26 08:55] amtlib-dot-dll commented on #2116
As pointed out here https://stackoverflow.com/a/41623465 many of the special characters can be handled in this way, except the single quotation mark itself `'`. URLs like `https://graph.microsoft.com/v1.0/me/drive/root/children("text(a).abc")/content` does not work, only `https://graph.microsoft.com/v1.0/me/drive/root/children('text(a).abc')/content` works

[2018-05-26 09:10] amtlib-dot-dll commented on #2321
You are right. The documentation needs to be revised. The 10 MiB recommendation is confusing.

By the way, it seems that there is no way to upload to override an existing file when only its id is known, at least for personal OneDrive. It complains that "File name not provided in url". There are some witnesses:
* https://github.com/microsoftgraph/msgraph-sdk-dotnet/issues/61#issuecomment-358282608

[2018-05-26 10:00] amtlib-dot-dll opened #2699 "Failed to create upload session on existing file by id"
Environment: OneDrive Personal

Steps to reproduce:
1. Create a file with id `xxxxxxxxxxxxxxxx!xxx`
2. `POST /me/drive/items/xxxxxxxxxxxxxxxx!xxx/createUploadSession`

Expected behaviour:
* `HTTP 2xx` with the upload URL

Actual behaviour:
* `HTTP 400` with response
[code]

As stated by the third example on https://github.com/microsoftgraph/microsoft-graph-docs/blob/master/api-reference/v1.0/api/d

[2018-05-26 22:36] btastic commented on #2286
As I can't post on stackoverflow, I will kindly ask here for some advice:

I want to create an event via the graph api, but I want the API to fill the onlineMeetingUrl for me. Is that possible?

Thank you

[2018-05-28 13:08] RobinBreman opened #2700 "onlineMeetingUrl is not set for a MS Teams scheduled meeting"
Issue:
When requesting a meeting schedules with Teams the onlineMeetingUrl is return as null.
A scheduled skype-meeting does return an onlineMeetingUrl

Article:
https://developer.microsoft.com/en-us/graph/docs/api-reference/v1.0/api/event_get

[2018-05-28 16:21] jaumemilian commented on #2657
Hi, thanks for the answer

Yes, we are aware about the risk of the grant_type=password. And that it is not documented for the v2.0 endpoint.

In any case, in our scenario it is a server to server call, but we want to get an access token valid for the context of the user that is logged into our application. So we can't use the Client Credentials type (if I well understood is like a master or admin

[2018-05-29 11:06] MRuimerman opened #2701 "Can an F1 user do a Graph call to Teams"
We are using a Graph call to list the teams the current user is a member of. The Graph call is part of a SPFX web part.
According to the [Microsoft documentation](https://products.office.com/en-us/business/office-365-f1) Teams is supported for F1 licenses but when using the Graph call to get the Teams for the logged in F1 user there is a message displayed: Something went wrong. Teams is disabled f

[2018-05-29 15:26] mlafleur commented on #2701
Just to clarify, are you able to access Teams via the app?

[2018-05-29 15:33] mlafleur commented on #2657
The scenario you are describing can be done using an Authorization Code grant and Refresh Tokens. The user would need to authenticate once. Your service then stores the Refresh Token and exchanges it for a live token as needed.

Event with the Password grant, you still need to prompt the user for a password. The key difference being who owns the responsibility for protecting the credentials, and t

[2018-05-29 16:34] jaumemilian commented on #2657
Hi,

We already have the authorization code grant integrated with the product, but we wanted to offer our customers to avoid the authorization page (the first time it is used).

In fact, we have our environments federated with Office365, and we are using our Idp in order to login into Office365, so we don't really require the user/password to the users for interact with Office365 (they just need t

[2018-05-30 06:38] MRuimerman commented on #2701
Good question. No, the user can't login to the Teams app.. So I suppose the is not really a graph issue but more a Teams issue.

[2018-05-30 08:35] pgmvp commented on #2609
Faced similar problem recently. Is there any update from Microsoft?

[2018-05-30 12:05] koreanilkumar commented on #1771
Can we filter the results based on attendees?. any fix available?

[2018-05-30 13:35] jasonjoh commented on #98
Closing this as I believe the docs address this now. For example, in the docs for [Group list events](https://developer.microsoft.com/en-us/graph/docs/api-reference/v1.0/api/group_list_events), the **Permissions** table explicitly calls out that Application permissions aren't supported.

[2018-05-30 13:35] #98 closed

[2018-05-30 16:51] mlafleur opened #2710 "Filtering canEdit returns inverted results"
When attempting to apply a Filter to `/calendars`, the `canEdit` property is returned the _oposite_ of what was requested.

For example, using `$filter=canEdit eq false` in Graph Explorer returns the following results:

[code]

If you flip it to `canEdit eq true` you get:

[code]

Sourced from multiple reports on Stack Overflow:

- [Filtering against canEdit in Calendars returns inverted results](

[2018-05-30 17:15] mlafleur commented on #1771
This is expected behavior. The API does not support filtering for empty/null values (i.e. `''` or `null`).

[2018-05-30 17:21] mlafleur commented on #2701
Since the user cannot access Teams itself, it sounds like the API is behaving properly here. You may want to open a [support case with Teams ](https://support.office.com/en-us/home/chat?ContactUsExperienceEntryPointAssetId=S.HP.teams )to address the user's lack of access.

As this isn't a Graph issue, I'm going to close this issue. If after resolving their Teams access you are still seeing this be

[2018-05-30 17:21] #2701 closed

[2018-05-30 21:02] mishakogan commented on #2268
any progress? Having similar issue using Graph SDK for Mail Items / Folders

[2018-05-31 05:44] abbeyokgo commented on #1638
How to fix it;? Or what's the correct header?

[2018-05-31 06:59] koreanilkumar commented on #1771
But, I have the email address in result 'abc@xyz.com'
I'm getting the same error

Request [GET]
https://graph.microsoft.com/v1.0/me/calendar/events?$select=subject,body,bodyPreview,organizer,attendees,start,end,location&$filter=attendees/any(a: a/emailAddress/address eq 'abc@xyz.com')

Response:

{
    "error": {
        "code": "UnsupportedEntityExpression",
        "message": "'i => i.Attendees.

[2018-05-31 07:35] koreanilkumar commented on #426
it is still reproducing.

[2018-05-31 08:23] dorshemer opened #2716 "No internetMessageHeaders in sent messages"
Even when explicitly requesting internetMessageHeaders, I only get them on inbound messages:

`https://graph.microsoft.com/v1.0/me/messages?$select=internetMessageHeaders,from,toRecipients&$top=3
`

Getting 3 messages: first two are outbound w/o internetMessageHeaders, last one in inbound with it. Checked with more results and it seems consistent.

[code]

[2018-05-31 12:49] jasonjoh commented on #2716
If by outbound you mean messages in the Sent Items folder, that's expected. Internet message headers get added to the message once they actually go out via SMTP to recipients. Before that, they're still all internal to the user's mailbox. Since they haven't gone through transport, there's no headers.

[2018-05-31 14:43] dorshemer commented on #2716
I see. Perhaps this should be documented in the API reference, it doesn't state that anywhere I looked :)

I don't think this is the right behavior, for what it's worth. The message has already been sent (that's even the folder's name), so the headers are available _somewhere_. It makes going through messages in `/me/messages` harder because you can't expect all of them to have headers, and makes

[2018-05-31 15:14] jasonjoh commented on #2716
This is a limitation of the internals of Exchange server, which does not store things natively as MIME, so things like `References` and `In-Reply-To` just don't exist. That message in Sent Items is a copy (in Exchange-native format) of the message that gets sent out. The message that goes out would go through MIME conversion, and those headers would be derived from the Exchange-native format. (Det

[2018-05-31 15:19] dorshemer commented on #2716
Thanks for clarifying.

[2018-05-31 15:19] #2716 closed

[2018-05-31 22:00] carblue5757 opened #2719 "findMeetingTime not returning suggestions as expected"
I am trying to book a meeting with someone in Geneva, while I am working from Eastern Standard Time.   Our working hours overlap from 8am to 12pm and on 2018-05-25 we have a free slot from 8am to 9am.

I created an all day `TimeContraint` and set the `ActivityDomain` to the 'work' restriction:

[code]
Using this TimeConstraint, when searching for an hour long meeting with findMeetingTimes, I got n

[2018-05-31 22:05] carblue5757 opened #2720 "findMeetingTimes returns no results with an empty reason of Unknown"
findMeetingTimes will often return no `MeetingSuggestions` with the empty reason of `Unknown` when I believe there should be a result.

My request is simple, findMeetingTimes that are an hour in duration from 9:30am to 11:30am where the organizer is optional and the minimum attendee percentage is set to 0%.  I feel I should always get some results in this scenario, but am finding out that I keep g

[2018-06-04 08:23] bajzat opened #2728 "Cannot get the values from schemaExtension without verified domain"
The schemaExtension does not show up in a query as a result if it is created without an unverified domain. E.g I've created a schemaExtension called ext46vln54c_ntest:

[code]
I assigned this extension to an existing group(the API calls returned with 204 empty body as I expected), but somehow I can't get back the assigned values using the $select operator like this:

[code]

First of all, I though

[2018-06-05 18:55] ElisaKazan commented on #2581
After more investigating, it seems that Shared with me  only works for files shared within an organization. Is this intentional or not?

See more details in [Microsoft Graph Explorer Issue](https://github.com/microsoftgraph/microsoft-graph-explorer/issues/143#issuecomment-393642799)

[2018-06-06 07:40] y-inocchi opened #2739 "Graph API does not return SPO subsites correctly"
Issue:

I was working with the Microsoft Graph API and discovered what looks like a bug in the Sites API.

When using the Graph API (https://graph.microsoft.com/v1.0/sites/root/sites) to get the subsite of the root site, an error was returned.
[code]

However, when browsing from the SharePoint Online Web, it appears that there are several subsites.

And, if there are no subsites, the API (https://

[2018-06-06 07:48] y-inocchi opened #2740 "Can't update SPO metadata that starts with a non-ASCII character"
I set a column with a column displayName that begins with multibyte characters(e.g. `世界` ).

When I use Graph API (GET /site/{site-id}/lists/{list-id}/column) to get the set column, below response returned.
[code]

And I use Graph API (PATCH /sites/{site-id}/lists/{list-id}/items/{item-id}/fields) to update the `世界` column value, using below parameter body.
[code]

However, an error was returned.

[2018-06-06 07:59] alexandersoto opened #2741 "Calendar event attachments not visible for recipients"
The [add attachment](https://developer.microsoft.com/en-us/graph/docs/api-reference/v1.0/api/event_post_attachments) endpoint seems buggy. Files attached to a calendar event **are not** visible to the calendar recipients. The attachments **are** visible to the event creator. My code had been working for months until recently, which leads me to believe this is a regression.

Details on Stack Overfl

[2018-06-06 11:43] MichalWierzbinskiEnvokeit opened #2742 "ErrorExceededFindCountLimit when getting list of booking businesses"
We are trying to get booking businesses using the following GET request:
`https://graph.microsoft.com/beta/bookingBusinesses`

We've set up a service account in our Azure AD together with App Registration with following permissions:

[code]
However, when we run our code we get the following error message:

[code]

Can you please give us the information on how to overcome that Exceeded Find Count L

[2018-06-06 13:42] sugcat opened #2744 "preferredLanguage is not allowed when creating or updating a Group object"
Issue: The documentation says that we can specify other writable properties when creating a group. However, when passing the `preferredLanguage` property in the body, it gives back an error saying that this property is not settable. **It prevents me from creating a group with a specified language**, which is a major blocker for provisioning groups in multilingual environments.

The group entity pr

[2018-06-06 15:13] btastic commented on #2700
Hello,

did you get any answer to this yet? We have the same problem but we can't get any response from microsoft about this issue.

[2018-06-07 02:05] y-inocchi opened #2745 "Can't update SPO metadata choiceColumn allowed multi select"
I can't update SPO metadata choiceColumn allowed multi select, when execute Graph API ( `PATCH /sites/{site-id}/lists/{list-id}/items/{item-id}/fields` ) .

I set a choice column which allowed multi-select like this:

[code]

And, I use Graph API ( `PATCH /sites/{site-id}/lists/{list-id}/items/{item-id}/fields` ) to update the choice column, using below parameter body.

[code]

However, an error w

[2018-06-07 05:42] alexandersoto commented on #2741
@mlafleur's workaround on [Stack Overflow](https://stackoverflow.com/questions/50714919/office365-rest-api-calendar-event-attachments-not-visible-for-recipients) fixed the issue for me.

I think this behavior should be documented (unless it's a bug that's going to be fixed).

[2018-06-07 06:53] RobinBreman commented on #2700
@btastic  No there hasn't been any response yet on any issue i reported in this git.
Seems no one is actively monitoring, unlinke the SharePoint/sp-dev-docs i do not get any reponse over here.

[2018-06-07 07:55] arunmohandas196 opened #2746 "InConsistent Behaviour with FindMeetingTimeApi"
Issue:
Trying to use FindMeetingTimes api to get user/meetingRoom availability.
Facing inconsistent behaviour for some users, where timeConstraint property only works when passed start/end dateTime excluding a certain time interval and consistently gives below error response.

Sample Error Request Id.
For this criteria, was getting below error from 2018-06-07T03:30:00 UTC to 2018-06-07T17:30:00
`{

[2018-06-07 08:02] arunmohandas196 commented on #2131
Facing similiar error mentioned above.
Detail description in :https://github.com/microsoftgraph/microsoft-graph-docs/issues/2746

Facing inconsistent behaviour for some users, where timeConstraint property only works when passed start/end dateTime excluding a certain time interval from currentDate and consistently gives below error response.

`{ "error": { "code": "ErrorInternalServerError", "mess

[2018-06-07 13:30] andreyblackberry commented on #716
Hi,

I am trying to list my contacts with  'me/contacts' and still having 401.

My application on apps.dev.microsoft.com has permissions:
  - Contacts.ReadWrite (both delegated and application permissions)

My client application has authentication scope: https://graph.microsoft.com/Contacts.ReadWrite

Other API, like 'me' works fine.

[2018-06-07 15:05] andreyblackberry opened #2748 "GET https://graph.microsoft.com/v1.0/me/contacts 401 (Unauthorized)"
**Issue**:

I refer to documentation to get the list my contacts with 'GET https://graph.microsoft.com/v1.0/me/contacts' and always have **401 (Unauthorized)**.

My application on apps.dev.microsoft.com has permissions:
- **Contacts.ReadWrite** (both delegated and application permissions)

My client application has authentication scope: https://graph.microsoft.com/Contacts.ReadWrite

Other API lik

[2018-06-07 18:37] daviande opened #2749 "nextLink broken for drive delta"
I'm trying the following:

https://graph.microsoft.com/v1.0/me/drive/root/delta

This works as expected, I get a response containing changes and a nextLink:

https://graph.microsoft.com/v1.0/me/drive/root/delta?token=aTE09NjM2NjM2Nzc3MDYwNjM7SUQ9RkRENTYxOEVDQzBCOEU3MyExMDE7TFI9NjM2NjM5OTMyMzYxODc7RVA9MTg7U0k9MTQ7TElEPTg1NDYyOTtGRD1UcnVlO0JVPVRydWU7U0c9MTtTTz0yO1BJPTM

I then make a GET request for

[2018-06-07 20:54] andreyblackberry commented on #2748
I figured out there has to be Office 365 Exchange Online subscription for the accounts to be used with 'Contacts' API.

[2018-06-07 20:54] #2748 closed

[2018-06-08 10:58] ChiranjibKarn opened #2751 "Microsoft graph NotificationUrl scheme='http' is not supported"
Issue: While trying to create subscriptions (using https://graph.microsoft.com/v1.0/subscriptions" endpoint) from local system with notificationUrl schema "http", it throws following error:

Is not "http" should be allowed for development purpose?
Also, can I give "localhost" in subscription's "NotificationUrl" ?

[SO](https://stackoverflow.com/questions/50758972/microsoft-graph-notificationurl-sc

[2018-06-08 21:07] mlafleur commented on #2751
That is correct, `http` is not supported. The URL must be secure (`https`). From the [documentation](https://developer.microsoft.com/en-us/graph/docs/api-reference/v1.0/resources/subscription#properties):

[2018-06-08 21:07] #2751 closed

[2018-06-09 13:28] turbowars commented on #559
any workaround folks?

[2018-06-10 06:04] dkershaw10 commented on #2635
Interesting.  I tried the same thing, and couldn't repro.  If I make the same request, the server enforces a page size default (of 100 I believe), and if I follow the nextLink I get a new set of records.  Can you confirm that you are indeed doing a GET on the entire nextLink value? The subsequent nextLink value should also be different.

[2018-06-11 12:49] ChiranjibKarn commented on #2751
Any future plan to allow http and localhost for development purpose?

[2018-06-11 13:22] gokulnathk commented on #2550
Duplicate of #2153

[2018-06-11 13:22] #2550 closed

[2018-06-11 17:33] ArkaGPL commented on #2152
Same issue here, I'm unable to distinguish an user from a shared mailbox using the graph api.

[2018-06-12 01:06] dkershaw10 commented on #2728
@bajzat Sorry for the delayed response.  We have a code bug that we've discovered and are now fixing. Currently to get this to work, the target type values must be defined with an initial capital to get the correct behavior (when you $select later down the road).  You would need to re-create your schema definition but specify ` "targetTypes": ["Group", "User"]`.  Alternatively, if you wait, our fi

[2018-06-14 07:16] searlin opened #2760 "Graph API Server Side ERROR"
Issue:

Today the graph API have  an error occurred in Microsoft server side, sometimes it works, but most of the time don't, please help us resolve ASAP, as it impacts our production already, below is the stack track.

[code]

Article:

[2018-06-14 09:20] mcraiha commented on #2351
Do you get error like

?

[2018-06-14 15:07] chmediko opened #2761 "$filter not working on group members operation."
Issue: I am trying to run a msgraph query like this:
https://graph.microsoft.com/v1.0/groups/0ffa0e7a-4554-476a-a971-507db84b525b/members?$filter=isof('microsoft.graph.user')

The error I see is:
{
    "error": {
        "code": "Request_BadRequest",
        "message": "Cast or IsOf Function must have a type in its arguments.",
        "innerError": {
            "request-id": "7f4a7294-26d0-4e92-

[2018-06-14 16:17] MaxBarraclough commented on #562
See also https://stackoverflow.com/a/45064147/ which gives the same solution

[2018-06-15 10:56] gokulnathk commented on #2153
@jasonjoh I think delta also not working as expected. Since, I tried the delta endpoint to get the SentItem data of a user. That user have around 1500 emails in his SentItem, but the delta returns only 50 items.

`https://graph.microsoft.com/v1.0/users/admin@test.com/mailFolders/{SentFolderId}/messages/delta?$top=50`

This is the API call I'm using to get the mails

For your reference I have inclu

[2018-06-15 13:50] BenAffleckIsBatman commented on #559
Anything here @ArunMSFT @crchung-MSFT ?

[2018-06-15 17:41] jthake commented on #2760
What are the repo steps for this @searlin  ?

Are you using direct REST calls to the API? or an SDK? Which endpoint are you calling?

[2018-06-15 17:51] jthake commented on #2761
What are you trying to do here with the filter? he way to get the members of a group is as follows https://developer.microsoft.com/en-us/graph/docs/api-reference/v1.0/api/group_list_members

[2018-06-15 18:00] jthake commented on #2700
I'm reaching out to our engineering team. hoping for a response shortly.

[2018-06-16 05:15] mmics opened #2769 "Sharing links not working according to documentation"
**Article:**
[(https://developer.microsoft.com/en-us/graph/docs/api-reference/v1.0/api/shares_get)]

**Issue:**

- Created an Excel sheet and uploaded it to a SharePoint online document library
- Created a sharing link to it by clicking "share" in the doc library and "people in my organization can edit"
- Took the sharing link and encoded it as described in the article resulting in an EncodedShari

[2018-06-17 02:47] BharatKhunti commented on #2351
No, It's give result but didn't filter. I think MS graph API lookup column filter by Value is not work.

[2018-06-17 02:47] #2351 closed

[2018-06-17 17:50] dkershaw10 commented on #2761
@chmediko Unfortunately this operation is not currently supported.  You'll filter on the member types on the client side.  The AAD team is working on some improved query support for filtering across relationships (starting with group members), but I don't have an ETA.

[2018-06-17 17:50] #2761 closed

[2018-06-18 06:50] mihirnanavati93 commented on #1179
Is there any update on this? I am also confused about how to associate id field with tenant appRole.

[2018-06-18 16:31] jthake commented on #2749
Could you show the exact calls you are making to replicate this, just so I totally understand?

[2018-06-18 17:00] jthake commented on #2388
Apologies for the late reply here. Is this still an issue for you @cyberpine ? Do you have any examples of this you can show more detail for?

[2018-06-18 17:35] daviande commented on #2749
Here are the requests/responses I'm seeing:

Request:

GET https://graph.microsoft.com/v1.0/me/drive/root/delta

Response:

{
    "@odata.context": "https://graph.microsoft.com/v1.0/$metadata#Collection(driveItem)",
    "@odata.nextLink": "https://graph.microsoft.com/v1.0/me/drive/root/delta?token=aTE09NjM2NjQ5MzU2MTExNzc7SUQ9RkRENTYxOEVDQzBCOEU3MyExMDE7TFI9NjM2NjQ5Mzk5MzU0MjM7RVA9MTg7U0k9Mjk7TElE

[2018-06-18 17:38] daviande commented on #2749
I might've made a mistake when I originally filed the bug, I am seeing different nextLink values now.  Sorry for the noise.

[2018-06-18 17:38] #2749 closed

[2018-06-18 18:09] cyberpine commented on #2388
we are fine. please close.

On Mon, Jun 18, 2018 at 1:00 PM, Jeremy Thake <notifications@github.com>
wrote:

[2018-06-18 19:45] jstnbchnn commented on #1402
@garethj-msft do you happen to have an update on this?

[2018-06-18 20:29] mlafleur commented on #1402
Currently the API doesn't return "shared" notebooks, at least not in the way one might expect. While it can access notebooks that are shared with the current user, there isn't a consolidated listing of them.

Let's say JohnDoe@contoso.com has 3 Notebooks and has shared just one of them with me. If I were to request `/me/onenote/notebooks`, I wouldn't see the shared Notebook.  In order to see them,

[2018-06-19 09:46] prystoynyy commented on #2659
Hi!

Sometimes I get 504 Gateway Timeout error while trying to create a folder, too

POST
https://graph.microsoft.com:443/v1.0/groups/{groupId}/drive/root:/{folderPath}:/children

[2018-06-19 13:16] turbowars commented on #559
@BenAffleckIsBatman We realised that we were not sending the correct scope during the first authorization call.

Would suggest you to decrypt your token here (http://jwt.calebb.net/) and find the difference between the tokens. (generated using https://developer.microsoft.com/en-us/graph/graph-explorer and your local api call.)

[2018-06-19 14:11] jstnbchnn commented on #1402
@mlafleur if I use the `sharedWithMe` endpoint, will it be paged? And if so, after how many items?

[2018-06-19 15:09] subbiahkk opened #2777 "Word/Excel AutoSave Events in CoAuthoring"
Hi,
I am Implementing Excel/Word CoAuthoring using Office 365. Everything works as expected. We have Addins on top of the excel/Word and Override the Autosave events. We are calling our own API on top of the Excel/Word Sync with onedrive. The issue here is Autosave triggers frequently and calling our API on every autosave event. Is there way to differentiate AutoSave and User manual Save inside Wo

[2018-06-19 16:38] jthake commented on #2388
OK thanks for the update.

[2018-06-19 16:38] #2388 closed

[2018-06-19 16:54] shiweiwei114 opened #2778 "meetingTimeSuggestionsResult --> return attendee name always return null"
Issue: Response meetingTimeSuggestionsResult --> attendee names always return null

Article:
Response object meetingTimeSuggestionsResult --> meetingTimeSuggestion --> attendeeAvailability --> attendee --> attendeeBase  --> emailAddress --> name is always return null.

We passed in "Name" and "Address" for EmailAddress in request body, but the response for "Name" is always return null. I am not su

[2018-06-19 17:10] mahpour opened #2779 "Inconsistent responses from api endpoint v1.0 for expanding Sharepoint list"
Issue:

Some of the lookup fields disappear from responses from time to time. we have not changed our code but network traffic shows those lookup fields are not being returned at all.

here's my code:
[code]

here's my generated query via Graph JS API:

`https://graph.microsoft.com/v1.0/sites/websparksolutions.sharepoint.com,0a55ef5d-e0c7-481c-9d81-0d4065747418,8c1d538f-737c-49ca-b95a-ae221fa0b9a9

[2018-06-19 17:57] jthake commented on #2745
In our documentation, we do not currently have clear instructions on how to handle different field types.

https://developer.microsoft.com/en-us/graph/docs/api-reference/v1.0/api/listitem_update

I'll get the answer for you and post it here.

[2018-06-19 18:00] jthake commented on #2777
The webhook currently doesn't differentiate between the type of save it is in OneDrive.

We use UserVoice to track feature requests
https://officespdev.uservoice.com/forums/224641-feature-requests-and-feedback/category/101632-microsoft-graph-o365-rest-apis

I would appreciate it if you could add this as a requested feature and we can encourage others to vote it up to help prioritize this.

[2018-06-19 18:00] #2777 closed

[2018-06-19 18:51] kevklam commented on #2769
Unfortunately I am unable to reproduce this behavior, and the logs are too old for me to look up (I need to have a request-id from <12 hours, which may be difficult to coordinate). One quick thing to try - if you open the file in the web browser and then append "&api=sr" in the address bar, does it return you the same error?

[2018-06-19 20:06] lsnider commented on #2162
We are seeing these too if anyone found a workaround?

[2018-06-19 22:03] jthake commented on #2745
@VesaJuvonen  do you know the answer here?

[2018-06-20 08:01] mtnrbq commented on #559
@dmahugh @ArunMSFT @jthake  @angelgolfer-ms - can someone from Microsoft post a summary of the status of this issue with specific details as this thread has a number of conflicting and confusing notes.

1. Is this call currently supported for Application permissions only - i.e. no delegated permissions?

2. If not, when or will it be?

I do not want to have to give an app delegated permissions - a

[2018-06-20 09:00] ArunMSFT commented on #559
1. Issue - FindMeetingTimes API is not available in the App only scenario, today it works only in the delegated permissions scenario.
2. Workaround - Currently there are no workarounds available for pure app-only scenarios. You could get access to the API with user-delegated flow
3. Future plans - Our goal is to support this API in the app only scenario. @crchung-MSFT can add more details on timin

[2018-06-20 12:11] ParthasarathyBalan commented on #2351
hi
@BharatKhunti  did you find the fix for this? because I am facing the same problem I want to filter the lookup field with lookup value instead of lookup id it's not working in Graph API. Please provide me a solution if you found out anything. Thanks in advance

[2018-06-20 12:44] kolomolo commented on #2742
Please can we get some help!

[2018-06-20 15:47] alexknipfer opened #2786 "Find meeting times during non working hours"
If you are attempting to find meeting times outside of working hours (for any attendee or organizer), is there anyway to get a `emptySuggestionReason` that explains it is outside of somebody's working hours instead of getting a `OrganizerUnavailable`?

For example: This request attempts to find meeting times on a Saturday (which is outside of my working hours) and returns `OrganizerUnavailable`. I

[2018-06-20 15:53] kolomolo commented on #2742
![image 8](https://user-images.githubusercontent.com/27287976/41669718-b8042a12-74b2-11e8-8c1e-8367f74f719d.png)
We created a new account, added 150 businesses.  And got the error.  Here  you can see $top not working and the error exceeding issue.

[2018-06-20 15:53] BharatKhunti commented on #2351
It seems Graph API does not support to apply filter by lookup value
As a workaround you could consider the following solution to filter by lookup value (requires two requests).
1. first step would be to query on lookup list by Title and return Id property
2. and then to query to current list by lookup Id

[2018-06-20 15:54] kolomolo commented on #2742
$skip does not work either :(

[2018-06-20 17:38] jthake commented on #2728
@dkershaw10  do we have any indication on when this code bug will be released. Be good to keep this open and close it when its done.

[2018-06-20 17:41] kolomolo commented on #2742
weird, we have graph api working with our global admin account.  However the service account we made in AD doesnt work.  So we made that global admin.  We matched the permissions in "modify permissions" in graph explorer, but still it doesnt work.  Really weird!!

[2018-06-20 17:49] jthake commented on #2693
Apologize for the delay on responding here. I'm new to the team and starting to triage all these issues.
One of the first responsibilities I have is coming up with a standized process for this.

Right now if you have technical questions, stack overflow is the best place for you to go using the MicrosoftGraph tag. If you have found an issue in the documentation, this repo is the correct place to ra

[2018-06-20 18:18] fredericklin opened #2787 "Graph Subscription - IP Range"
Issue:

I'm looking at further securing an Azure Function that is consuming a Graph subscription.  I do not want the function to be called by anything but a Microsoft Graph subscription, which includes:

1. Sending a validation request to the Azure Function
2. Sending a payload request to the Azure Function

Would it be possible to include the IP ranges for Microsoft Graph subscriptions so that th

[2018-06-20 18:21] fredericklin opened #2788 "Broken link to notification endpoint validation"
Issue:
The documentation on notification endpoint validation used to be in this article.  Now I think that information has been moved to a link that does not exist.  See the link "notifications for changes in user data" in the "Create Subscription" doc.

Article:
https://developer.microsoft.com/en-us/graph/docs/api-reference/v1.0/api/subscription_post_subscriptions
https://developer.microsoft.com/

[2018-06-20 18:36] jthake commented on #2637
@angelgolfer-ms can you look into this?

[2018-06-20 18:37] fredericklin commented on #2788
Getting ready for GA? :)

[2018-06-20 18:38] jthake commented on #2642
We are actually in the process of migrating to docs.microsoft.com, so this'll get fixed then. Thanks for bringing this to our attention.

[2018-06-20 18:38] #2642 closed

[2018-06-20 18:43] jthake commented on #2623
@huyvo98 did this resolve your issue?

[2018-06-20 18:46] jthake commented on #2610
We are currently in the process of migrating to docs.microsoft.com @mlafleur . I'll reach out to you with some working prototypes to get feedback offline ;-)

[2018-06-20 18:50] jthake commented on #2467
Hey @wobba we are currently working on migrating to the docs.microsoft.com platform. The investments there will mean we'll get a few quick wins with experiences for things like iPad scrolling support.

[2018-06-20 18:50] #2467 closed

[2018-06-20 18:51] jthake commented on #2581
Apologies for delay here.

The documentation highlights the permissions required at the top of the page
https://developer.microsoft.com/en-us/graph/docs/api-reference/v1.0/api/drive_sharedwithme

What permissions were you requesting?

[2018-06-20 19:32] ElisaKazan commented on #2581
I'm not quite sure. I'm just trying to see which files were shared and then download those files. I think this would be Files.Read.All but how would I check?

For testing, when I shared the files between users they have edit access if that's important.

Could you explain how I can get you this information? Thanks! :)

[2018-06-20 20:08] jthake commented on #2549
@wobba  are you still having this issue? apologies for the delay. just going through all of these on GitHub ;)

[2018-06-20 20:10] TC-JSpade opened #2789 "List sign-ins permissions"
Issue: List sign-ins also requires Directory.Read.All permission or you receive a 403 error:

{
  "error": {
    "code": "Authentication_ApplicationHasNoDirectoryReadAccess",
    "message": "Failed to do premium license check from ADGraph",
    "innerError": {
      "request-id": "cf7a0c6a-e236-4275-a75a-0b106d89a14b",
      "date": "2018-06-20T20:08:07"
    }
  }
}

Article:  https://github.com/m

[2018-06-20 20:11] jthake commented on #2531
Sorry what document url are you referring to here?

[2018-06-20 20:11] sergeantbaker opened #2790 "Missing permission in drive GET request produces no error"
Please forgive me if this is placed in the wrong place or is missing important details. This is my first ever bug report on Github.

I think I found a bug in the Graph API concerning permissions and error responses. Usually, when my OAuth2 token does not have the required permissions, the response body will mention this in its JSON content. However, all day today I have been blaming my own code fo

[2018-06-20 20:18] jthake commented on #2511
Sorry for delay in responding here. Triaging open issues.

Is this issue still happening @attrib75 ? Do you have any further information on what calls your making the graph you can share?

[2018-06-20 20:23] jthake commented on #2581
Have you confirmed you can see this in Delve from the app launcher? This is essentially the UI view of what this API does.

For permisssions scopes, in the Graph Explorer https://developer.microsoft.com/en-us/graph/graph-explorer when you sign in with your Microsoft account ( I would recommend an inprivate browser for this).
Once you've signed in, there is a modify permissions hyperlink where you

[2018-06-20 20:32] jasonjoh commented on #2788
That's my bad, I'll fix it.

[2018-06-20 20:34] wobba commented on #2549
I'll retest and get back on this.

[2018-06-20 20:37] jthake commented on #2490
Apologies for delay in responding here. Are you trying to download the file in chunks and want to define the size of the chunk? Your stack overflow question seems to be different in terms of downloading a excel file and a pdf file...

[2018-06-20 20:50] jthake commented on #2326
It appears the documentation for this api on this page needs verifying https://developer.microsoft.com/en-us/graph/docs/api-reference/beta/resources/intune_deviceconfig_devicecompliancepolicyassignment

[2018-06-20 20:51] jthake commented on #2263
Sorry for the delay here. Could you provide more information on what the inconsistencies are? Do they stll exist today?

[2018-06-20 20:57] jthake commented on #2183
It appears that this documentation has been updated since. Does this work for you now? Apologies for the delay here, I'm triaging all the open issues.

https://developer.microsoft.com/en-us/graph/docs/api-reference/beta/api/intune_apps_mobileapp_assign

[2018-06-20 20:58] #2788 closed

[2018-06-20 21:59] fpintos commented on #2742
Hi @MichalWierzbinskiEnvokeit, the error you are seeing is due to an unfortunate limitation on how the Bookings API gets its data out of the underlying system. $skip and $top indeed do not help in that case.

Right now we have two mitigations in place:
- We recently deployed a change that allows tenant admins (and only tenant admins, as of now) to go above this limit. We're looking for ways to all

[2018-06-20 22:29] jthake commented on #2742
@fpintos  is it possible to add this to the documentation page here https://developer.microsoft.com/en-us/graph/docs/api-reference/beta/api/bookingbusiness_get so that it is clear query is possible. And also to document this known limitation?
Is this broader than just bookingbusiness?

[2018-06-20 22:46] jthake commented on #2787
@mattchenderson any advice you can give here?

[2018-06-20 22:48] jthake commented on #2790
@dkershaw10 any chanceyou could help here? that seems odd that the permissions are not working like they should....

@sergeantbaker  could you provide the reponses and requests you are doing. And scrub out any tokens?

[2018-06-20 22:49] jthake commented on #2787
@richdizz  have you done anything here on this space? Seems like a great place to have some guidance...

[2018-06-20 22:51] jthake commented on #2789
In the documentation, it lists that the permissions required for this to work is not DIrectory.Read.All but the following

|Permission type      | Permissions (from least to most privileged)              |
|:--------------------|:---------------------------------------------------------|
|Delegated (work or school account) | AuditLog.Read.All |
|Delegated (personal Microsoft account) | Not support

[2018-06-20 22:53] jthake commented on #2645
@madansr7 can you confirm this?

[2018-06-20 22:54] TC-JSpade commented on #2789
I understand.  I'm saying that's incorrect.  I needed both AuditLog.Read.All and Directory.Read.All before it returned any data.

From: Jeremy Thake
Sent: Wednesday, June 20, 5:51 PM
Subject: Re: [microsoftgraph/microsoft-graph-docs] List sign-ins permissions (#2789)
To: microsoftgraph/microsoft-graph-docs
Cc: Joshua Spade, Author

In the documentation, it lists that the permissions required for t

[2018-06-20 22:57] jthake commented on #2789
Thank you @TC-JSpade  appreciate you providing this information!

@lleonard-msft would you be able to confirm this and update the documentation? I can see you've edited this page in the past.

[2018-06-20 23:14] lleonard-msft commented on #2789
Thanks @TC-JSpade for letting us know.  I'm looking into this now.

[2018-06-20 23:30] jthake commented on #2459
@sumurthy can you help here?

[2018-06-20 23:47] fredericklin commented on #2787
@jthake @richdizz Much appreciated!  I'm thinking could also renew function keys everytime a graph subscription is renewed?

[2018-06-20 23:56] fpintos commented on #2742
@jthake I've created a PR to update the documentation: #2794
The issue is specific to GET bookingBusinesses

[2018-06-21 04:05] bsilic opened #2795 "GET assignedLicense ?"
Issue:

I am not sure if I am just not looking at the right location, however I can't find a way to GET a list of licenses that are assigned to a user.
Under directory objects I can see "assignLicense" however I would like to check what lic is currently assigned.

Is there a way to do this with Graph ? ''Thank you.

Article:

[2018-06-21 07:59] kolomolo commented on #2742
Thanks!!!  We can work with the query string to make it work!!  Awesome!  Big relief here! :)

[2018-06-21 08:17] kolomolo commented on #2742
What do you mean with tenant admin?
is it Azure AD admin, or Exchange, or Global admin?

Thanks

[2018-06-21 09:38] sergeantbaker commented on #2790
Sorry, but I am no longer able to reproduce the error. This due to the required permissions now being part of my account. I have attached a screenshot of a correct response.

This is what you get when you use a valid token with the proper permissions:
![driveitems_normal](https://user-images.githubusercontent.com/7905472/41708542-24351cc6-7541-11e8-8a9a-7a8cb2860417.png)

When using a token withou

[2018-06-21 14:31] bajzat commented on #2728
@dkershaw10 , @jthake  Thanks for the answer and the workaround. Looking forward to the fix.

[2018-06-21 16:32] mlafleur commented on #2795
You can [list the licenses](https://developer.microsoft.com/en-us/graph/docs/api-reference/v1.0/api/user_list_licensedetails) for a user using [`/licenseDetails`](https://developer.microsoft.com/en-us/graph/graph-explorer?request=me/licenseDetails&method=GET&version=v1.0&GraphUrl=https://graph.microsoft.com):

[code]

[2018-06-21 16:53] mmics commented on #2769
I have just repeated and reproduced the behavior with this result:

[code]

[2018-06-21 16:59] mmics commented on #2769
When I call the file in the web browser and append the "&api=sr" in the address bar it does not return the same error. It looks like a valid response (I removed some of the details):

[code]

[2018-06-21 17:02] mmics commented on #2769
Let me know if I should try anything else to help you to reproduce it. I will be available for the next 3 days. After that on Monday starting from 7pm CEST

One more thing:
- When I downlaod the file, rename and upload it again, the error does not occur.
- When I copy the file using the SharePoint copy functionality, the error occurs on the copied file as well

[2018-06-21 17:05] mmics commented on #2693
Thank you. This solves my issue.

[2018-06-21 17:05] #2693 closed

[2018-06-21 20:52] kevklam commented on #2769
I'm still having trouble getting logs for your request, but based on the fact that "&api=sr" succeeds for you, I believe you have an encoding issue of some sort.

All "&api=sr" does, is generate the /shares/ request with the URL encoded for you already. So you should be able to look at the URL in the address bar *after* it redirects, and you should see the properly encoded value to compare against

[2018-06-21 21:23] mlafleur commented on #2635
Based on this [Stack Overflow post](https://stackoverflow.com/questions/50976508/onedrive-api-web-search-returning-different-results-based-on-top-criteria), it sounds like this issue isn't limited to `/users`.

In the case of the linked question, OneDrive is exhibiting a similar behavior (`nextLink` not changing) with OneDrive's `/search` endpoint as well.

[2018-06-21 21:53] fpintos commented on #2742
@kolomolo An Office 365 Global admin or an Exchange admin will have permission to enumerate other businesses, past the limit that is imposed to non-admins.

[2018-06-22 06:10] mmics commented on #2769
Thank you for the hint. I am confident that the link was encoded correctly. I use the following (Ruby) code for the encoding and it is usually working correctly:

[code]

Moreover the request `GET /shares/{EncodedSharingURL}/**listItem**` was working correctly while the request `GET /shares/{EncodedSharingURL}/**root**` was not.

However, based on your suggestion I tried to call `GET /shares/{Enco

[2018-06-22 08:21] frankie567 opened #2796 "DriveItem webUrl inconsistent between /items and /delta endpoints"
Issue: From the documentation of a DriveItem, the `webUrl` is:

The `webUrl` provided in a DriveItem **do redirect to the file in browser** for Office documents when using the `/items` endpoint. However, when using the `/delta` endpoint, the `webUrl` directly points to the document (it's the same as `webDavUrl`).

Article: https://developer.microsoft.com/en-us/graph/docs/api-reference/v1.0/resourc

[2018-06-22 08:21] agallart commented on #2659
hi
you can try create folder and then put the file , I'm doing this and I haven't any error

first
` Dim item = New DriveItem()
            item.Name = folder
            item.Folder = New Folder()
            'enviar
            Dim createFolder = graphClient.Me.Drive.Root.Children.Request().AddAsync(item)`
and then

`                Dim file = graphClient.Me.Drive.Root.ItemWithPath(folder + "/"

[2018-06-22 11:13] JamesWinterburn commented on #2624
I have this exact issue. For example, I am making the following call to get page content from a notebook stored on a team site:

`https://graph.microsoft.com/v1.0/sites/{0}/onenote/pages/{1}/content?preAuthenticated=true`

This works perfectly and returns the html content including the <img> tags. However, when the browser tries to actually fetch the image specified in the src, it gives the follow

[2018-06-22 12:09] SuneetPatil commented on #559
Hi @turbowars, i tried following ur instructions. the app is working in https://developer.microsoft.com/en-us/graph/graph-explorer but when i try the same using postman using the access token im getting Access is denied. Check credentials and try again. Can u please help me in resolving it or share your inputs did you try getting the result in postman.?

Thanks,
Suneet

[2018-06-22 15:59] cbrianball opened #2797 "Microsoft Graph App Role permissions assigned to Security Group -- Members not inheriting permissions"
I apologize ahead of time as I don't believe this is the correct place for this question, but I honestly can't find where I should post this question. Please point me in the right direction if I need to post this somewhere else.

I have several Managed Service Identity (MSI) accounts. I want to give them all the same set of Microsoft Graph permissions (Directory.Read.All and User.Read.All). I did

[2018-06-22 16:48] jthake commented on #2742
@kolomolo I'm going to close this unless you have any further questions regarding this particular issue?

[2018-06-22 16:49] jthake commented on #2790
@dkershaw10 can you help here?

[2018-06-22 16:52] jthake commented on #2490
@daspek is there a way to do this?
The documentation doesn't state anything but a format https://developer.microsoft.com/en-us/graph/docs/api-reference/v1.0/api/driveitem_get_content_format

[2018-06-22 16:59] jthake commented on #2796
@daspek is this expected behavior?

[2018-06-22 17:00] jthake commented on #2797
@dkershaw10 could you help here? I couldn't find any documentation that covers this scenario...

[2018-06-22 17:01] jthake commented on #2795
thanks @mlafleur!

@bsilic  is this what you needed?

[2018-06-22 18:09] daspek commented on #2490
Unfortunately, the `format` API doesn't accept size for PDFs right now. @agallart, it would be great if you could add this feature request to our [user voice](https://officespdev.uservoice.com/forums/224641-feature-requests-and-feedback/category/101632-microsoft-graph-o365-rest-apis) so that others can vote on it and help us prioritize it.

[2018-06-22 18:44] #2490 closed

[2018-06-25 09:48] ramseen commented on #559
Hi all , This is working for me well. only thing i have done is, provided delegate permission to the APP which i have created in azure AD. make calendar.shared and write permissions as delegate. If anyone want more about the working scenario, I can explain. please let me know.

[2018-06-25 11:04] jeevanjaiswalsimpplr opened #2800 "Search API for files in my drive not getting the immediately added file. It is available in result only after a while. Why is it so? If there is going to be some lag time, please let me know the lag time before a newly added file is available in search result . API used : https://graph.microsoft.com/v1.0/me/drive/root/search(q='IMG')"
Hi
Hi,

Step 1: Upload new files to a shared folder

Step 2:

Try the search endpoint in the Graph Explorer –

Scenario A: Search any existing file

Request – https://graph.microsoft.com/v1.0/me/drive/search(q='onboarding')?select=name,id,webUrl

Response –

{

    "@odata.context": "https://graph.microsoft.com/v1.0/$metadata#Collection(driveItem)",

    "value": [

        {

            "@odata.

[2018-06-25 11:09] jeevanjaiswalsimpplr opened #2801 "Issue in "orderby" query parameter"
Hi,
For API: `https://graph.microsoft.com/v1.0/drives/{driveId}/root?$expand=children,permissions,versions&$orderby=createdDateTime desc` the "$orderby" query parameter is not providing expected sorted result. It returns same order of result irrespective of the order by parameter.
Please let me know if you need any other information on this.

Thanks,
Jeevan

[2018-06-25 13:20] thargy commented on #441
More importantly, how on earth do you administer these roles programmatically in the meantime as all the docs point to the appRolesAssignments message???

[2018-06-25 14:12] gabrielittner opened #2804 "Outlook Calendar: timezone issue for repeating all-day events"
All-day events are always in UTC. The `originalStart` property is according to the documentation also always returned in UTC.

However when using the `calendarView` method I'm receiving this:

[code]

As you can see `originalStart` is returned in UTC as documented, but the value is wrong. It looks like you're taking the UTC start value, treating it as UTC-7 and convert it to UTC which results in a

[2018-06-25 14:57] boomych commented on #2659
The same problem
PUT /v1.0/groups/85990e2e-4c7f-4ed7-8f38-be4f7134060a/drive/root:/{path_and_filename}.xlsx:/content

Result code	504

[2018-06-25 16:26] DeanGross opened #2806 "Change Log difficult to use - reorg suggested"
Issue:
The headings are not properly sorted this causes items in the right side navigation to be out of order. The Page is very long which makes scrolling and finding content difficult.
Breaking this page into multiple pages, maybe one for each year, would make it much easier to navigate.

Article:

[2018-06-25 19:03] lleonard-msft commented on #2789
Hi @TC-JSpade - The permission gets assigned as part of the [app registration prerequisites](https://docs.microsoft.com/azure/active-directory/active-directory-reporting-api-prerequisites-azure-portal).

I've added links to the [relevant files](https://github.com/microsoftgraph/microsoft-graph-docs/pull/2808).  Thanks for letting us know.

[2018-06-25 19:21] TC-JSpade commented on #2789
@lleonard-msft - Just my two cents:  [the app registration prerequisites document](https://docs.microsoft.com/azure/active-directory/active-directory-reporting-api-prerequisites-azure-portal) reads to me like “If you’re using the Windows Azure Active Directory API you need the Read directory data permission, but if you’re using the Microsoft Graph API you need the Read all audit log data permissio

[2018-06-25 19:28] Lauragra commented on #2806
Hi @DeanGross , thanks for your feedback. I just submitted a PR to fix the issue that caused the In this article section to appear to be out of date order. That update will appear on the live site by tomorrow. We'll consider the feedback to improve the navigation for the Changelog in general.

[2018-06-25 22:18] jnlkds commented on #2131
So... when I make a request and leave the locations blank, it only provides three results, when we have lots more locations (i.e., conference rooms).  How do we get more than three?
Using the following query only provides a list of three resources, when I would like it to provide more locations.  How can we increase the number of locations?

    {
      "attendees": [
      ],
      "timeConstrain

[2018-06-25 22:30] jthake commented on #2801
Just to eliminate a few things, are you able to get this to work in Graph Explorer?

https://developer.microsoft.com/en-us/graph/docs/concepts/query_parameters#orderby-parameter

[2018-06-25 22:30] jnlkds opened #2810 "msgraph findmeetingtimes does not provide enough locations"
Issue:

Article:

[2018-06-25 22:45] Nness opened #2811 "Get Organization documentation state wrong response"
Issue:
[Get Organization](https://github.com/microsoftgraph/microsoft-graph-docs/blob/master/api-reference/v1.0/api/organization_get.md) returns array instead of object.

Correct format should be following (This is confirmed through Graph Explorer on either v1.0 or beta):

`https://graph.microsoft.com/v1.0/organization`
[code]

[2018-06-25 22:49] jnlkds commented on #2810
Sending in no locations so that the system should recommend locations that are currently available ONLY yield a few locations,  How do you increase the number of suggestions?
{
  "attendees": [
   ],
  "timeConstraint": {
    "timeslots": [
      {
        "start": {
          "dateTime": "2018-06-21T00:00:07.097Z",
          "timeZone": "Pacific Standard Time"
        },
        "end": {

[2018-06-25 23:14] jthake commented on #2811
@angelgolfer-ms is this something you own? can you verify and update this?

[2018-06-26 05:17] SuneetPatil commented on #559
Hi @ramseen, Thank for your reply and happy to know its working for you. My requirement is accessing the find meeting times API directly using my java back end code to get check the availability. I need to access it using app only and i'm integrating with Alexa device and we wont have any UI to delegate the access from user end.
Can u please explain your user case or in brief how did you achieve o

[2018-06-26 11:47] jnlkds commented on #559
In our institution we have an immediate need to know what conference room is "immediately" available such that we can have a meeting. Taking the time to open outlook, look for attendees and then find out what resources (i.e rooms) takes too long. Hence FAR is supposedly report back to the user what rooms are available "right now", allow them to book and folks will meet.

Unfortunately, I am findin

[2018-06-26 12:45] abdulkareemnalband opened #2813 "Feature Request: CORS friendly endpoint for convert content"
[Convert Content](https://developer.microsoft.com/en-us/graph/docs/api-reference/v1.0/api/driveitem_get_content_format) is very useful functionality but cannot be used in web app due Response is 302 redirect which requires preflight CORS validation.

Provide a CORS friendly endpoint same as [Downlod content](https://developer.microsoft.com/en-us/graph/docs/api-reference/v1.0/api/driveitem_get_cont

[2018-06-26 13:39] rickyk586 commented on #2153
Pulling from each folder separately seems to return all emails `https://graph.microsoft.com/v1.0/me/mailFolders/{folderId}/messages`

[2018-06-26 16:02] rhamilton-wombat commented on #2635
Just now got back to this... at this point I can no longer reproduce. I'm not sure what changed but the above Stack Overflow post makes me at least somewhat more confident that I'm not crazy.

[2018-06-26 21:30] espressobeanies opened #2815 "Graph API doesn't return the content of an item in an O365 group drive"
Issue: Microsoft Graph API v1.0 doesn't return the binary content of an item in an O365 group drive when specifying the correct item-id in the following Graph path:

Documentation is also conflicting with '/files' parameter from Graph API Beta
https://dev.office.com/blogs/GroupsRESTAPI

Article:
https://developer.microsoft.com/en-us/graph/docs/api-reference/v1.0/api/driveitem_get_content

[2018-06-27 07:46] romanSlivinskyi opened #2819 "'lastModifiedDateTime' property is broken for sharepoint lists"
I created an Item in List, when I use
`GET /sites/{site-id}/lists/{list-id}`

I get this for **/beta**:
[code]
and this for **/v1.0**:
[code]
However, when I add _select_ parameter to:
`GET /sites/{site-id}/lists/{list-id}?select=lastModifiedDateTime`

I get the same response for both **/beta** and **/v1.0**
[code]
None of the above is correct.

[2018-06-27 08:36] mishakogan opened #2820 "Limited support for $filter and $orderby with delta. Plans to remove limitation?"
Issue: Limited support for $filter and $orderby

^ Are there any plans to remove limitation, specifically for $filter?

[2018-06-27 12:33] jeevanjaiswalsimpplr commented on #2801
Yes It is working for  API on graph API explorer:
https://graph.microsoft.com/v1.0/me/mailFolders/Inbox/messages?$orderby=from/emailAddress/name
,subject

Regards,
Jeevan

On Tue, Jun 26, 2018 at 4:00 AM, Jeremy Thake (Microsoft) <
notifications@github.com> wrote:

[2018-06-27 12:34] jeevanjaiswalsimpplr commented on #2801
Yes It is working for  API on graph API explorer:
https://graph.microsoft.com/v1.0/me/mailFolders/Inbox/
messages?$orderby=from/emailAddress/name ,subject

Regards,
Jeevan

On Tue, Jun 26, 2018 at 4:00 AM, Jeremy Thake (Microsoft) <
notifications@github.com> wrote:

[2018-06-27 12:47] andrewconnell opened #2821 "🐞 Permissions required for working with Tasks unclear... docs error"
## Issue:

Permissions listed for working with Planner tasks are not correct / unclear. Users have to dig to find the correct permissions.

## Repo Steps:

- navigate to the MSGraph documentation & click into the API reference for the Planner REST API: https://developer.microsoft.com/en-us/graph/docs/api-reference/v1.0/resources/planner_overview#tasks
  - *not finding details on permissions... hav

[2018-06-27 13:58] climam opened #2822 "Impossible to use the Files API with a guest user"
Issue:

Since very recently, it is not possible to use the Files API with a guest user.
This was working perfectly so far with the graph API. Is it a regression introduced with last release ?

Article:

https://graph.microsoft.com/v1.0/drives/b!tupJ7wMaiEuk8-aRAxLsMihw8n59n7tJpCpPLff9m6wkV5KAl9izQKnS0xXxxsa

{
    "error": {
        "code": "unauthenticated",
        "message": "Role Claim does no

[2018-06-27 15:11] jthake commented on #2801
how are you calling this graph api in your application? can you confirm that the full url string is being called in whatever http call stack you are using?

[2018-06-27 17:50] jasonjoh commented on #2804
All-day events are weird, so they're handled a bit differently. Essentially the "time" portion of the start and end is meaningless, but the server (just to keep things consistent) always shifts the time portion to midnight on the relevant day.

You're seeing it return in UTC because that's the default way the API returns date/time. You can change it to another time zone using the following header:

[2018-06-27 18:53] gabrielittner commented on #2804
Thanks for the reply Jason.

That it's always returned it UTC isn't the issue. If you take a non all-day event you get this (same occurrence requested in 3 different timezones):

[code]

`originalStart` is always in UTC, `originalStartTimeZone` is always set to `Pacific Standard Time` which is the time zone the event was created in.

This is what it looks like for an all-day event.
[code]

`origin

[2018-06-27 19:51] jasonjoh commented on #2804
Ah ok. So to succinctly boil down the issue, it's that for all-day events, the `originalStartTimeZone` is always returned as the requested time zone, not the actual time zone that the user created the appointment with, and `originalStart` is actually converted to UTC (from the user's original time zone), resulting in a non-midnight time there (unless you happen to create in UTC).

The idea with al

[2018-06-27 19:52] cbrianball commented on #2797
Is there any update on this? @jthake @dkershaw10

[2018-06-27 21:45] dkershaw10 commented on #2797
@cbrianball Sorry for the delayed response.  In future please file these kinds of questions on StackOverflow and tag with [microsoftgraph].  Issues for this repo are more targeted to doc bugs, in general.
However, since you and Jeremy have me here...
The system doesn't really work that way - or the way you are expecting it to.

App roles can be assigned in one of 2 ways:

1. Assign an app role to

[2018-06-28 01:11] dkershaw10 commented on #2797
OK great on the SO question!
Yes I would have expected the assignment of the app role to the security group to have failed. If it didn't fail, then it's either a bug or the app role definitions are incorrectly defined (will need to check).

I'd also like to evaluate how common a scenario it is in devops to create multiple MSIs and assign them the same access levels to Microsoft Graph (or other API

[2018-06-28 01:38] cbrianball commented on #2797
Mine isn't a DevOps scenario. I have an application that needs to query our Azure AD. I don't want to use delegated permissions (though it was a valid option), and my IT team didn't want to assign the permissions to the app since it has a non-expiring password (i.e. client secret).

I learned about MSIs and how they have a rolling password; this satisfied the IT teams requirements, so we moved for

[2018-06-28 04:57] jeevanjaiswalsimpplr commented on #2801
GET:
https://graph.microsoft.com/v1.0/drives/b!zjYXQOp_KkSFvp3rwm-Pbz-g6njL7dpDhrZCR-wtv0_Zbcln8bPBTadBJCjssPc_/root?$expand=children,permissions,versions&$orderby=lastModifiedDateTime
desc

On Wed, Jun 27, 2018 at 8:41 PM, Jeremy Thake (Microsoft) <
notifications@github.com> wrote:

[2018-06-28 06:33] leonzhuyihong commented on #2263
Hi Jeremy,

Thanks for your reply.

https://graph.microsoft.com/beta/devicemanagement/manageddevices
https://graph.microsoft.com/v1.0/devicemanagement/manageddevices

Seems beta version can provide more details comparing to V1.0 .

Cheers,
Leon

On Thu, Jun 21, 2018 at 4:51 AM, Jeremy Thake <notifications@github.com>
wrote:

[2018-06-28 07:14] climam commented on #2822
This issue is also reported in stack overflow:

https://stackoverflow.com/questions/51059599/microsoft-office-365-groups-guest-user-are-unable-to-do-drive-call-using-graph

https://stackoverflow.com/questions/51071170/guest-users-get-unauthenticated-when-calling-onedrive-through-the-graph-api

https://stackoverflow.com/questions/51059669/exceptions-in-calls-to-onedrive-graph-api

[2018-06-28 08:12] dzardoya commented on #1484
dmitrybg: change "name" to "displayName", it works for me

[2018-06-28 11:14] honb commented on #441
I'm facing the same issue. Did you find a solution for this?

Got bad request:
https://graph.microsoft.com/beta/users/me/appRoleAssignments/
https://graph.microsoft.com/beta/users/me/appRoleAssignments/{AadAppID}

 (beta ->users -> directoryObjects -> List appRoleAssignments). ==> Is this no longer available?

[2018-06-28 11:42] gabrielittner commented on #2804
For example let's say we've got a weekly repeating all-day event. If the third occurrences is moved by one day, I'd get this from the API

[code]

In the case of the occurrences I can do what you suggested, just use `start` and ignore the original fields. For the exception that doesn't work because `start` is not equivalent to `originalStart`.

I've got a workaround for that edge case that's based

[2018-06-28 12:00] sharmajnu opened #2825 "Microsoft office 365 Groups: Guest user are unable to do drive call using graph endpoint"
Our application reads group drive content by doing Get call on the drive item. This used to work fine for both internal members and guest users. Its working now for internal members but not working anymore for guest users. Following is the sample call.

https://graph.microsoft.com/v1.0/drives/b!uey_5Lpf8Eu0-5HlGvJvFga89s_hTxNAg9kSsTlOBqajRqOF3ec-Rp6uqtbLNt4w/items/016GMDDVB74LSDDYRHHRHJ5KV5HHVXWQT

[2018-06-28 13:21] jasonjoh commented on #2804
Can you help me understand why the exception doesn't work for you? It sounds like you have a reliance on originalStart which I'm not groking :).

Here's why I'm asking: I can report this as a bug, but I'm not confident it would get fixed due to the design that all-day events are time-zone-agnostic. If I had a better understanding of how you're using the values, I can make a better case.

[2018-06-28 13:37] JaspervdK commented on #121
Hi, this is still an issue for me. I fixed it temporarily by using  (From/EmailAddress/Address eq 'xxxx@mydomain.onmicrosoft.com' or startswith(From/EmailAddress/Address,'xxxx@mydomain.onmicrosoft.com'))

[2018-06-28 13:49] gabrielittner commented on #2804
I'm synchronizing Outlook calendar with Android's calendar database. Outlook events have these types: `singleInstance`, `seriesMaster`, `occurrence` and `exception`. The database wants `singleInstance`, `seriesMaster`, `exception` and deleted occurrences (they are inserted like an exception but with a cancelled flag). Occurrences are generated by the database itself. For the generation to work cor

[2018-06-28 14:42] Tekki opened #2826 "Excel API available on consumer drive?"
Is my impression correct that the Excel API is now working with personal accounts? If yes, we need some changes to the docs.
See #1663 as an example.

[2018-06-28 16:04] trgraglia commented on #1965
Ill leave this here just in case. I recently manged to create an item with a people field (Single User or Group)  with Graph API v1.0.
The most rapid way to test is using the graph explorer. Making a post to the /items endpoint with the following body:
[code]
The main to thing to pay attention to is that the field is called AwesomeDude and the id of the user must be known. This is a start.
Additio

[2018-06-28 17:19] jthake commented on #2801
Does this work for you?

https://graph.microsoft.com/v1.0/me/drive/root?$expand=children,permissions,versions&$orderby=lastModifiedDateTime desc

Just to elimate the /drives/{drive-id} being the issue here

[2018-06-28 17:21] jthake commented on #2263
In our documentation we explain the difference between the beta and v1.0 endpoints. Eventually those features in the beta end point that you are using will make it up to v1.0. I am not sure on the timeframes specifically for the Intune ones, so you will need to keep an eye on our blog for those announcements.

https://developer.microsoft.com/en-us/graph/docs/concepts/versioning_and_support#version

[2018-06-28 17:21] #2263 closed

[2018-06-28 17:36] jthake commented on #2819
@JeremyKelley  can this be investigated please?

[2018-06-28 17:43] jthake commented on #2815
@daspek  was is the correct way to get the content of a item in a groups onedrive?

[2018-06-28 17:46] jthake commented on #2820
Are there particular limitations you had in mind here? This would help us understand the extra feature you are requesting...

[2018-06-28 17:47] jthake commented on #2821
@erayc-msft who in the Planner team could investigate this?

[2018-06-28 17:49] jthake commented on #2822
@daspek do you have any further information on this?

//cc: @JeremyKelley

[2018-06-28 17:53] jthake-msft commented on #2826
@sumurthy are we ready to merge that in yet?

[2018-06-28 17:56] JeremyKelley commented on #2815
@espressobeanies Getting the content of a file should be the same regardless of what Drive it's in, whether it's a group or other.  The doc you linked to in the API Reference is the most up to date on how to get content.

One thing I did notice is that the call to get content does not work when using Graph Explorer.  If you put it inside an actual application however it should work.  In my case I

[2018-06-28 17:56] jthake-msft commented on #2825
This is a duplicate of #2822 , I will close this one. @sharmajnu please follow that issue. Thank you for raising this.

[2018-06-28 17:56] #2825 closed

[2018-06-29 06:06] climam commented on #2822
The issue is not happening anymore this morning, do you confirm that you fixed it ?

[2018-06-29 08:00] aslanovsergey opened #2833 "MS Graph some user's properties are empty"
Issue:
When I fetch data through ms graph (v1.0 and beta) I don't get values of many basic properties like next

[code]
although I see them when I get this user though Get-AzureADUser and some of the properties have slightly different names

[code]
Should I configure some mapping somewhere?

[2018-06-29 09:17] frankie567 commented on #2796
Any news on this?

[2018-06-29 10:19] aslanovsergey commented on #2833
The answer was to give User.Read.All permissions. But is it possible to reveal some more properties on top of User.ReadBasic.All?

[2018-06-29 16:40] JeremyKelley commented on #2822
We did in fact make a change that should resolve the issue.  We apologize for the inconvenience it caused and also really appreciate the info both here and on StackOverflow.

[2018-06-29 16:47] JeremyKelley commented on #2800
As far as I know there are no published guidelines around search performance / latency.  If you're consistently experiencing long search delays (on the order of hours rather than minutes) it might be worth opening a support ticket for investigation.  I general there is always some delay for when the crawler will pick up new content but that time can be variable depending on a lot of factors.

[2018-06-29 16:48] JeremyKelley commented on #2796
@ificator Do you have any suggestions or insight on this one?

[2018-06-29 16:50] JeremyKelley commented on #2779
@mahpour Are the fields that are missing always lookup fields or are you seeing this with other field types as well?

[2018-06-29 18:05] kolomolo commented on #2742
How is it a feature request and not a bug?  Surely it should be kept open so it can be tracked and fixed?  Many Thanks for all the support so far, it defintely helped, but instead of using the API i've had to use an admin account to see all the sites and store in a DB.  It's a work around to a bug.

[2018-06-29 18:07] #2822 closed

[2018-06-29 18:11] #2800 closed

[2018-06-29 18:15] jthake-msft commented on #2742
Feature requests are actually tracked on our UserVoice site. https://officespdev.uservoice.com/forums/224641-feature-requests-and-feedback/category/101632-microsoft-graph-o365-rest-apis
If you want to create the feature request there. THat's where progress will be tracked on improving this scenario.

[2018-06-29 18:15] #2742 closed

[2018-06-29 19:04] ificator commented on #2796
the value returned from `delta` looks like the `webDavUrl` - the fact that we're inconsistent is definitely a bug, and it looks like `delta` should return what `items` does.

[2018-06-29 20:01] kolomolo commented on #2742
How is listing your businesses a feature?  The API is broken, and I would think that seeing as every business registered is actually a license purchased from Microsoft, my customer has 150 businesses, I would have thought this would be something to actually fix than sweep under the carpet as a feature request. pah..  Disappointed with your approach @jthake-msft   This just makes me want to code th

[2018-06-29 21:06] fpintos commented on #2742
I was talking to the feature team and the understanding is that the limit was put in place there for user interface reasons; it came up when the target was small tenants, which would have only a few of these, so it wasn't an issue.

Now that we're exposing the API in Graph and allowing a lot more of these to be created that limit is not really applicable, so we're investigating what it takes to re

[2018-06-29 22:37] kolomolo commented on #2742
OK thanks! :)

[2018-06-30 11:37] mishakogan commented on #2820
Hi! Limitation I was talking about: delta queries only support filtering on receivedDate for messages. I wanted to filter messages with particular subject, etc... however, after reading more about deltas I realized that it might not be be the right technology for my use-case: pull emails for all users on a frequent time-basis. Delta is more for synchronizing changes and events. I have switched awa

[2018-06-30 14:17] andrewconnell commented on #2821
Closing as the docs are correct/factual... seems it was my error. The permission `Tasks.Read` is apparently only for *Outlook Tasks*... not *Planner Tasks*. For the latter, you need `Groups.Read.All`

... _which doesn't come close to passing the "common sense" bar... but that's a different debate_

[2018-06-30 14:17] #2821 closed

[2018-07-02 02:36] attrib75 commented on #2511
@jthake-msft Thanks for responding.  I opened a premier support ($$$) request with Azure.  Ticket #118052518259982.  Sent them detailed stack trace information.  Worked with an engineer in support.  Received an out of office reply from him.  Replied to the email according to the instructions on how to continue the case.  This was on 6-6-18.  Haven't heard from anyone since.  Very disappointing.  M

[2018-07-02 13:15] espressobeanies commented on #2815
@JeremyKelley Yes, I'm working with .docx files and I'm only able to get back 323 bytes of the actual file. I tried setting the 'content-type' to what you have, however it didn't seem to make much difference in my output.

[2018-07-02 16:54] Jackson-Woods commented on #2744
The `preferredLanguage` property is a user property: see the [User resource](https://developer.microsoft.com/en-us/graph/docs/api-reference/v1.0/resources/user) page. It is not available on groups in Azure AD or Microsoft Graph. The cited documentation is correct to omit this property.

Closing issue.

[2018-07-02 16:54] #2744 closed

[2018-07-03 08:13] bora89 commented on #407
Guys, about 2 years passed, NO progress has been made. It is just ridiculous how careless you can be. Either fix it or [remove from the documentation that it is possible](https://docs.microsoft.com/en-us/onedrive/developer/rest-api/concepts/filtering-results)

[2018-07-03 12:37] bhushankumarl opened #2839 "SyncStateNotFound on `Get incremental changes to events in a calendar view`"
I am using `Get incremental changes to events in a calendar view` documented here: https://developer.microsoft.com/en-us/graph/docs/concepts/delta_query_events

I want to access calendar events of Users under my Office 365 account.

I am able to obtain first nextLink, for that, I am using below query :
Request URL :
[code]

It works and response is :
[code]

Response headers :
[code]

Now I am que

[2018-07-03 15:47] mahpour commented on #2779
@JeremyKelley, It was lookup fields only. the issue has not happened since when I reported it but that's really concerning if we rely on graph to sometimes not work as expected. specially that we are not using the beta api channel.

We also noticed some inconsistencies when different users are accessing the API sometimes it reports as unauthorized call for same user (non domain user/ guest user) b

[2018-07-04 01:15] #2806 closed

[2018-07-04 14:15] climam opened #2841 "File API: Impossible to get thumbnail of a document uploaded without a user (app token)"
**Issue:**

When calling the File API to get the thumbnail of a document uploaded without a user (app token), the request fails after 20secs with following error:

`{
    "error": {
        "code": "UnknownError",
        "message": "",
        "innerError": {
            "request-id": "ad155c56-7218-4417-8238-50b4290d1129",
            "date": "2018-07-04T14:09:56"
        }
    }
}`

**Reproduct

[2018-07-05 06:45] cuongnm265 commented on #2459
any update? I have the same issue with [Update chart](https://developer.microsoft.com/en-us/graph/docs/api-reference/v1.0/api/chart_update)

[2018-07-05 06:50] dashie commented on #2459
no update unfortunately

[2018-07-05 08:37] cuongnm265 commented on #2459
@dashie thank you for responding me, do you know any channels to report bugs or finding help? I tried on Stackoverflow but no luck

[2018-07-05 16:46] jthake-msft commented on #2820
Yes, deltas is really more about overall emails in mailbox and changes since last pull of emails.
I will close this issue now.

[2018-07-05 16:46] #2820 closed

[2018-07-05 16:47] pmbaldha opened #2842 "Request access token for Office 365 Germany gives ambiguish error"
When I am trying to get access token for Office 365 Germany by API call as described on the
https://docs.microsoft.com/en-in/azure/active-directory/develop/active-directory-v2-protocols-oauth-code#request-an-access-token, but it display irrelevant error like below:

    {
        "error": "invalid_client",
        "error_description": "AADSTS70002: Error validating credentials. AADSTS50012: Invali

[2018-07-05 16:59] jthake-msft commented on #2841
Are you requesting the correct permissions for the app-only token before making this call?

In the documentation it lists what you require
https://developer.microsoft.com/en-us/graph/docs/api-reference/v1.0/api/driveitem_list_thumbnails

[2018-07-05 17:02] climam commented on #2841
Yes, we have actually Files.ReadWrite.All

[2018-07-05 17:03] jthake-msft commented on #2841
@JeremyKelley any idea why it would be returning and UnknownError here?

[2018-07-05 17:10] jthake-msft commented on #2833
Apologies for delay in responding here.

Are you using the

[code]

You can specifically select which properties you would like. These are documented [here ](https://developer.microsoft.com/en-us/graph/docs/api-reference/v1.0/api/user_get)

[2018-07-05 17:11] jthake-msft commented on #2839
Are you signed into the Microsoft Graph Explorer with your own credentials (ie. data is coming from your own tenant)? Or are you using the demo data?

[2018-07-05 17:18] sumurthy commented on #2826
The Excel API on personal accounts are not supported. It has few technical issues that we are working through and is not suitable for public usage. There is no timeline available on when we can take it to GA.

[2018-07-05 17:18] #2826 closed

[2018-07-05 17:33] #1364 closed

[2018-07-05 17:58] sumurthy commented on #2459
Unable to re-produce the issue. Chart retrieval is working fine for the files that I'm testing with. What's the HTTP error code you are receiving?

[2018-07-05 18:02] dashie commented on #2459
Can you share your worksheet?

—
Maurizio Merli

[2018-07-05 20:13] dgallegos commented on #1803
@JohnAustin-MSFT  any update on this bug?

[2018-07-06 03:37] vntheeb commented on #2459
@sumurthy Can you have a look at my worksheet? [asset-model](https://drive.google.com/open?id=1SEqx2rsKAzYRqvERscnE70MsTCEgutQT)

[2018-07-06 10:59] Chotimir opened #2846 "Filtering by date not working in bookings appointments"
I tried to get appointments filtering by date but I get 400 error code (message: "This filter query is not supported."). There are urls:
`https://graph.microsoft.com/beta/bookingBusinesses/<id>/appointments?$filter=start/dateTime eq '2018-06-07T06:50:02.0000000Z'`
`https://graph.microsoft.com/beta/bookingBusinesses/<id>/appointments?$filter=start/dateTime gt datetime'2018-06-07T06:50:02.0000000Z'`

[2018-07-06 14:55] CaramelHeaven commented on #2351
Hello. Can you give some examples of how to solve this problem? I have the same problem, and I need to filter the list items. Thanks in advance.

[2018-07-06 15:59] CaramelHeaven commented on #2351
If I understood correctly, you had to use a filter on a custom column. If so, then I found a solution. I'm adding it here for future people :)

`https://graph.microsoft.com/v1.0/sites/{siteId}/lists/{listId}/items?$filter=fields/{Lookup Column name} eq 'value'&$expand=fields`

Also u can use select: .`...'value'&$expand=fields(select=Id, Title...)`

[2018-07-07 15:23] BharatKhunti commented on #2351
Hello @CaramelHeaven,

It work fine for simple column(like Text, Number, Currency etc). But It didn't work for Look Up column. For lookup column filter you have to filter by LookUp Id. You can refer below query to filter look up column.
`https://graph.microsoft.com/v1.0/sites/{siteID}/lists/{listID}/items?$filter=fields/{LookUp Column Name+LookupId} eq itemID &$expand=fields($select=Id, Title, Loo

[2018-07-08 06:35] vntheeb commented on #2459
@dashie @sumurthy I have investigated the issue for some days and found that the API only raised error on a chart which uses data from another worksheet in a workbook. If the chart only uses data from same worksheet where it is in, nothing happen

[2018-07-09 08:38] alexis-puska opened #2848 "Error in move message rest entry"
Hi all,
I develop an application that used Microsoft Graph API. I found an problem inside an entry point

Page of entry point
https://developer.microsoft.com/en-us/graph/docs/api-reference/v1.0/api/message_move

This entry point : POST /me/mailFolders/{id}/messages/{id}/move always wait for a destinationId folder body, or this entry point the destination id is wrote inside the URL after mailFolder

[2018-07-09 12:09] sGaster commented on #559
Any updates to this issue? Facing the same problem: Acces denied for application based permission type.

[2018-07-09 14:45] RobinBreman opened #2849 "Excel documents do not return a thumbail"
Issue:

Requesting thumbnails for Excel documents returns an empy collection.
There is no mention in the docs about unsupported files.

Item: https://graph.microsoft.com/beta/drives/x/items/y

[code]

Thumbnail: https://graph.microsoft.com/beta/drives/x/items/y/thumbnails

[code]

Article:
https://developer.microsoft.com/en-us/graph/docs/api-reference/beta/api/driveitem_list_thumbnails

[2018-07-09 20:01] gwmpey commented on #2790
I am also having this issue and it has been very frustrating. Additionally, it would be very helpful if the response would include what the missing permission was.

[2018-07-10 05:57] ArunMSFT commented on #2637
@jthake-msft @angelgolfer-ms Please assign this to me

[2018-07-10 12:09] Sparsh12345 opened #2853 "assignLicense Graph API returns 400"
I am trying to add user licence while creating new user using Microsoft Office 365 Graph API but i have tried so many times it returns 400 (Bad Request).

My Url : https://graph.microsoft.com/v1.0/users/{username}/assignLicense

Post Json

{"addLicenses":[{"disabledPlans":[],"skuId":"u86tgb54-b296-42f0-b197-1e91e994b900"}],"removeLicenses":[]}

Please suggest what the issue here.

[2018-07-10 12:43] ramseen commented on #559
@SuneetPatil Hi Suneet , As per my understanding it wont work with app only permission. You have to prompt the user to be signed in against the azure ad app which has permission to read all calendars.  in my case the scenario is different We are trying to develop a meeting scheduler in chat bot level. there user can prompt for signed in. So easily we will get the bearer token after sign on.

[2018-07-10 16:17] jthake-msft commented on #2846
@fpintos  could you share any insight here?
There doesn't seem to be a known limitation here for this https://developer.microsoft.com/en-us/graph/docs/concepts/known_issues#bookings

[2018-07-10 16:18] jthake-msft commented on #2848
@ArunMSFT can you help here?

[2018-07-10 16:20] jthake-msft commented on #2849
Is there any reason you are using the beta endpoint and not v1.0 ?
https://developer.microsoft.com/en-us/graph/docs/api-reference/v1.0/api/driveitem_list_thumbnails

[2018-07-10 16:29] jthake-msft commented on #2853
what is that SkuID you are using there?

The documentation has one sample, have you tried that?
https://developer.microsoft.com/en-us/graph/docs/api-reference/v1.0/api/user_assignlicense

[2018-07-10 21:23] fpintos commented on #2846
Filtering by dates should be done by using [calendarView](https://developer.microsoft.com/en-us/graph/docs/api-reference/beta/api/bookingbusiness_list_calendarview).

We'll investigate what is going on with the null case.

[2018-07-11 08:06] ArunMSFT commented on #2848
@alexis-puska - Please post technical questions here: https://stackoverflow.com/questions/tagged/microsoft-graph

1. The destinationID has to be specified in the POST body
2. The destination folder ID can either be the actual ID or some standard folder names likeInbox, Drafts, SentItems, or DeletedItems well-known folder name. For full list of well known folders see the doc here: https://developer

[2018-07-11 08:06] #2848 closed

[2018-07-11 08:08] ArunMSFT commented on #2637
Thanks @krasnor for pointing out the gap, we'll update the doc soon.

[2018-07-11 08:15] sGaster commented on #559
@SuneetPatil same scenario for me. For the moment we think to throw out our own authentication and use microsoft 365 authentication for our chat-bot as workaround. But if microsoft enables us to do this with app scope based permissions this would be the better solution for everyone.

[2018-07-11 10:09] justdevelopment commented on #2849
This issue also occurs in V1.0 and we just noticed it also happens on the regular SharePoint activity feed (I'm unsure if this runs on Graph. I don't see any calls to the thumbnail endpoint so perhaps it's not Graph specific?):

![image](https://user-images.githubusercontent.com/23448165/42565109-d4d6586c-8502-11e8-9f59-bc81ab7135b9.png)

It seems to be related to the content of the Excel file. Wh

[2018-07-11 15:36] jthake-msft commented on #2849
@JeremyKelley can you give any advice on this one?

[2018-07-12 01:14] huyvo98 commented on #2623
yes, it is.
Appreciate your advice :)

[2018-07-12 13:19] justdevelopment commented on #2700
@jthake-msft  Have you had any response on this? We're really hoping to include this functionality :)

[2018-07-12 14:42] georgii11 opened #2856 "PublicClientApplication doesn't work on WP8.1"
Issue:
    I am trying to follow the sample for UWP (https://github.com/microsoftgraph/uwp-csharp-connect-sample) and implement a simple way to connect to a microsoft account on windows 8.1 and windows phone 8.1 too (in c#).
   It's all working fine on UWP and W8.1, but on WP8.1, the constructor for _PublicClientApplication_ doesn't work and my app crashes with _System.NullReferenceException_. I c

[2018-07-12 15:19] frankie567 commented on #2796
Hi,

Thank you for your feedback! When do you plan to fix this issue?

Best regards,

François Voron

[2018-07-12 15:21] #2623 closed

[2018-07-12 15:59] mahpour commented on #2779
@JeremyKelley It's happening again, we are not getting lookup values in the responses. It's so disappointing to see your API's are not stable and production ready. We will pull out the plugs on your Graph API. 😠

[2018-07-12 16:10] mahpour commented on #2779
![screenshot](https://user-images.githubusercontent.com/202065/42645648-91a00082-85cc-11e8-9417-1e85d4227efb.png)

[2018-07-12 16:16] jthake-msft commented on #2700
@ArunMSFT could you help here?

[2018-07-12 18:15] jasonjoh commented on #2856
The Microsoft.Identity.Client package is maintained by the Azure AD folks in [this GitHub repo](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues). I'd suggest filing an issue there.

[2018-07-12 20:00] fpintos commented on #2846
Hi @Chotimir , the fix to filter by 'eq null' and 'ne null' has been deployed.

[2018-07-12 20:00] #2846 closed

[2018-07-12 20:42] georgii11 commented on #2856
Oh, ok! Done!
Link [https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/591](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/591) in case it reaches a conclusion there and someone else is interested.
Thanks!

[2018-07-12 20:42] #2856 closed

[2018-07-12 21:43] mahpour commented on #2779
It’s working now. I will check the response headers when I’m back at the office tomorrow. Thank you!

[2018-07-13 00:10] ificator commented on #2779
I managed to find some relevant logs, and it looks like we had an issue specifically with multi-value lookup fields. Can you confirm this aligns with your scenario? If so I'll make sure it's correctly handled before we make any further attempts to enable the problematic feature.

Rest assured we will not regress this behavior again.

[2018-07-13 06:43] frankie567 opened #2860 "Outlook webLink with ispopout=0 doesn't work as expected"
Issue: The Outlook message documentation states this about the `webLink` property:

When setting the `ispopout=0`, the Outlook Web App is loaded but the corresponding e-mail is not displayed. It only works if the e-mail is in the main Inbox. If it is in another folder (like Sent Items or a custom one), it always redirects to the Inbox and opens the first message in it.

Article: https://developer.

[2018-07-13 11:11] Savageman commented on #1417
I just got this issue too.
I was able to find which user was subscribed, found its current token in my application and called `DELETE  https://graph.microsoft.com/v1.0/subscriptions/<subscription_id>` to clear it.

[2018-07-13 15:12] limefrogyank opened #2862 "Incorrect permissions required for creating openExtension on User resource"
Issue:  Incorrect permissions required for creating openExtension on User resource

Article: https://github.com/microsoftgraph/microsoft-graph-docs/blob/master/api-reference/v1.0/api/opentypeextension_post_opentypeextension.md

The article states that to create an openExtension on the user resource, you need `Directory.AccessAsUser.All`.  However, using the Graph Explorer and verifying that none o

[2018-07-16 00:14] stevezau opened #2867 "Applications API out of date (redirectUrls and consent grants)"
Issue:

It looks like there are some changes to the beta API. It has broken my auto deploy scripts but the docs are not reflecting these changes?

1. It seems the redirectUrls as no longer part of web within applications.  https://github.com/microsoftgraph/microsoft-graph-docs/blob/master/api-reference/beta/resources/web.md

2. It seems you can no longer update/add consent grants to applications.

[2018-07-16 09:43] MRuimerman opened #2868 "Documentation: what is meant by "used" in graph call GET /me/drive/recent"
Issue: The documentation states that the request **GET /me/drive/recent** returns "a set of items that have been recently used by the signed in user"
What is meant by "used". Does this means opened or modified?

Article: https://developer.microsoft.com/en-us/graph/docs/api-reference/v1.0/api/drive_recent

[2018-07-16 09:51] dzardoya opened #2869 "Download a file in another format - Convert docx to pdf"
Issue:
I'm trying to get a Word document (.docx) from the Document library in a SharePoint 365 site as a Pdf using the contents format described in the article below but always getting the following result:
Failure - Status Code 0
{
    "isTrusted": true
}

This is the URL I'm using from graph explorer:
https://graph.microsoft.com/v1.0/sites/{site-id}/drive/items/{document-id}/content?format=pdf

[2018-07-16 13:29] subbiahkk opened #2870 "API for Word/Excel Co-authored Users"
Is there any API or way to Get the Active Co authored users.  I am working on MS office Coauthoring, in that Document will moved to Onedrive from Source while Coauthoring. I am tracking the Coauthored users and capturing the Afterclose event in Excel/Word. In the server end, I am validating the last user and Sync the doc back to source. The issue is if any of the Coauthored user Shutdown or Restar

[2018-07-17 08:37] dzardoya opened #2872 "Create List with custom template"
I'm using MS Graph for managing SharePoint online sites dynamically.

I'm able to create new lists and document libraries using the default templates, i.e.:

POST https://graph.microsoft.com/v1.0/sites/{myTenant}:/sites/{mySiteCollection}/{mySite}:/lists

BODY

[code]

The problem is that we have defined a library template with several columns (all are "single line of text" type) and some advanced

[2018-07-17 08:51] JuForan commented on #2700
Hi -- I apologize for not responding sooner; the thread was just brought to my attention.

When the Skype service creates an online meeting, it stamps a specific value on the Event object. That property is read & exposed via Graph API as `onlineMeetingUrl`. However, the Teams service is populating a _different_ value on the Event object, so that is why it doesn't just populate automatically into t

[2018-07-17 11:09] ZaMaZaN4iK commented on #2162
+1 I also got the issue. Is any workable workaround for this?

[2018-07-17 11:36] Zombaya opened #2873 "Searching messages by receival date uses wrong parameter"
# Article
[Use query parameters to customize responses](https://developer.microsoft.com/en-us/graph/docs/concepts/query_parameters#search-parameter)

# Issue
The documentation states that you can search for messages by using KQL and the field `receivedDateTime`.  This however does not work.  If you replace this field by `received`, it does work as it should.

# Examples
The examples should return

[2018-07-17 11:41] Zombaya commented on #2873
I don't know whether the documentation or the API should be changed.

I should note that I found the lack of an example also did not help and I believe it should be very helpful if an example for searching by receival date would be added to this part of the documentation and to the examples of the Graph Explorer.

[2018-07-17 12:36] Vullers opened #2874 "Graph showing data from other customers, possible security breach"
Issue:
Microsoft Graph is showing files that we do not have access to. We are getting usernames and filenames in the Microsoft Graph of files that are from other Office 365 tenants were we do not have access to or have any relationship with. When we try to open the link they access is denied.

I don't think it is good to put the output of the Graph Explorer here, because it contains personal infor

[2018-07-17 12:54] Zombaya commented on #2869
Simply requesting the original file also does not work.

## Example
### File info
[https://graph.microsoft.com/v1.0/me/drive/items/01BYE5RZ4FL7NVUU4UDVHIRG32OLTW4IKM](https://developer.microsoft.com/en-us/graph/graph-explorer?request=me/drive/items/01BYE5RZ4FL7NVUU4UDVHIRG32OLTW4IKM&method=GET&version=v1.0&GraphUrl=https://graph.microsoft.com)
[code]
### File contents
[https://graph.microsoft.com/

[2018-07-17 13:37] Crispify commented on #2874
I too believe this is a security breach happening in the /drive endpoint of the Graph API.

[2018-07-17 13:48] Vullers commented on #2874
Apparently the Office 365 finally sees the urgency of this problem and is asking me to test again. Now I do not see information about other customers.  @Crispify can you try again too ?

[2018-07-17 13:56] Crispify commented on #2874
Indeed, not seeing results from other tenants anymore.

[2018-07-17 20:32] espressobeanies commented on #2815
Is anyone monitoring responses to these threads?

[2018-07-18 07:07] Vullers commented on #2874
@CelticCoder I have send the email on how I got the results. This now is not possible anymore, also an escalation manager at Microsoft is working on this as well, maybe team up and investigate this further?

I can also assure you that this was not example / sample / demo data, this was real data, I've verified the people that were showing in the Graph output.

[2018-07-18 14:35] espressobeanies commented on #2815
Thanks @jthake-msft

Daspek, I'm seeing this for all the files I tried in a directory. So, I actually get the following message when I open the file in Notepad:

Sure, please reach out to me. Thanks.

[2018-07-18 14:42] ZaMaZaN4iK opened #2877 "SyncStateNotFound error: how to fix or avoid?"
Hello.
I am using Microsoft Graph API delta queries for downloading some information (messages, contacts, events) regularly. But sometimes I get this error:
[code]
I can't provide you steps for reproducing because I don't know how to reproduce it. It happens sometimes on production environment.

So I have some questions:

1. What is generation in Microsoft Graph API? Is there any available documen

[2018-07-18 14:47] ZaMaZaN4iK opened #2878 "How to differ on-premise and online mailboxes"
Hello.

AFAIK Microsoft Graph API can work partially with on-premise mailboxes. In my case I need any way to divide mailboxes into 2 groups via Graph API: online mailboxes and on-premise mailboxes.

1. Is any good way for doing this stuff?
2. According to documentation there is possibility to set up on-premise: Exchange, Sharepoint, One Drive. If any of them is configured as on-premise for some us

[2018-07-18 14:50] ZaMaZaN4iK opened #2879 "How to detect shared and resource mailboxes"
Hello.

Is there any way to detect shared and resource mailboxes?

Thank you.

[2018-07-18 14:56] ZaMaZaN4iK commented on #2350
+1 I also get this error? Is there any tips?

[2018-07-18 15:15] ZaMaZaN4iK opened #2880 "userType field - which values are allowed?"
Hello.

Microsoft Graph API's User entity has field "userType". According to documentation there is no any information about this. There is one line: "A string value that can be used to classify user types in your directory, such as “Member” and “Guest”. Supports $filter.". So there is no any limitations :-)

1. Can be "userType" null? I can't PATCH existing user manually via graph api  - graph ap

[2018-07-18 15:28] ZaMaZaN4iK opened #2881 "How to enumerate deleted SharePoint sites via Graph API"
Hello.

Is it possible to enumerate deleted SharePoint sites via Microsoft Graph API? If yes, how can I do it?

Thank you.

[2018-07-18 15:31] ZaMaZaN4iK opened #2882 "Get access to public folders on Exchange Online"
Hello.

Is there any way to enumerate and get access to public folders on Exchange Online via Microsoft Graph API? I didn't find any information in documentation about it.

Thank you.

[2018-07-18 15:54] jthake-msft commented on #2350
The Delta for calendar is the same as the delta on drive.

This page has more information on "410 gone" https://docs.microsoft.com/en-us/onedrive/developer/rest-api/api/driveitem_delta#response-2

Does this help?

[2018-07-18 16:01] jthake-msft commented on #2815
@espressobeanies did this resolve your issue? if so could you close the issue below?

[2018-07-18 17:57] espressobeanies commented on #2815
@jthake-msft it didn't. I tried both URL methods and they kicked back the same "Access Denied" message that I posted above

[2018-07-18 20:10] daspek commented on #2815
@espressobeanies thanks for the clarification. The 323-byte response you're getting is the error message, not a corrupt partial file. So that's good. The URL you're using points to a direct SharePoint REST API and is not part of Microsoft Graph. If you're using an auth token for Microsoft Graph, then that token won't work with this API, and that could be the source of your problem.

Could you try

[2018-07-19 00:15] chilipepper987 opened #2886 "JSON batch limit of "20" is not correct"
Issue:
For json-batching, it says a known issue

However, in practice it isn't that high. When I send 20 requests, 4-6 of them (in no particular order) always fail with a 429 errror Could Not Connect To Mailbox Too Many Requests. For example, send _10_ batch requests in a row of _20_ requests each, _all 10_ will only have **16** succeed and **4** fail. Try it again in an hour, _all 10_ will each o

[2018-07-19 02:30] angelgolfer-ms commented on #2873
@Zombaya , I made some clarification in the docs (https://developer.microsoft.com/en-us/graph/docs/concepts/query_parameters#search-parameter). It may take up to a day for the update to refresh on the live site. Thanks for bringing up the issue.
I can add an example next week as well.

[2018-07-19 08:41] Zombaya commented on #2873
@angelgolfer-ms, Thanks for clearing this up.

However, I noticed you also changed the property `hasAttachments`  to `has`.  However, I do believe `hasAttachments:true` works as intended.

## Query using has:true
[https://graph.microsoft.com/v1.0/me/messages?$search="has:true"&$select=subject,hasAttachments&$top=5](https://developer.microsoft.com/en-us/graph/graph-explorer?request=me/messages?$sea

[2018-07-19 10:28] justdevelopment opened #2889 "Cannot store Schema Extension value as regular user"
When trying to store custom data using a Schema Extension (in this example I use @wobba 's techmikael_GenericSchema) a regular user (SharePoint site owner and normal members) gets the 'Insufficient privileges' error. A tenant admin can store data correctly. I have (as far as I know) the correct permissions set both in app and for testing in the graph explorer but no luck. This is the case for the

[2018-07-19 10:33] wobba commented on #2889
If you are running with delegated permissions, the user performing the operation has to be either user admin or tenant admin. If running with app only permissions, the User.ReadWrite.All with admin consent should be sufficient.

When running with delegated permission, you can not elevate permissions beyond what the user actually has.

[2018-07-19 11:14] justdevelopment commented on #2889
But shouldn't the user be able to save to their own groups/profile? I understand why the Organization endpoint fails, didn't read the docs on that one closely enough.

I've tested with an Open Schema and that works fine against for instance the /groups or /user one, while using a Schema Extension fails for the same user against the same endpoints with the same permissionset.

[2018-07-19 11:18] wobba commented on #2889
The object is in AAD, not the user profile, so might be why.

A group owner can update schema ext on a group, as I'm using this multiple places. Haven't tested on the user objects.

[2018-07-19 11:30] justdevelopment commented on #2889
I guess we could update the issue to 'user can not update schema extension on their profile'? That does seem to be a bug to me as that works with Open Extensions. The rest makes sense, regarding delegated permissions and such.

[2018-07-19 13:24] dzardoya opened #2890 "DriveItem Move error"
Hi,

We are getting the following error when calling the Move method as described here: https://docs.microsoft.com/en-us/onedrive/developer/rest-api/api/driveitem_move

"Requested move requires an async response, add 'Prefer: respond-async' to allow"

If we add that header to the request it works, but it returns 202 instead of 200 as status code without response body. We need, as described in the

[2018-07-19 14:13] jonatan-kazmierczak commented on #2231
I see the same issue when I try to subscribe for events (meetings).
I've tried it with 2 available endpoints:
1. POST https://graph.microsoft.com/beta/subscriptions
1. POST https://graph.microsoft.com/v1.0/subscriptions

### Request
[code]

[1] URL pointing to Azure function returning the content as required. Logging discloses, that there is no verification request sent to the `notificationUrl`.

[2018-07-19 16:23] ZaMaZaN4iK opened #2892 "Detect Mail user via Graph API"
Hello.

Is there any way to detect Mail Users (https://docs.microsoft.com/en-us/exchange/recipients-in-exchange-online/manage-mail-users https://technet.microsoft.com/en-gb/library/40300ed4-85a5-463d-bb3a-cf787bd44e9d.aspx) via Graph API?

Thank you.

[2018-07-19 21:01] jthake-msft commented on #2350
@daspek is there anything you can share that is more specific to answer @ZaMaZaN4iK  ?

[2018-07-19 21:46] CelticCoder commented on #2874
@Vullers We received, I can confirm. Thank you for your extremely detailed response which aptly demonstrates the issue. We will revert. Thank you again for reporting this. We are working on this now

[2018-07-19 22:30] JeremyKelley commented on #2890
Hi @dzardoya are you attempting a move within a drive or to another drive?  @ificator you may want to take a look at this one.

[2018-07-20 01:51] ificator commented on #2890
It would have to be a cross-drive scenario to trigger this behavior. Can you give us some details about the source and target drive? Did this scenario use to work for you?

[2018-07-20 06:23] dzardoya commented on #2890
Hi both,

We are using this method to move documents between 2 document libraries inside the same SharePoint online site. This works like a charm in our development tenant, but the behavior is completely different in the preproduction tenant as described.

Regards

[2018-07-20 08:48] ZaMaZaN4iK opened #2894 "How to delete mail from RecoverableItemsDeletions via Graph API?"
Hello.

Is it possible to delete a mail via Microsoft Graph API from MailFolders/RecoverableItemsDeletions ? I tried to send a request, but got this error:

[code]

Thank you.

[2018-07-20 17:49] jasonjoh commented on #2662
Fixed in the above merge

[2018-07-20 17:49] #2662 closed

[2018-07-20 17:49] jasonjoh commented on #2344
Fixed in the above merge

[2018-07-20 17:49] #2344 closed

[2018-07-20 19:18] JeremyKelley commented on #2881
Hi @ZaMaZaN4iK I don't believe we currently have a way to do this.

To get specific, are you looking for sites deleted in a site collection or site collections that are deleted in your tenancy?

Thanks!

[2018-07-20 19:51] JeremyKelley commented on #2869
Graph Explorer doesn't really let you download the content from a file as far as I know.  If you use the Graph URLs from within your own app you should see the results work.

If it doesn't work from outside Graph Explorer please let me know.

Thanks!

[2018-07-21 09:03] sebastus opened #2902 "corrections to doc"
Issue:
Integration with Azure Monitor Add-on for Splunk not quite right

Article:
https://github.com/microsoftgraph/microsoft-graph-docs/blob/master/concepts/security_siemintegration.md#step-3-download-and-install-the-azure-monitor-add-on-for-splunk-which-will-allow-splunk-to-consume-security-alerts

In step 3a the doc says to put "_json" as the value of a new json property. The add-on does not us

[2018-07-23 07:19] dzardoya commented on #2869
Hi Jeremy,

You are completely right, it works from C#!

Thanks

[2018-07-23 18:08] espressobeanies commented on #2815
Daspek, if I use the Microsoft Graph link from above, I get a file size with zero bytes and no error messages from my REST output.

[2018-07-23 19:46] daspek commented on #2815
@espressobeanies, when you request `/content`, the server should return a 302 redirect to a download URL. if you follow the download URL, you should be able to get the content. also, in the metadata response you get back without `/content`, you should see a property called `@microsoft.graph.downloadUrl`. you can do a GET on that URL to download the file, as well. this is essentially what the `/con

[2018-07-23 20:38] espressobeanies commented on #2815
Daspek, thanks for the clarification. I'll have to test this behavior on Postman because my REST script is not providing any output after it runs, especially involving a 302 redirect.

[2018-07-24 08:09] jeevanjaiswalsimpplr commented on #2801
No, even the endpoint shared by you in above email is not sorting the
results.

On Thu, Jun 28, 2018 at 10:49 PM, Jeremy Thake (Microsoft) <
notifications@github.com> wrote:

[2018-07-24 09:12] climam commented on #2841
Do you have any news regarding this issue ?

[2018-07-24 09:57] stevezau commented on #2867
Anyone??

[2018-07-24 14:33] mahpour commented on #2779
It's broken again! now the lookups don't work for single lookups! this is so frustrating!

[2018-07-24 16:01] ificator commented on #2779
Hmm, we haven't made any changes that would have touched this area - we're deliberately being very careful now! Let me quick see if I can spot anything unexpected.

[2018-07-24 16:06] mahpour commented on #2779
It's back up again

[2018-07-24 16:06] ificator commented on #2779
Everything checks out - in the response you should have a `request-id` header and a `date` header... could you provide those for one of the requests that's not doing what you expect? I'll drill in and see what's going on.

[2018-07-24 16:07] mahpour commented on #2779
I'll send you the request-id next time I can catch it. Thanks for quick response!

[2018-07-24 16:34] ificator commented on #2779
Thanks! The fact that it was a transient issue is a little strange - hopefully that means it was a one off and you won't see it again. But if you do definitely let me know ASAP and we'll figure out what's going on.

[2018-07-24 16:34] jthake-msft commented on #2801
Somehow in whatever http stack you're using on your platform its stripping the query string it seems. If its working in Graph Explorer and not in your code, that would be my assumption.

[2018-07-24 16:39] jthake-msft commented on #2459
@sumurthy could you maybe see @davrous repro this as he's internal that would be super useful to this thread...

[2018-07-24 16:43] JeremyKelley commented on #2841
Hi @climam, does asking for other metadata come back successful?  Is it just the thumbnails in particular that are failing?

[2018-07-24 17:09] mahpour commented on #2779
Thanks so much for the quick escalation!

[2018-07-24 18:38] climam commented on #2841
Hi @JeremyKelley, yes only the thumbnails.

[2018-07-24 22:39] jthake-msft commented on #2874
There was an internal incident escalation on this. The issue was resolved last week. I apologize for not coming back to this thread to update here. I know that there was engagement with people on this thread directly via email.

[2018-07-24 22:39] #2874 closed

[2018-07-25 00:08] paylord commented on #2459
@jthake-msft Hey Jeremy, I have the same issue with the charts endpoint but interestingly it works if you go further down that chain. This this works:
https://graph.microsoft.com/v1.0/sites/root/lists/Documents/drive/root/children('Statistics.xlsx')/workbook/worksheets/Hazards/charts('Hazards')/Image(width=400,height=250,fittingMode='fit')

But this does not:
https://graph.microsoft.com/v1.0/sites

[2018-07-25 00:11] jthake-msft commented on #2459
I've had an internal convo with @sumurthy  who's confirmed they can repro this and are now investigating...

[2018-07-25 07:30] Tekki commented on #2826
By the way, for my requirements (reading from and writing to spreadsheets) the API works: https://github.com/Tekki/ivoc4

[2018-07-25 11:20] CaramelHeaven commented on #1151
Hello @bpkennedy. Did you find out what this means?

[2018-07-25 16:18] frankhu1234 opened #2907 "FindMeetingTimes only works with cloud provisioned Accounts."
Issue:  This graph call will only work with cloud provisioned accounts, please update the document to reflect this.  In addition if you can mark all the methods that only work with cloud provisioned accounts that would be beneficial.

Article :https://developer.microsoft.com/en-us/graph/docs/api-reference/beta/api/user_findmeetingtimes

[2018-07-25 18:21] jthake-msft commented on #2833
@aslanovsergey  did this help?

[2018-07-25 18:22] jthake-msft commented on #2842
How did you register your application to obtain a client ID?

[2018-07-25 18:24] jthake-msft commented on #2860
@ArunMSFT  could you confirm whether this is true or not? We probably should update the docs if so.

[2018-07-25 18:40] limefrogyank commented on #2862
Since getting a positive result in Graph Explorer, I tried it in my own app on my Office dev tenancy.  It did not work at all without `Directory.AccessAsUser.All` permission described in the docs.

I think the confusing part is that this permission cannot be requested by the app, but only be enabled by the administrators.  It seems that whether or not you check them off in the Graph Explorer, thos

[2018-07-25 18:42] limefrogyank commented on #2862
So I guess this is not an error in the docs.  The way Graph Explorer gives you a toggle to turn those permissions on/off seems to be meaningless and confusing.  So maybe direct this to the Graph Explorer people...

[2018-07-25 22:34] Shaydoth opened #2909 "Issue with /messages"
Issue:

Microsoft Graph /messages doesn't work as it says it will in the documentation.

Article:

In the documentation for /messages here https://developer.microsoft.com/en-us/graph/docs/api-reference/v1.0/api/user_list_messages it claims that when you make this api call it will, "Get the messages in the signed-in user's mailbox", and the call is located within the mail section of the documentati

[2018-07-25 23:57] jthake-msft commented on #2862
@MIchaelMainer  any help here too?

[2018-07-25 23:58] jthake-msft commented on #2907
Can you explain what you mean by "Cloud provisioned accounts"? Do you mean that the users mailbox needs to be in Exchange Online?

[2018-07-26 00:01] frankhu1234 commented on #2907
Yes, from my understanding there is some sort of issue where componentshard mailboxes won't work properly with these calls. (This call in specific doesn't work properly)

[2018-07-26 00:03] jthake-msft commented on #2868
@daspek can you help here?

[2018-07-26 00:03] #2869 closed

[2018-07-26 00:04] jthake-msft commented on #2907
@ArunMSFT  can you confirm this? because we should definitely update the docs to state this.

[2018-07-26 00:05] jthake-msft commented on #2902
@edwardkoval could you take a look at this docs suggestion please?

[2018-07-26 00:06] #2890 closed

[2018-07-26 00:08] jthake-msft commented on #2894
@ArunMSFT  Do we document this anywhere? because we probably should?

[2018-07-26 00:32] jthake-msft commented on #2892
@ArunMSFT  I couldn't find this in the documentation . Do we have this yet on graph?

[2018-07-26 01:01] angelgolfer-ms commented on #2909
Hi @Shaydoth , when you do GET /users/id/messages, the response includes all the messages in the specified user's mailbox, and that includes messages in folders like Inbox, Sent Items, Deleted Items, etc.
If you want to get only messages that have been sent by the specified user, you should do GET /users/id/mailfolders/sentitems/messages.
Does that help?

[2018-07-26 01:34] Shaydoth commented on #2909
Hey @angelgolfer-ms , unfortunately that does not help. I am well aware of the use of GET /users/id/mailFolders/inbox/messages to access the emails from an exchange account only. This is however, not the problem. The problem lies within the documentation of Microsoft Graph claiming that /users/id/messages returns all of the user's emails. This is evidently incorrect, as it also displays messages f

[2018-07-26 02:50] limefrogyank commented on #2862
`"scp": "Calendars.Read Calendars.ReadWrite Contacts.ReadWrite Files.Read.All Files.ReadWrite Files.ReadWrite.All Mail.ReadWrite Notes.ReadWrite.All openid People.Read profile Sites.ReadWrite.All Tasks.ReadWrite User.ReadBasic.All User.ReadWrite email"`

[2018-07-26 02:55] joewutaiwan opened #2910 "[Outlook] how to get the in-place archive mailbox name"
Hi all,

`GET mailFolders/archivemsgfolderroot`

I use distinguish name to get this in-place mailbox folder
and the response is:
[code]

However, this is not the custom name I modified on office365.
Is it possible to get that custom name?

thanks!

[2018-07-26 03:09] limefrogyank commented on #2862
And when using Postman and stealing the token from Graph Explorer, I can view and edit the extensions.  As you can see, the specific `Directory.AccessAsUser.All` permission is not there.  Is it the case that this permission is the same as another User access permission?  If so, this is entirely not clear from the docs...

[2018-07-26 07:50] angelgolfer-ms commented on #2907
Hi @frankhu1234 , generally production apps that use Outlook REST API should assume user mailboxes are on Exchange Online.
Note that Outlook mail, calendar, and contacts REST API also work for user mailboxes in a hybrid deployment that meets specific [requirements](https://developer.microsoft.com/en-us/graph/docs/concepts/hybrid_rest_support#requirements-for-the-rest-api-to-work-in-hybrid-deployme

[2018-07-26 14:01] frankhu1234 commented on #2907
Okay, that looks beneficial. Thank you for that info. Perhaps each of these outlook methods should have this link included? As a lot of people find the Graph API call through a search engine and never looks through all the side panel information.

[2018-07-26 14:40] ZaMaZaN4iK commented on #2881
@JeremyKelley I am interested in both cases.

[2018-07-26 16:09] jthake-msft commented on #2870
This is not available in the API. You can raise a new [UserVoice request](https://developer.microsoft.com/en-us/graph/support) for this feature and our PMs will take a look at it.

[2018-07-26 16:09] #2870 closed

[2018-07-26 16:13] jthake-msft commented on #2350
closing as questions on #2877

[2018-07-26 16:13] #2350 closed

[2018-07-26 16:14] jthake-msft commented on #2877
@dkershaw10 are you the right PM on delta questions? I think this would be great questions to answer in the docs on this

//cc: @angelgolfer-ms @lleonard-msft

[2018-07-26 16:15] jthake-msft commented on #2878
@ArunMSFT is there a way in the API to do this? I couldn't see it in the docs and couldn't see a property to filter by.

[2018-07-26 16:17] jthake-msft commented on #2879
@ArunMSFT  sorry another one, couldnt' see this filtering either.

[2018-07-26 16:18] jthake-msft commented on #2880
@dkershaw10 could you provide more info on the userType for the docs?

[2018-07-26 16:22] jthake-msft commented on #2882
@ArunMSFT  is this available on Graph yet? I couldn't see it in the docs.

[2018-07-26 16:34] jthake-msft commented on #2889
@dkershaw10 is this a known issue?

[2018-07-26 16:53] jthake-msft commented on #2910
@angelgolfer-ms  is this possible? I can't see custom name mentioned in the docs.

[2018-07-27 02:10] joewutaiwan commented on #2910
Hi @jthake-msft @angelgolfer-ms

Thank you for reply,

Just add some reference:

modify here:
![image](https://user-images.githubusercontent.com/12619781/43297642-1f613b48-9185-11e8-88e7-c4b9b5ed98cf.png)

show here:
![image](https://user-images.githubusercontent.com/12619781/43297612-f9d7f43e-9184-11e8-9d62-25ac5955cafe.png)

[2018-07-27 07:25] joewutaiwan opened #2913 "[Outlook] corrupted mail in mailbox"
Hi all,

Just encounter a situation,
When I list messages using
`GET /mailFolders/id/messages?$top=500`
[code]
found that there is a corrupted mail in this query range

after I found the specific mail from EWS managed API
get the mail again

`GET /mailFolders/id/messages/id`
[code]
And the mail on O365:
![image](https://user-images.githubusercontent.com/12619781/43307567-3244e382-91b1-11e8-982e-72

[2018-07-27 10:30] CaramelHeaven commented on #2659
Hello @kritika28saxena. Have you found any solution how to solve this problem?

[2018-07-27 10:35] Kritika2808 commented on #2659
hey @CaramelHeaven , I tried to connect with Microsoft team also but didn't get any luck there.
So for handling above condition, I have incorporated retrial mechanism.

If I get these errors, I retry the API at regular intervals three times.

It has solved my issue for now.

[2018-07-27 13:24] LiviaMihalce opened #2914 "Can't view messages on Graph Explorer anymore"
Hi All,

Microsoft Graph API currently returns 404 error when I try to access my messages:
GET https://graph.microsoft.com/v1.0/me/messages
Failure - Status Code 404,
{
    "error": {
        "code": "ResourceNotFound",
        "message": "Resource could not be discovered.",
        "innerError": {
            "request-id": "95a3cbbc-e82f-46a8-ae64-73ffcce62de0",
            "date": "2018-07-27T13

[2018-07-27 16:37] ificator commented on #2890
Hi @dzardoya I just wanted to give you a heads up that we're going to be enabling the original change again now that we've fixed the issue you encountered. I've validated that your scenario looks good, but please let us know if you notice anything else weird.

[2018-07-27 17:18] angelgolfer-ms commented on #2914
Hi @LiviaMihalce , Github says it's been 4 hours since you reported the problem. Do you still have the issue? Were you using the sample account or your own account in Graph Explorer?

[2018-07-27 17:57] LiviaMihalce commented on #2914
Hi All,

Issue is fixed now. Thanks a lot for your quick follow-up.

Have a great weekend,
Livia
________________________________
From: Angelgolfer <notifications@github.com>
Sent: Friday, July 27, 2018 8:18:06 PM
To: microsoftgraph/microsoft-graph-docs
Cc: Livia Mihalce; Mention
Subject: Re: [microsoftgraph/microsoft-graph-docs] Can't view messages on Graph Explorer anymore (#2914)

Hi @LiviaMiha

[2018-07-27 20:05] #2914 closed

[2018-07-28 06:43] angelgolfer-ms commented on #2909
Hi @Shaydoth , I think you mean GET /messages responses include the user's chats in Microsoft Teams?
FYI I added this as a [known issue](https://developer.microsoft.com/en-us/graph/docs/concepts/known_issues) under the "Messages" section. Note that it may take up to 24 hours for the documentation site to refresh and display this note.
We hope to remove this note from the docs when the GET messages

[2018-07-28 06:46] #2909 closed

[2018-07-30 06:47] ZaMaZaN4iK opened #2917 "Delete User with Administrator rights with application"
Hello.

According to Microsoft Graph API documentation, it's possible to delete User **without** administrative rights via Graph API with Application permission: https://developer.microsoft.com/en-us/graph/docs/concepts/permissions_reference

My question is: is it possible to delete a user with administrative rights by application? Which rights are necessary for doing this?

Thank you.

[2018-07-30 07:36] dzardoya commented on #2890
Thanks for the update iflicator, I have tried and it keeps working as expected.

regards

[2018-07-30 07:46] ZaMaZaN4iK opened #2918 "Life time of OneDrive downloadUrl"
Hello.

[Here](https://docs.microsoft.com/en-us/onedrive/developer/rest-api/api/driveitem_get_content) specified that `@microsoft.graph.downloadUrl` is valid for a short period of time (a few minutes). Can you specify in the documentation please - what does it mean "a few minutes" for you? 1 minute, 10 minutes, 1 hour or smth else?

Thank you.

[2018-07-30 09:54] ZaMaZaN4iK opened #2920 "How exactly OneDrive search query works"
Hello.

OneDrive supports search query ([link](https://docs.microsoft.com/en-us/onedrive/developer/rest-api/api/driveitem_search)). According to the documentation: ... The query text used to search for items. Values **may be** matched across several fields **including** filename, metadata, and file content.

Can you please describe more precisely, which fields **exactly** are used for search on On

[2018-07-30 15:30] jthake-msft commented on #2879
I've confirmed with the team that this is not available.
@ZaMaZaN4iK could you please create a UserVoice feature request for this so the team can track this?
https://officespdev.uservoice.com/forums/224641-feature-requests-and-feedback/category/101632-microsoft-graph-o365-rest-apis

[2018-07-30 15:30] #2879 closed

[2018-07-30 17:42] jasonjoh commented on #2910
Graph cannot access the in-place archive mailbox, so no this isn't possible.

[2018-07-30 20:33] lleonard-msft commented on #2789
@TC-JSpade - Thanks for the insight.  As I understand it, the Read directory data permission is what allows the internals to verify the license to the feature that the audit logs are reporting on.

There is a chance that things may change in the future, but for now; the Read directory permission is a required element.  If it does change, we'll update the documentation accordingly.

If you have any

[2018-07-30 22:30] mganeshphani opened #2925 "Not able to update PlanID for a task using update task API"
**Issue**: Failure - Status Code 403.. when tried to update PlanId for an existing task using update API. Trying to do this to move the planner tasks from one plan to another using automation and graph API
please see the request id and error info
{
    "error": {
        "code": "",
        "message": "You do not have the required permissions to access this item, or the item may not exist.",

[2018-07-31 05:51] ZaMaZaN4iK commented on #2879
@jthake-msft Thank you. Okay, I will create a feature request of UserVoice portal.

I hope you will try to answer another issues that I have opened.

[2018-07-31 07:06] mrbrennonwilliams opened #2926 "User Photos"
Hi,

I have been trying to get organisational user profile photos. I can see them in graph explorer but am only able to retrieve my own photo when calling into the endpoint from an app.

Have tried everything listed in the docs etc. I suspect this is to do with mailboxes being on premise and not o365? If this is the case, perhaps the docs can be a little more detailed around these subjects?

One o

[2018-07-31 07:53] ZaMaZaN4iK opened #2927 "Got "ErrorQuotaExceeded" for HTTP GET request. Is it normal?"
Hello.

I requested messages for some mailbox with Microsoft Graph API. Request (I removed userId for privacy reason): `GET https://graph.microsoft.com/beta/Users/userId/MailFolders%28%27RecoverableItemsPurges%27%29/messages/delta?%24expand=attachments `

For this request I got as response this:
`ReplyBodyError: { ErrorCode: "ErrorQuotaExceeded", ErrorMessage: "Mailbox has exceeded maximum mailbox

[2018-07-31 08:27] angelgolfer-ms commented on #2873
Hi @Zombaya , I included hasAttachments and added examples (PR #2919 and #2928 ). Hope this will help. As usual, it may take a day or so to have the updates displayed on the live site. Thanks for your support!

[2018-07-31 08:27] #2873 closed

[2018-07-31 08:37] Zombaya commented on #2873
Great work!  I believe those examples will be of great help for people implementing a search-functionality.

[2018-07-31 08:59] ZaMaZaN4iK commented on #2913
I think I got similar issue but with events. When I process request like this one (I replaced userId and calendarId): `GET https://graph.microsoft.com/beta/Users('userId')/calendars('calendarId')/events?$expand=attachments&$top=100&$skip=1500` I got this error:
`ReplyBodyError: { ErrorCode: "ErrorCorruptData", ErrorMessage: "Data is corrupt." }`

1. What is the reason of getting these errors?
2. H

[2018-07-31 11:46] romanSlivinskyi opened #2929 "Add parent site columnLink to a contentType"
`POST https://graph.microsoft.com/v1.0/sites/{site-id}/contentTypes/{contentType-id}/columnLinks`

Adding current site columns works as expected, however when adding columnLink from parent site, fails with such response:

[code]

The body that was sent:

[code]

The endpoint works correctly for both `id` and `name` in request body. (For current site columnLinks)

[2018-07-31 13:31] mrbrennonwilliams opened #2930 "List all organisational users"
Hi,
Coming across scenarios where I can execute on an endpoint in Graph Explorer, but I'm not able to do the same in an application. Ensuring that scopes are correct, and using the same logged in user on both, I am left wondering just what is left that could be different?

Any guidance here would be great.

Cheers

[2018-07-31 15:40] jthake-msft commented on #2913
@ArunMSFT is this expected behavior?

[2018-07-31 15:43] jthake-msft commented on #2925
What scopes do you request in your call? Sounds like you don't have the correct permissions...

[2018-07-31 15:47] jthake-msft commented on #2926
@dkershaw10 can we have some guidance on the hybrid aspects of the graph in the docs specifically around profiles?

[2018-07-31 15:49] jthake-msft commented on #2927
@ArunMSFT @angelgolfer-ms  I couldnt' see anything in our docs here on this . Is there any guidance here?

[2018-07-31 15:56] jthake-msft commented on #2930
Did you admin consent the permissions to list all organizational users? Graph Explorer has a user consent flow and a admin consent flow that is optional.
In a Developer Tools in your browser, you can go to the console tab and type `tokenPlease()` and then use https://jwt.ms to decode it and look at the scopes it is using. You should compare that to your own application.

Ultimately the documentati

[2018-07-31 16:07] jthake-msft commented on #2917
In the documentation for delete user the permissions are listed there https://developer.microsoft.com/en-us/graph/docs/api-reference/v1.0/api/user_delete

[2018-07-31 17:19] mganeshphani commented on #2925
@jthake-msft I am not passing any scopes in my call.. Infact the AAD application has them defined
Group.Read.All
Group.Write.All

Does this API support moving a task from one plan to another plan? by just updating PlanId on a task? or am I using this method for wrong purpose..

[2018-07-31 18:56] ZaMaZaN4iK commented on #2917
@jthake-msft I know about this page, but if you will read the page on provided by me link you will see that described rights give us possibility to create/delete only non-administrative users. My question is about administrative users.

[2018-08-01 01:06] howardcho commented on #1771
I am also having the same issue; I really only need events which have an attendee. I've tried the below queries, which seem to be structured properly:

Request:
`https://graph.microsoft.com/v1.0/me/events?$filter=attendees/any(e:e/type eq 'required')`

Response:
`{
    "error": {
        "code": "ErrorInvalidUrlQueryFilter",
        "message": "The query filter contains one or more invalid nodes."

[2018-08-01 04:44] NBMladenov opened #2931 "Beta resources contain dead links"
Issue:
The property type "[outlookGeoCoordinates](https://github.com/microsoftgraph/microsoft-graph-docs/blob/master/api-reference/beta/resources/outlookGeoCoordinates.md)" is a dead link and needs to be modified to "[GeoCoordinates](https://github.com/microsoftgraph/microsoft-graph-docs/blob/master/api-reference/beta/resources/geocoordinates.md)".

The property type "[emailAddress](https://github

[2018-08-01 06:35] angelgolfer-ms commented on #2931
@NBMladenov , thanks for reporting the link issues. PR #2932 should have fixed them. Please allow up to a day or so for the fix to be refreshed on the live site.
BTW, just to clarify, the first link you reported should be linked to outlookGeoCoordinates, not geoCoordinates. The link problem was that the destination file name had been specified in camel case and should have been all lower case inst

[2018-08-01 06:35] #2931 closed

[2018-08-01 07:55] darrenparkinson commented on #559
Seriously, any further update on this.  It's been TWO YEARS!  Just be honest.  If you're not going to fix it, please just tell us that.  Thanks.

[2018-08-01 08:01] cloud-developer123 opened #2933 "Cannot use "startswith" and "any" about filter query"
Issue:

I want to get user's contact from address by using the forward match like below.
`/v1.0/me/contacts?$filter=emailAddresses/any(a:startswith(a/address,'user'))`

But this returns the following error:

[code]
Does the `filter` support the combination of  `startswith` and `any`?

[2018-08-01 13:17] SergiyKostenko commented on #2502
Is there any plans to fix that?

[2018-08-01 15:31] mlafleur commented on #2933
I'm afraid not. According to the underlying [Outlook API documentation](https://docs.microsoft.com/en-us/previous-versions/office/office-365-api/api/version-2.0/complex-types-for-mail-contacts-calendar#contact), the `EmailAddresses` collection is not filterable.

[2018-08-01 17:16] jthake-msft commented on #2917
@dkershaw10 @lleonard-msft  Dan I'm assuming we do this for a security reason? I think we should probably add to the docs that we explicitly don't support that.

[2018-08-01 17:30] jthake-msft commented on #2927
From an internal discussion, this is expected. If you would like read access to mailboxes that have exceeded quota, please raise that as a feature request. https://officespdev.uservoice.com/forums/224641-feature-requests-and-feedback/category/101632-microsoft-graph-o365-rest-apis

[2018-08-01 17:32] jthake-msft commented on #2925
From the documentation it doesn't look like this is possible https://developer.microsoft.com/en-us/graph/docs/api-reference/v1.0/resources/plannertask

@erayc-msft  can you add any more information here?

[2018-08-01 17:49] ZaMaZaN4iK commented on #2927
Can you add please information about this behavior to the documentation?

[2018-08-01 17:59] jthake-msft commented on #2927
@angelgolfer-ms  would we normally put this in the API ref or somewhere else in docs?

[2018-08-01 21:43] jthake-msft commented on #2925
Thx for clarifying @erayc-msft

@mganeshphani if this is a feature that you desire, can you please submit a request for it on UserVoice? https://officespdev.uservoice.com/forums/224641-feature-requests-and-feedback/category/101632-microsoft-graph-o365-rest-apis

[2018-08-02 07:08] angelgolfer-ms commented on #2894
Hi @ZaMaZaN4iK , FYI I added some general information about deleting the Recoverable items deletions folder in PR #2935. Please take a look if that helps.

[2018-08-02 10:37] ZaMaZaN4iK commented on #2894
@angelgolfer-ms Thanks a lot, but it's not about my question. I asked "How to delete messages from RecoverableItemsDeletions folder via Graph API" , not about "How to delete RecoverableItemsDeletions folder via Graph API". I think it's a little bit different case.

[2018-08-02 12:34] mrbrennonwilliams commented on #2930
Hi,
Thanks for picking this up.
All the scopes you list are being provided in the token request. It would appear to be an issues based around the enterprise management of azure profiles and registered applications.

This is the question the sys admin sent me:
"How does an enterprise Admin, approval/add the admin required permissions, either via the azure portal or via powershell cmdlets"

AFAIK th

[2018-08-02 14:47] nikunj2712 commented on #2131
@jnlkds Were you able to make this work? I am also receiving empty locations array. Here is the request body.
`{
  "attendees": [
    {
      "emailAddress": {
        "address": "Nikunj.Bhagat@outlook.com",
        "name": "Nikunj"
      },
      "type": "Required"
    }
  ],
  "timeConstraint": {
    "timeslots": [
      {
        "start": {
          "dateTime": "2018-07-27T19:26:33.701Z",

[2018-08-02 15:06] jnlkds commented on #2131
Yes,  I got it working.
However, as noted above, it ONLY provides 3 responses.
In your request, clear the locations field NOT to have any locations.

[2018-08-02 16:12] nikunj2712 commented on #2131
@jnlkds Still same after changing locations. Also tried removing `locations` key too, doesn't help.
[code]

[2018-08-02 20:45] aosingh opened #2938 "Slow results from list_attachments API and occasionally returns an error"
The [`list_attachments`](https://developer.microsoft.com/en-us/graph/docs/api-reference/beta/api/message_list_attachments) API is slow torespond and sometimes returns an error message with neither a code or description.

To time the API's response, I triggered it 20 times and then recorded the total time and time per API call, both in seconds.

PFB the `python` script used to test the list attachm

[2018-08-02 22:32] jthake-msft commented on #2925
@angelgolfer-ms what is the standard way to document this given @mganeshphani response above?

[2018-08-02 22:43] jthake-msft commented on #2930
For adding admin consent to an application, you can sign into the Azure Portal and go to Azure Active Directory | Applications. And find the application listed there and grant the permissions. There is more information here https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-v2-scopes#requesting-consent-for-an-entire-tenant and step by step here https://docs.microsoft.

[2018-08-02 23:07] angelgolfer-ms commented on #2927
@jthake-msft , replied you offline. :-)

[2018-08-02 23:38] angelgolfer-ms commented on #2894
Hi @ZaMaZaN4iK , I clarified what I really meant in PR #2939 . :-) Both PRs point to this IT Pro article that might help you: [Clean up or delete items from the Recoverable Items folder](https://docs.microsoft.com/en-us/exchange/policy-and-compliance/recoverable-items-folder/clean-up-deleted-items).
In summary, if a mailbox has been placed on "In-Place Hold" or "Litigation Hold", or has single ite

[2018-08-02 23:53] angelgolfer-ms commented on #2925
I think planId should be removed from the "Request body" section. +@TarkanSevilmis :-)

[2018-08-03 00:06] TarkanSevilmis commented on #2925
Sure, makes sense. I'll prepare a pull request for the change.

[2018-08-03 00:25] JeremyKelley commented on #2881
We don't currently have a way to do this in the Graph APIs.  I would suggest going to User Voice https://sharepoint.uservoice.com/forums/329220-sharepoint-dev-platform and putting the request there so it makes its way onto our backlog.

Thanks!

[2018-08-03 00:36] cloud-developer123 commented on #2933
Thanks for reply.

However, if EmailAddresses property doesn't support "filter", it also should be written in Graph document.

And, I also confirmed that if we used only "any", we could filter it by the following url.
https://graph.microsoft.com/v1.0/me/contacts?$filter=emailAddresses/any(a:a/address eq 'sample')

[2018-08-03 09:48] mrbrennonwilliams commented on #2930
Hi Jeremy,

The set of applications this org is working on are called "converged" apps. The azure portal has not implemented the management of these V2 app graph permissions yet.

Linked from your document, you will note the "limitations" of V2 apps and in particular this line:

https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-v2-limitations

The sys admin found awa

[2018-08-03 10:45] jeevanjaiswalsimpplr commented on #2801
It is not working, neither in graph explorer nor in the code.

I just  want to sort the result returned by below API:
https://graph.microsoft.com/v1.0/drives/{driveId}/root?$expand=children,permissions,versions

and hence I appended &$orderby=createdDateTime desc at the end of it as mentioned in the documentation, but even after appending it returns the same order of results irrespective of the if

[2018-08-03 10:48] jeevanjaiswalsimpplr opened #2940 "Error is shown when we hit preview url for a doc file."
Hi,
Whenever I am trying to preview a doc file i.e file with a `.doc` extension, it is showing below error message. The preview URL works fine for all other extension types, I am facing this issue only with `.doc` type.

Error Message :

[code]

Preview URL :

[code]

[2018-08-03 10:58] jeevanjaiswalsimpplr opened #2941 "Unable to use $filter query param to get list of files/folders owned by me or created last week"
Hi,
I want to apply `$filter` query parameter to retrieve just a subset of a collection returned by below API response.
The response contains a list of files and folders with their `createdBy `and `createdDate ` information. I want to apply `$filter` param in below API to get:

1. Only Files/Folders owned by me
2. Only files/folders created last week.

I tried in Graph Explorer with help of exampl

[2018-08-03 11:57] jeevanjaiswalsimpplr opened #2942 "Duplicate items returned in response for search"
Hi,

Response with id 5 & 7 are the same although the request with id 5 & 7 havedifferent drive ids.
And we are also getting a response with status code `500 `in between.

Opening a ticket with Microsoft graph API.

API:

[code]

Body:

[code]

Response:

[code]

[2018-08-03 13:59] ZaMaZaN4iK commented on #2881
Can you add a remark about it to the documentation please?

[2018-08-03 14:09] ZaMaZaN4iK commented on #2894
@angelgolfer-ms Thank you a lot! And thanks for the updated documentation :-)

[2018-08-03 14:10] ZaMaZaN4iK commented on #2942
Please use code tags for JSON format

[2018-08-03 15:07] mganeshphani commented on #2925
Thankyou Folks, Appreciate it.

[2018-08-03 15:33] mlafleur commented on #2942
I'm afraid I don't understand what you mean by "Response with id 5 & 7 are the same". As best I can tell, requests `3`, `5`, `7`, and `8` are the same (returning an empty result) while requests `2`, `4`, and `6` return files found in the search.

Requests `2` and `6` _do_ have the identical results but this is because they are identical requests:

[code]

[code]

As for the `500` result from your

[2018-08-03 15:48] mlafleur commented on #2933
I agree this information should be revalidated and migrated over to the Graph documentation.

[2018-08-03 16:12] mlafleur commented on #1771
Microsoft Graph doesn't support drilling down multiple levels of relationships like this (`a/emailAddress/address`). You cannot only filter one relationship "hop" from the parent resource.

Also, `contains` itself is not a [supported string operator for `$filter`](https://developer.microsoft.com/en-us/graph/docs/concepts/query_parameters#filter-parameter).

[2018-08-03 16:20] mlafleur commented on #2930
That is correct, v2 applications are currently not managed via the Azure Portal, they are managed via the Application Registration Portal (https://apps.dev.microsoft.com).

To obtain Admin Consent of a v2 App, you need to provide the tenant admin an Admin Consent URL for the application. The prototype for an  Admin URL is `https://login.microsoftonline.com/common/adminconsent?client_id=[APPLICATIO

[2018-08-03 17:08] jthake-msft commented on #2930
@mrbrennonwilliams  sorry I made an assumption here on v1, but yes you are correct if you are doing v2 this is the right way to go that @mlafleur has mentioned.
So you know, there is work currently in flight, after speaking to the Identity team, that will dramatically improve this experience.

[2018-08-03 17:08] #2930 closed

[2018-08-03 17:14] jthake-msft commented on #2801
@JeremyKelley  @daspek any ideas here on why its not sorting?

[2018-08-03 20:48] ificator commented on #2796
Hi @frankie567 this should be fixed now - please let us know if you still have issues.

[2018-08-03 21:33] kninsa commented on #2839
@jthake-msft has there been any resolution on this?  I am experiencing the same issue and am eager to hear any update on what causes it.

[2018-08-03 22:18] angelgolfer-ms commented on #2894
@ZaMaZaN4iK , you are welcome. If it's fine with you, I am going to close this issue. If you have further questions on using DELETE for this purpose, please feel free to reopen the issue.

[2018-08-03 22:18] #2894 closed

[2018-08-05 09:52] frankie567 commented on #2796
Hi @ificator,

It's indeed fixed! Thank you very much for your reactivity :)

Cheers!

François Voron

[2018-08-05 15:54] ificator commented on #2796
Thanks for confirming!

[2018-08-05 15:54] #2796 closed

[2018-08-06 09:06] cloud-developer123 opened #2946 "Convert to pdf from xlsx file over 1MB"
Issue:
I tried to convert a `.xlsx` file that was over 1MB to `.pdf` using the [`content?format`](https://developer.microsoft.com/en-us/graph/docs/api-reference/v1.0/api/driveitem_get_content_format)

However, it returned following error:

[code]

[2018-08-06 11:32] bhushankumarl commented on #2839
@jthake-msft Waiting for it.

[2018-08-06 14:19] kninsa commented on #2839
@ArunMSFT ?

[2018-08-06 18:06] mganeshphani opened #2947 "Permissions for Get User"
Issue: Why do Get User require lot of read-write permissions?

Article: https://developer.microsoft.com/en-us/graph/docs/api-reference/v1.0/api/user_get

Permission type | Permissions (from least to most privileged)
-- | --
Delegated (work or school account) | User.Read, User.ReadWrite, User.ReadBasic.All, User.Read.All, User.ReadWrite.All, Directory.Read.All, Directory.ReadWrite.All, Directory.Ac

[2018-08-06 18:30] mlafleur commented on #2947
I believe you misunderstand how scopes work. Scopes are documented from least to most permissive. You don't need to request all of these scopes (in fact, you absolutely _shouldn't_ do so). You should only request the least permissive scopes that support the functionality you require.

For example, if all you're doing is reading the current user's profile, you only need to request  `User.Read`. If,

[2018-08-06 18:35] mlafleur commented on #2946
Can you please add an example showing how you're calling the API? An error message without context is a little difficult to diagnose.

[2018-08-06 18:38] mganeshphani commented on #2947
@mlafleur thankyou..   so just to read any profile in my org.. I need can use "User.Read.All".. correct?

also once I change my V2 application to reflect the new permissions.. should I wait for a while to get the application work with updated privileges or will it be seamless.. also how do I do a admin consent for V2 application? can you shed some light on this or redirect me to respective documen

[2018-08-06 18:57] lsnider commented on #2153
Think I figured it out.  Curious if it works for others.  Try dropping the $top parameter.  It *seems* like rather then $top controlling how many items to return in each request, it controls how far the API will look through the available items before suggesting it's at the end of the list.

[2018-08-06 19:16] espressobeanies commented on #2815
Yep, confirmed my program wasn't able to accommodate 302 requests and that it was failing to follow the redirect. Thanks all.

[2018-08-06 19:16] #2815 closed

[2018-08-07 01:32] garethj-msft commented on #1402
Can you assign this to manjushm-microsoft  please as she owns the OneNote API.

[2018-08-07 02:50] joewutaiwan commented on #2108
I also encountered this problem, when I list for a event's attachments.

Is it possible that attachment was just corrupted?

[2018-08-07 04:54] cloud-developer123 commented on #2946
We are using api like below.
https://graph.microsoft.com/v1.0/me/drive/items/[item-id]/content?format=pdf

If we set .xlsx file that was over 1MB as [item-id], Microsoft graph api returns error.
If you want, I can share additional information.

[2018-08-07 09:19] ftunholm opened #2948 "Cannot get the assigned users for an assignment"
Hello, I'm trying to use the Microsoft Graph beta API for education. I can't seem to extract which users has been assigned a specific assignment. In best case what I am looking for is to get the user-objects when doing a "listAssignments"-request (https://developer.microsoft.com/en-us/graph/docs/api-reference/beta/api/educationclass_list_assignments).

Issue:
There seems to be some limitations to

[2018-08-07 11:00] dzardoya opened #2949 "Search for DriveItems under Application permissions is not working"
Hi,

We are trying to retrieve all DriveItems in a drive using the Search functionality as described in this article: https://docs.microsoft.com/en-us/onedrive/developer/rest-api/api/driveitem_search

It works fine when executing it on the Graph Explorer website with the following GET call:
https://graph.microsoft.com/v1.0/drives/{DRIVE_ID}/search(q='') under a user account with permissions in thi

[2018-08-07 11:02] dzardoya commented on #2872
Hi!

Any updates on that issue?

Thanks

[2018-08-07 14:15] Shaydoth opened #2950 "Oauth v2 doesn't work with mobile apps"
Issue:

Using oauth v2 in a mobile app to grant access to Microsoft graph permissions does not work.

Article:
In an app I am developing I need to get Microsoft graph permissions from a user, so that they can be used in the app. When you send them to the correct custom url, they are able to sign in and view the permissions that I want to use, but when they try and hit accept it wont redirect them

[2018-08-07 17:47] randalpinto opened #2952 "Update message body incorrect description or API bug?"
Issue: In the description of this API it says that "The body of the message. Updatable only if IsDraft = true." however it is currently possible to update the body of a non-draft message. Is this a documentation error or an API bug?

Article: https://github.com/microsoftgraph/microsoft-graph-docs/blob/master/api-reference/beta/api/message_update.md

[2018-08-07 18:39] lleonard-msft commented on #1975
@dan-silver - Just wanted to let you know that this fix has been checked in and should be public in 24 hours.  Once you confirm that's it public, would you mind closing the issue?

[2018-08-07 18:41] lleonard-msft commented on #2789
@TC-JSpade - Is there more to do for this issue or are we at a point where we can close?

[2018-08-07 18:54] TC-JSpade commented on #2789
Sorry, in my last comment I was trying to say I still don't think it reads very clearly.  The app registration document only seems to indicate that you need the Directory.Read.All if it's a Windows Azure Active Directory app, but I was building a Microsoft Graph app, so I would think it does not apply.  Obviously I would be wrong.

[2018-08-07 18:59] lleonard-msft commented on #2789
I appreciate the feedback.  I'll file a work item to discuss this further internally with my team and we'll see what happens.

[2018-08-07 19:51] dkershaw10 commented on #2917
Not sure what changes are required.  This scenario is not supported (for security reasons) and is implicit in the description of the user.readwrite.all app-only permission:
Allows the app to read and write the full set of profile properties, group membership, reports and managers of other users in your organization, without a signed-in user.  Also allows the app to **create and delete non-administ

[2018-08-07 20:20] ZaMaZaN4iK commented on #2917
We have some application permissions, which restore deleted users, enumerates their messages and delete these users again. And we can't do it for admins.

So, if it impossible... Should I create on User Voice feature request?

[2018-08-07 23:48] dan-silver commented on #1975
Thanks @lleonard-msft!

[2018-08-07 23:48] #1975 closed

[2018-08-08 08:40] midrissi commented on #559
Any updates on this issue? I got the same error with graph explorer.
Here is my decoded token:
[code]
And Here is a preview of the permissions list:
![graph](https://user-images.githubusercontent.com/3237344/43826254-32243200-9af7-11e8-8f6f-1214575c4300.png)

Everytime I run the requet, I get this:
![capture](https://user-images.githubusercontent.com/3237344/43826393-7c54ef40-9af7-11e8-9e58-17ee15

[2018-08-08 10:34] justdevelopment opened #2954 "Sort order of /me/joinedTeams"
The order of Teams appears to have no sort logic when getting a list of teams a user has joined. This is using the new beta endpoint https://graph.microsoft.com/beta/me/joinedTeams

What is the order used, is this simply random? Our end-users would like this order to be by usage (most used teams first) or if that is not possible ordered the same as in the Teams App.
This is not something we can in

[2018-08-09 10:47] ftunholm opened #2957 "Partially created assignment returned by the API"
Issue:
When creating an assignment in Microsoft Teams web application, it seems to be a delay between the creation of the actual assignment and some of it's properties. In our case the following scenario occurs:

Create an assignment and assign it directly in the Teams web application. If a listAssignments (https://developer.microsoft.com/en-us/graph/docs/api-reference/beta/api/educationclass_list

[2018-08-10 16:12] chackman commented on #2949
Could you please provide some more information?
Are you targeting OneDrive Consumer, or OneDrive for Business?
Could you also please provide request ID's and timestamps (in UTC) for your two requests?

Thanks!

[2018-08-10 16:25] chackman commented on #2929
Thanks for your feedback.
Could you please provide the request-id from the failure?
Thanks!

[2018-08-13 05:34] mufsir commented on #559
Any updates on this issue? I'm getting the same 403 error in Graph Explorer.

[2018-08-13 05:59] mtnrbq commented on #559
as per earlier update from @ArunMSFT (June 20) @crchung-MSFT

1. Issue - FindMeetingTimes API is not available in the App only scenario, today it works only in the delegated permissions scenario.

2. Workaround - Currently there are no workarounds available for pure app-only scenarios. You could get access to the API with user-delegated flow

3. Future plans - Our goal is to support this API in th

[2018-08-13 08:14] romanSlivinskyi commented on #2929
I did a new one. "request-id": "0cc92b4c-f387-426b-8fb1-0f5629e17809"

[2018-08-13 09:32] mufsir commented on #559
@ramseen I'm also getting the same error. So I created an app in Azure AD with delegated permission. Can you please help me on the authentication URL format where the user needs to sign in?

[2018-08-13 11:37] mufsir commented on #559
@mtnrbq @ArunMSFT

Can anyone please confirm that this API is supported by **personal Microsoft account**? I tried using graph API v1.0, but no luck. In the [beta API docs](https://developer.microsoft.com/en-us/graph/docs/api-reference/beta/api/user_findmeetingtimes), it is mentioned that this API will only work with Delegated (work or school) accounts.

Thanks,
Mufsir

[2018-08-13 15:39] chackman commented on #2929
Could you please provide the time?  Thanks!
UTC time + request-id pairs would help us investigate.

[2018-08-13 16:06] romanSlivinskyi commented on #2929
A new one. The response is: ```
{
    "error": {
        "code": "itemNotFound",
        "message": "The referenced column does not exist",
        "innerError": {
            "request-id": "52fef0c8-1a5e-4922-88de-85b836834d94",
            "date": "2018-08-13T16:05:08"
        }
    }
}
[code]

[2018-08-13 16:08] JValck opened #2962 "Validity @odata.deltaLink"
Issue:
How long is the `@odata.deltaLink` provided by the delta query valid? One year? Eternal? 30seconds?
Article:
[Track changes for a Drive](https://developer.microsoft.com/en-us/graph/docs/api-reference/v1.0/api/driveitem_delta#permissions)

[2018-08-13 19:27] JoeyVinc opened #2963 "Deleted appointments/occurrencies of a series were not listed"
Issue:
If you request all instances of a seriesmaster you get exceptions and occurencies.
But deleted Appointments were not listed.

If you pull instances from a local Outlook connected to the same O365-account by COM you get a list of exceptions with items flagged by "deleted".
But the REST-API won't send you that Information!

It is mandatory to get the "deleted exceptions" Information as well i

[2018-08-15 09:10] ZaMaZaN4iK opened #2966 "OneDrive: /content endpoint returns Http ResponceCode 0"
Hello.

Now I test Ms Graph API for OneDrive with Graph Explorer. I try to get file content how it's described here: https://docs.microsoft.com/en-us/onedrive/developer/rest-api/api/driveitem_get_content

But for my request I get this:

**Failure - Status Code 0** with responce body:

[code]

More details: I am trying to get content of specific version of DriveItem. I can't find weburl for downloa

[2018-08-15 09:13] ZaMaZaN4iK commented on #2918
@jthake-msft @JeremyKelley any news?

[2018-08-15 15:02] jthake-msft commented on #2920
I'm sorry to have to do this to you, I know you've waited here for an answer. We have a new triage process that our customer experience team are monitoring on our [official channel for questions](https://developer.microsoft.com/en-us/graph/support). This is StackOverflow with 'Microsoft-graph' tag.

I was trying not to close these off here in the documentation GitHub issues repo and get them answe

[2018-08-15 15:02] #2920 closed

[2018-08-15 15:02] jthake-msft commented on #2880
I'm sorry to have to do this to you, I know you've waited here for an answer. We have a new triage process that our customer experience team are monitoring on our [official channel for questions](https://developer.microsoft.com/en-us/graph/support). This is StackOverflow with 'Microsoft-graph' tag.

I was trying not to close these off here in the documentation GitHub issues repo and get them answe

[2018-08-15 15:02] #2880 closed

[2018-08-15 15:02] jthake-msft commented on #2878
I'm sorry to have to do this to you, I know you've waited here for an answer. We have a new triage process that our customer experience team are monitoring on our [official channel for questions](https://developer.microsoft.com/en-us/graph/support). This is StackOverflow with 'Microsoft-graph' tag.

I was trying not to close these off here in the documentation GitHub issues repo and get them answe

[2018-08-15 15:02] #2878 closed

[2018-08-15 15:02] jthake-msft commented on #2877
I'm sorry to have to do this to you, I know you've waited here for an answer. We have a new triage process that our customer experience team are monitoring on our [official channel for questions](https://developer.microsoft.com/en-us/graph/support). This is StackOverflow with 'Microsoft-graph' tag.

I was trying not to close these off here in the documentation GitHub issues repo and get them answe

[2018-08-15 15:02] #2877 closed

[2018-08-15 15:02] jthake-msft commented on #2882
I'm sorry to have to do this to you, I know you've waited here for an answer. We have a new triage process that our customer experience team are monitoring on our [official channel for questions](https://developer.microsoft.com/en-us/graph/support). This is StackOverflow with 'Microsoft-graph' tag.

I was trying not to close these off here in the documentation GitHub issues repo and get them answe

[2018-08-15 15:02] #2882 closed

[2018-08-15 15:02] jthake-msft commented on #2892
I'm sorry to have to do this to you, I know you've waited here for an answer. We have a new triage process that our customer experience team are monitoring on our [official channel for questions](https://developer.microsoft.com/en-us/graph/support). This is StackOverflow with 'Microsoft-graph' tag.

I was trying not to close these off here in the documentation GitHub issues repo and get them answe

[2018-08-15 15:02] #2892 closed

[2018-08-15 15:03] jthake-msft commented on #2918
I'm sorry to have to do this to you, I know you've waited here for an answer. We have a new triage process that our customer experience team are monitoring on our [official channel for questions](https://developer.microsoft.com/en-us/graph/support). This is StackOverflow with 'Microsoft-graph' tag.

I was trying not to close these off here in the documentation GitHub issues repo and get them answe

[2018-08-15 15:03] #2918 closed

[2018-08-15 15:38] lsnider commented on #2913
I've received this on the `https://graph.microsoft.com/v1.0/me/messages/<message-id>` endpoint as well

[2018-08-15 16:00] jthake-msft commented on #2913
I'm sorry to have to do this to you, I know you've waited here for an answer. We have a new triage process that our customer experience team are monitoring on our official channel for questions. This is StackOverflow with 'Microsoft-graph' tag.
I was trying not to close these off here in the documentation GitHub issues repo and get them answered.. It's proving too hard for me to be single point of

[2018-08-15 16:00] #2913 closed

[2018-08-15 16:12] jthake-msft commented on #2938
I'm sorry to have to do this to you. We have a new triage process that our customer experience team are monitoring on our official channel for questions. This is StackOverflow with the 'microsoft-graph' tag.
I was trying not to close these off here in the documentation GitHub issues repo and get them answered. This issues lists is specifically for documentation issues, not the underlying service,

[2018-08-15 16:12] #2938 closed

[2018-08-15 16:12] jthake-msft commented on #2940
I'm sorry to have to do this to you. We have a new triage process that our customer experience team are monitoring on our official channel for questions. This is StackOverflow with the 'microsoft-graph' tag.
I was trying not to close these off here in the documentation GitHub issues repo and get them answered. This issues lists is specifically for documentation issues, not the underlying service,

[2018-08-15 16:12] #2940 closed

[2018-08-15 16:13] jthake-msft commented on #2941
I'm sorry to have to do this to you. We have a new triage process that our customer experience team are monitoring on our official channel for questions. This is StackOverflow with the 'microsoft-graph' tag.
I was trying not to close these off here in the documentation GitHub issues repo and get them answered. This issues lists is specifically for documentation issues, not the underlying service,

[2018-08-15 16:13] #2941 closed

[2018-08-15 16:13] jthake-msft commented on #2942
I'm sorry to have to do this to you. We have a new triage process that our customer experience team are monitoring on our official channel for questions. This is StackOverflow with the 'microsoft-graph' tag.
I was trying not to close these off here in the documentation GitHub issues repo and get them answered. This issues lists is specifically for documentation issues, not the underlying service,

[2018-08-15 16:13] #2942 closed

[2018-08-15 16:13] jthake-msft commented on #2946
I'm sorry to have to do this to you. We have a new triage process that our customer experience team are monitoring on our official channel for questions. This is StackOverflow with the 'microsoft-graph' tag.
I was trying not to close these off here in the documentation GitHub issues repo and get them answered. This issues lists is specifically for documentation issues, not the underlying service,

[2018-08-15 16:13] #2946 closed

[2018-08-15 16:14] #2947 closed

[2018-08-15 16:15] jthake-msft commented on #2948
I'm sorry to have to do this to you. We have a new triage process that our customer experience team are monitoring on our official channel for questions. This is StackOverflow with the 'microsoft-graph' tag.
I was trying not to close these off here in the documentation GitHub issues repo and get them answered. This issues lists is specifically for documentation issues, not the underlying service,

[2018-08-15 16:15] #2948 closed

[2018-08-15 16:15] jthake-msft commented on #2950
I'm sorry to have to do this to you. We have a new triage process that our customer experience team are monitoring on our official channel for questions. This is StackOverflow with the 'microsoft-graph' tag.
I was trying not to close these off here in the documentation GitHub issues repo and get them answered. This issues lists is specifically for documentation issues, not the underlying service,

[2018-08-15 16:15] #2950 closed

[2018-08-15 16:16] jthake-msft commented on #2952
@angelgolfer-ms  can you verify this?

[2018-08-15 16:18] jthake-msft commented on #2957
I'm sorry to have to do this to you. We have a new triage process that our customer experience team are monitoring on our official channel for questions. This is StackOverflow with the 'microsoft-graph' tag.

I was trying not to close these off here in the documentation GitHub issues repo and get them answered. This issues lists is specifically for documentation issues, not the underlying service,

[2018-08-15 16:18] #2957 closed

[2018-08-15 16:19] jthake-msft commented on #2962
@daspek  is it possible to provide this information in the docs?

[2018-08-15 16:32] jthake-msft commented on #2952
This issues list is specifically for documentation content issues. This is not for questions or raising issues on the underlying service, sdks or samples. We have a triage process that our customer experience team are monitoring on our StackOverflow ‘[microsoft-graph](https://stackoverflow.com/questions/tagged/microsoft-graph)’ tag for questions and issues.

[2018-08-15 16:34] randalpinto commented on #2952
@jthake-msft I don't understand why this issue was closed. The documentation says that body cannot be modified whereas if you use the API the body can be modified. So one of them is definitely incorrect.

[2018-08-15 16:37] jthake-msft commented on #2952
I apologize. I have re-opened this. I had too many tabs open in my browser. @angelgolfer-ms  can you verify please?

[2018-08-15 16:41] randalpinto commented on #2952
No worries @jthake-msft, thanks for reviewing.

Btw, if i can cast a vote, I hope that the documentation is incorrect, we have a strong use case for being able to modify the body of an existing message.

[2018-08-15 17:29] jthake-msft commented on #2841
I'm sorry to have to do this to you. We have a new triage process that our customer experience team are monitoring on our official channel for questions. This is StackOverflow with 'microsoft-graph' tag.

I was trying not to close these off here in the documentation GitHub issues repo and get them answered. This issues lists is specifically for documentation issues, not the underlying service, sdk

[2018-08-15 17:29] #2841 closed

[2018-08-15 17:31] jthake-msft commented on #2925
@TarkanSevilmis  was their a Pull request for this, couldn't see it and would like to close the issue.

[2018-08-15 17:31] jthake-msft commented on #2917
Yes, if you can create a UserVoice request that would be appreciated.

[2018-08-15 17:32] #2910 closed

[2018-08-15 17:36] jthake-msft opened #2968 "Hybrid permissions not prominent on api doc pages"
It is not apparent when you land on specific API endpoints whether Hybrid is supported and it does not link off to the page that gives more detail https://developer.microsoft.com/en-us/graph/docs/concepts/hybrid_rest_support#requirements-for-the-rest-api-to-work-in-hybrid-deployments

#2907 issue is one example of this where the developer landing on a FindMeetingTimes API and expected it to work w

[2018-08-15 17:37] jthake-msft commented on #2907
@frankhu1234 I have created a new GitHub issue to track this #2968

[2018-08-15 17:37] #2907 closed

[2018-08-15 17:38] jthake-msft commented on #2889
I'm sorry to have to do this to you. We have a new triage process that our customer experience team are monitoring on our official channel for questions. This is StackOverflow with 'microsoft-graph' tag.

I was trying not to close these off here in the documentation GitHub issues repo and get them answered. This issues lists is specifically for documentation issues, not the underlying service, sdk

[2018-08-15 17:38] #2889 closed

[2018-08-15 17:40] jthake-msft commented on #2881
The documentation won't remark on what we don't do as the documentation would get too verbose and be impossible to manage. It would be assumed that if I was enumerating a collection of Sites, that it would not return deleted ones as they are deleted.
If you can raise a UserVoice for the feature that would be appreciated.

[2018-08-15 17:40] #2881 closed

[2018-08-15 17:40] jthake-msft commented on #2872
I'm sorry to have to do this to you. We have a new triage process that our customer experience team are monitoring on our official channel for questions. This is StackOverflow with 'microsoft-graph' tag.
I was trying not to close these off here in the documentation GitHub issues repo and get them answered. This issues lists is specifically for documentation issues, not the underlying service, sdks

[2018-08-15 17:40] #2872 closed

[2018-08-15 17:44] jthake-msft commented on #2849
I'm sorry to have to do this to you. We have a new triage process that our customer experience team are monitoring on our official channel for questions. This is StackOverflow with 'microsoft-graph' tag.

I was trying not to close these off here in the documentation GitHub issues repo and get them answered. This issues lists is specifically for documentation issues, not the underlying service, sdk

[2018-08-15 17:44] #2849 closed

[2018-08-15 17:45] jthake-msft commented on #2842
Closing due to lack of response.

[2018-08-15 17:45] #2842 closed

[2018-08-15 17:46] #2853 closed

[2018-08-15 17:47] jthake-msft commented on #2839
I'm sorry to have to do this to you. We have a new triage process that our customer experience team are monitoring on our official channel for questions. This is StackOverflow with 'microsoft-graph' tag.
I was trying not to close these off here in the documentation GitHub issues repo and get them answered. This issues lists is specifically for documentation issues, not the underlying service, sdks

[2018-08-15 17:47] #2839 closed

[2018-08-15 17:47] #2833 closed

[2018-08-15 17:47] jthake-msft commented on #2819
I'm sorry to have to do this to you. We have a new triage process that our customer experience team are monitoring on our official channel for questions. This is StackOverflow with 'microsoft-graph' tag.
I was trying not to close these off here in the documentation GitHub issues repo and get them answered. This issues lists is specifically for documentation issues, not the underlying service, sdks

[2018-08-15 17:47] #2819 closed

[2018-08-15 17:49] jthake-msft commented on #2813
This is a feature request. As per the issue template creation process, feature requests should be added to UserVoice. https://developer.microsoft.com/en-us/graph/support

[2018-08-15 17:49] #2813 closed

[2018-08-15 17:50] jthake-msft commented on #2810
I'm sorry to have to do this to you. We have a new triage process that our customer experience team are monitoring on our official channel for questions. This is StackOverflow with 'microsoft-graph' tag.
I was trying not to close these off here in the documentation GitHub issues repo and get them answered. This issues lists is specifically for documentation issues, not the underlying service, sdks

[2018-08-15 17:50] #2810 closed

[2018-08-15 17:51] jthake-msft commented on #2801
I'm sorry to have to do this to you. We have a new triage process that our customer experience team are monitoring on our official channel for questions. This is StackOverflow with 'microsoft-graph' tag.
I was trying not to close these off here in the documentation GitHub issues repo and get them answered. This issues lists is specifically for documentation issues, not the underlying service, sdks

[2018-08-15 17:51] #2801 closed

[2018-08-15 17:54] jthake-msft commented on #2769
@kevklam  were you able to help here?

[2018-08-15 17:54] #2760 closed

[2018-08-15 17:57] jthake-msft commented on #2745
I'm sorry to have to do this to you. We have a new triage process that our customer experience team are monitoring on our official channel for questions. This is StackOverflow with 'microsoft-graph' tag.
I was trying not to close these off here in the documentation GitHub issues repo and get them answered. This issues lists is specifically for documentation issues, not the underlying service, sdks

[2018-08-15 17:57] #2745 closed

[2018-08-15 17:58] jthake-msft commented on #2741
Closing as already on StackOverflow

[2018-08-15 17:58] #2741 closed

[2018-08-15 17:58] jthake-msft commented on #2740
I'm sorry to have to do this to you. We have a new triage process that our customer experience team are monitoring on our official channel for questions. This is StackOverflow with 'microsoft-graph' tag.
I was trying not to close these off here in the documentation GitHub issues repo and get them answered. This issues lists is specifically for documentation issues, not the underlying service, sdks

[2018-08-15 17:58] #2740 closed

[2018-08-15 17:59] kevklam commented on #2769
Unfortunately not, as we do not have a repro case anymore.

Thanks,
Kevin
________________________________
From: Jeremy Thake (Microsoft) <notifications@github.com>
Sent: Wednesday, August 15, 2018 10:54:55 AM
To: microsoftgraph/microsoft-graph-docs
Cc: Kevin Lam; Mention
Subject: Re: [microsoftgraph/microsoft-graph-docs] Sharing links not working according to documentation (#2769)

@kevklam<https

[2018-08-15 18:01] jthake-msft commented on #2609
I'm sorry to have to do this to you. We have a new triage process that our customer experience team are monitoring on our official channel for questions. This is StackOverflow with 'microsoft-graph' tag.
I was trying not to close these off here in the documentation GitHub issues repo and get them answered. This issues lists is specifically for documentation issues, not the underlying service, sdks

[2018-08-15 18:01] #2609 closed

[2018-08-15 18:01] #2610 closed

[2018-08-15 18:02] jthake-msft commented on #2739
I'm sorry to have to do this to you. We have a new triage process that our customer experience team are monitoring on our official channel for questions. This is StackOverflow with 'microsoft-graph' tag.
I was trying not to close these off here in the documentation GitHub issues repo and get them answered. This issues lists is specifically for documentation issues, not the underlying service, sdks

[2018-08-15 18:02] #2739 closed

[2018-08-15 18:03] jthake-msft commented on #2728
@dkershaw10 has this bug fix gone out?

[2018-08-15 18:03] jthake-msft commented on #2720
I'm sorry to have to do this to you. We have a new triage process that our customer experience team are monitoring on our official channel for questions. This is StackOverflow with 'microsoft-graph' tag.
I was trying not to close these off here in the documentation GitHub issues repo and get them answered. This issues lists is specifically for documentation issues, not the underlying service, sdks

[2018-08-15 18:03] #2720 closed

[2018-08-15 18:03] jthake-msft commented on #2719
I'm sorry to have to do this to you. We have a new triage process that our customer experience team are monitoring on our official channel for questions. This is StackOverflow with 'microsoft-graph' tag.
I was trying not to close these off here in the documentation GitHub issues repo and get them answered. This issues lists is specifically for documentation issues, not the underlying service, sdks

[2018-08-15 18:03] #2719 closed

[2018-08-15 18:05] jthake-msft commented on #2699
I'm sorry to have to do this to you. We have a new triage process that our customer experience team are monitoring on our official channel for questions. This is StackOverflow with 'microsoft-graph' tag.
I was trying not to close these off here in the documentation GitHub issues repo and get them answered. This issues lists is specifically for documentation issues, not the underlying service, sdks

[2018-08-15 18:05] #2699 closed

[2018-08-15 18:06] jthake-msft commented on #2685
I'm sorry to have to do this to you. We have a new triage process that our customer experience team are monitoring on our official channel for questions. This is StackOverflow with 'microsoft-graph' tag.
I was trying not to close these off here in the documentation GitHub issues repo and get them answered. This issues lists is specifically for documentation issues, not the underlying service, sdks

[2018-08-15 18:06] #2685 closed

[2018-08-15 18:07] #2659 closed

[2018-08-15 18:08] jthake-msft commented on #2657
I'm sorry to have to do this to you. We have a new triage process that our customer experience team are monitoring on our official channel for questions. This is StackOverflow with 'microsoft-graph' tag.
I was trying not to close these off here in the documentation GitHub issues repo and get them answered. This issues lists is specifically for documentation issues, not the underlying service, sdks

[2018-08-15 18:08] #2657 closed

[2018-08-15 18:10] #2643 closed

[2018-08-15 18:11] jthake-msft commented on #2637
@ArunMSFT  has this been updated? I couldn't see it.

[2018-08-15 18:12] #2624 closed

[2018-08-15 18:13] jthake-msft commented on #2635
Closing because of no repo.

[2018-08-15 18:13] #2635 closed

[2018-08-15 18:16] #2549 closed

[2018-08-15 18:16] #2531 closed

[2018-08-15 18:17] jthake-msft commented on #2530
I'm sorry to have to do this to you. We have a new triage process that our customer experience team are monitoring on our official channel for questions. This is StackOverflow with 'microsoft-graph' tag.
I was trying not to close these off here in the documentation GitHub issues repo and get them answered. This issues lists is specifically for documentation issues, not the underlying service, sdks

[2018-08-15 18:17] #2530 closed

[2018-08-15 18:17] jthake-msft commented on #2528
@jasonjoh  nudge...

[2018-08-15 18:18] jthake-msft commented on #2510
Closing as known issue.

[2018-08-15 18:18] #2510 closed

[2018-08-15 18:25] #2422 closed

[2018-08-15 18:26] jthake-msft commented on #2409
I'm sorry to have to do this to you. We have a new triage process that our customer experience team are monitoring on our official channel for questions. This is StackOverflow with 'microsoft-graph' tag.
I was trying not to close these off here in the documentation GitHub issues repo and get them answered. This issues lists is specifically for documentation issues, not the underlying service, sdks

[2018-08-15 18:26] #2409 closed

[2018-08-15 18:27] jthake-msft commented on #2390
Closing as a known issue and being worked on.

[2018-08-15 18:27] #2390 closed

[2018-08-15 18:27] jthake-msft commented on #2389
I'm sorry to have to do this to you. We have a new triage process that our customer experience team are monitoring on our official channel for questions. This is StackOverflow with 'microsoft-graph' tag.
I was trying not to close these off here in the documentation GitHub issues repo and get them answered. This issues lists is specifically for documentation issues, not the underlying service, sdks

[2018-08-15 18:27] #2389 closed

[2018-08-15 18:28] jthake-msft commented on #2367
I'm sorry to have to do this to you. We have a new triage process that our customer experience team are monitoring on our official channel for questions. This is StackOverflow with 'microsoft-graph' tag.

I was trying not to close these off here in the documentation GitHub issues repo and get them answered. This issues lists is specifically for documentation issues, not the underlying service, sdk

[2018-08-15 18:28] #2367 closed

[2018-08-15 18:30] jthake-msft commented on #2361
I'm sorry to have to do this to you. We have a new triage process that our customer experience team are monitoring on our official channel for questions. This is StackOverflow with 'microsoft-graph' tag.

I was trying not to close these off here in the documentation GitHub issues repo and get them answered. This issues lists is specifically for documentation issues, not the underlying service, sdk

[2018-08-15 18:30] #2361 closed

[2018-08-15 18:30] #2349 closed

[2018-08-15 18:31] jthake-msft commented on #2348
I'm sorry to have to do this to you. We have a new triage process that our customer experience team are monitoring on our official channel for questions. This is StackOverflow with 'microsoft-graph' tag.

I was trying not to close these off here in the documentation GitHub issues repo and get them answered. This issues lists is specifically for documentation issues, not the underlying service, sdk

[2018-08-15 18:31] #2348 closed

[2018-08-15 18:32] jthake-msft commented on #2347
This is a feature request. As per the issue template creation process, feature requests should be added to UserVoice. https://developer.microsoft.com/en-us/graph/support

[2018-08-15 18:32] #2347 closed

[2018-08-15 18:32] jthake-msft commented on #2341
I'm sorry to have to do this to you. We have a new triage process that our customer experience team are monitoring on our official channel for questions. This is StackOverflow with 'microsoft-graph' tag.

I was trying not to close these off here in the documentation GitHub issues repo and get them answered. This issues lists is specifically for documentation issues, not the underlying service, sdk

[2018-08-15 18:32] #2341 closed

[2018-08-15 18:32] #2336 closed

[2018-08-15 18:32] #2326 closed

[2018-08-15 18:36] wobba commented on #2889
@jthake-msft this is fine, but SO is a place for questions, not reporting bugs, as a bug does not have a definitive answer.

[2018-08-15 18:37] jthake-msft commented on #2304
@dkershaw10 did this get updated? can't see this?

[2018-08-15 18:38] jthake-msft commented on #2296
@JuForan is this something your team can review?

[2018-08-15 18:38] jthake-msft commented on #2295
@angelgolfer-ms can you review this?

[2018-08-15 18:39] jthake-msft commented on #2294
This has been done.

[2018-08-15 18:39] #2294 closed

[2018-08-15 18:40] jthake-msft commented on #2293
@jasonjoh we should add this to our backlog to build a react lab and in our merging of 'build your first app' get this done.

[2018-08-15 18:41] jthake-msft commented on #2292
Technically this is not docs. I am tracking this offline as part of our roadmap for Quick Starts.

[2018-08-15 18:41] #2292 closed

[2018-08-15 18:42] jthake-msft commented on #2290
I'm sorry to have to do this to you. We have a new triage process that our customer experience team are monitoring on our official channel for questions. This is StackOverflow with 'microsoft-graph' tag.

I was trying not to close these off here in the documentation GitHub issues repo and get them answered. This issues lists is specifically for documentation issues, not the underlying service, sdk

[2018-08-15 18:42] #2290 closed

[2018-08-15 18:43] jthake-msft commented on #2286
I'm sorry to have to do this to you. We have a new triage process that our customer experience team are monitoring on our official channel for questions. This is StackOverflow with 'microsoft-graph' tag.

I was trying not to close these off here in the documentation GitHub issues repo and get them answered. This issues lists is specifically for documentation issues, not the underlying service, sdk

[2018-08-15 18:43] #2286 closed

[2018-08-15 18:43] jthake-msft commented on #2285
I'm sorry to have to do this to you. We have a new triage process that our customer experience team are monitoring on our official channel for questions. This is StackOverflow with 'microsoft-graph' tag.

I was trying not to close these off here in the documentation GitHub issues repo and get them answered. This issues lists is specifically for documentation issues, not the underlying service, sdk

[2018-08-15 18:43] #2285 closed

[2018-08-15 18:43] jthake-msft commented on #2284
Closing as alreaedy on stackoverflow

[2018-08-15 18:43] #2284 closed

[2018-08-15 18:44] jthake-msft commented on #2283
@garethj-msft  could you look at this or assign to correct person?

[2018-08-15 18:44] jthake-msft commented on #2280
I'm sorry to have to do this to you. We have a new triage process that our customer experience team are monitoring on our official channel for questions. This is StackOverflow with 'microsoft-graph' tag.

I was trying not to close these off here in the documentation GitHub issues repo and get them answered. This issues lists is specifically for documentation issues, not the underlying service, sdk

[2018-08-15 18:44] #2280 closed

[2018-08-15 18:45] jthake-msft commented on #2279
I'm sorry to have to do this to you. We have a new triage process that our customer experience team are monitoring on our official channel for questions. This is StackOverflow with 'microsoft-graph' tag.

I was trying not to close these off here in the documentation GitHub issues repo and get them answered. This issues lists is specifically for documentation issues, not the underlying service, sdk

[2018-08-15 18:45] #2279 closed

[2018-08-15 18:45] jthake-msft commented on #2276
I'm sorry to have to do this to you. We have a new triage process that our customer experience team are monitoring on our official channel for questions. This is StackOverflow with 'microsoft-graph' tag.

I was trying not to close these off here in the documentation GitHub issues repo and get them answered. This issues lists is specifically for documentation issues, not the underlying service, sdk

[2018-08-15 18:45] #2276 closed

[2018-08-15 18:46] jthake-msft commented on #2270
I'm sorry to have to do this to you. We have a new triage process that our customer experience team are monitoring on our official channel for questions. This is StackOverflow with 'microsoft-graph' tag.

I was trying not to close these off here in the documentation GitHub issues repo and get them answered. This issues lists is specifically for documentation issues, not the underlying service, sdk

[2018-08-15 18:46] #2270 closed

[2018-08-15 18:46] #2269 closed

[2018-08-15 18:47] jthake-msft commented on #2268
@JuForan can your team help here?

[2018-08-15 18:47] jthake-msft commented on #2259
I'm sorry to have to do this to you. We have a new triage process that our customer experience team are monitoring on our official channel for questions. This is StackOverflow with 'microsoft-graph' tag.

I was trying not to close these off here in the documentation GitHub issues repo and get them answered. This issues lists is specifically for documentation issues, not the underlying service, sdk

[2018-08-15 18:47] #2259 closed

[2018-08-15 18:47] jthake-msft commented on #2256
I'm sorry to have to do this to you. We have a new triage process that our customer experience team are monitoring on our official channel for questions. This is StackOverflow with 'microsoft-graph' tag.

I was trying not to close these off here in the documentation GitHub issues repo and get them answered. This issues lists is specifically for documentation issues, not the underlying service, sdk

[2018-08-15 18:47] #2256 closed

[2018-08-15 18:47] jthake-msft commented on #2255
I'm sorry to have to do this to you. We have a new triage process that our customer experience team are monitoring on our official channel for questions. This is StackOverflow with 'microsoft-graph' tag.

I was trying not to close these off here in the documentation GitHub issues repo and get them answered. This issues lists is specifically for documentation issues, not the underlying service, sdk

[2018-08-15 18:47] #2255 closed

[2018-08-15 18:48] jthake-msft commented on #2253
@angelgolfer-ms can we confirm this.

[2018-08-15 18:48] jthake-msft commented on #2251
I'm sorry to have to do this to you. We have a new triage process that our customer experience team are monitoring on our official channel for questions. This is StackOverflow with 'microsoft-graph' tag.

I was trying not to close these off here in the documentation GitHub issues repo and get them answered. This issues lists is specifically for documentation issues, not the underlying service, sdk

[2018-08-15 18:48] #2251 closed

[2018-08-15 18:48] jthake-msft commented on #2248
I'm sorry to have to do this to you. We have a new triage process that our customer experience team are monitoring on our official channel for questions. This is StackOverflow with 'microsoft-graph' tag.

I was trying not to close these off here in the documentation GitHub issues repo and get them answered. This issues lists is specifically for documentation issues, not the underlying service, sdk

[2018-08-15 18:48] #2248 closed

[2018-08-15 18:49] jthake-msft commented on #2247
I'm sorry to have to do this to you. We have a new triage process that our customer experience team are monitoring on our official channel for questions. This is StackOverflow with 'microsoft-graph' tag.

I was trying not to close these off here in the documentation GitHub issues repo and get them answered. This issues lists is specifically for documentation issues, not the underlying service, sdk

[2018-08-15 18:49] #2247 closed

[2018-08-15 18:49] #2243 closed

[2018-08-15 18:49] jthake-msft commented on #2241
I'm sorry to have to do this to you. We have a new triage process that our customer experience team are monitoring on our official channel for questions. This is StackOverflow with 'microsoft-graph' tag.

I was trying not to close these off here in the documentation GitHub issues repo and get them answered. This issues lists is specifically for documentation issues, not the underlying service, sdk

[2018-08-15 18:49] #2241 closed

[2018-08-15 18:49] jthake-msft commented on #2240
I'm sorry to have to do this to you. We have a new triage process that our customer experience team are monitoring on our official channel for questions. This is StackOverflow with 'microsoft-graph' tag.

I was trying not to close these off here in the documentation GitHub issues repo and get them answered. This issues lists is specifically for documentation issues, not the underlying service, sdk

[2018-08-15 18:49] #2240 closed

[2018-08-15 18:49] jthake-msft commented on #2239
I'm sorry to have to do this to you. We have a new triage process that our customer experience team are monitoring on our official channel for questions. This is StackOverflow with 'microsoft-graph' tag.

I was trying not to close these off here in the documentation GitHub issues repo and get them answered. This issues lists is specifically for documentation issues, not the underlying service, sdk

[2018-08-15 18:49] #2239 closed

[2018-08-15 18:50] #2232 closed

[2018-08-15 18:50] jthake-msft commented on #2231
I'm sorry to have to do this to you. We have a new triage process that our customer experience team are monitoring on our official channel for questions. This is StackOverflow with 'microsoft-graph' tag.

I was trying not to close these off here in the documentation GitHub issues repo and get them answered. This issues lists is specifically for documentation issues, not the underlying service, sdk

[2018-08-15 18:50] #2231 closed

[2018-08-15 18:50] jthake-msft commented on #2230
I'm sorry to have to do this to you. We have a new triage process that our customer experience team are monitoring on our official channel for questions. This is StackOverflow with 'microsoft-graph' tag.

I was trying not to close these off here in the documentation GitHub issues repo and get them answered. This issues lists is specifically for documentation issues, not the underlying service, sdk

[2018-08-15 18:50] #2230 closed

[2018-08-15 18:50] jthake-msft commented on #2226
@angelgolfer-ms can you assist here?

[2018-08-15 18:50] #2226 closed

[2018-08-15 18:54] jthake-msft commented on #2221
@JuForan could  the events docs be updated to represent this?

[2018-08-15 18:54] jthake-msft commented on #2219
I'm sorry to have to do this to you. We have a new triage process that our customer experience team are monitoring on our official channel for questions. This is StackOverflow with 'microsoft-graph' tag.

I was trying not to close these off here in the documentation GitHub issues repo and get them answered. This issues lists is specifically for documentation issues, not the underlying service, sdk

[2018-08-15 18:54] #2219 closed

[2018-08-15 18:55] jthake-msft commented on #2214
I'm sorry to have to do this to you. We have a new triage process that our customer experience team are monitoring on our official channel for questions. This is StackOverflow with 'microsoft-graph' tag.

I was trying not to close these off here in the documentation GitHub issues repo and get them answered. This issues lists is specifically for documentation issues, not the underlying service, sdk

[2018-08-15 18:55] #2214 closed

[2018-08-15 18:58] jthake-msft commented on #2211
I'm sorry to have to do this to you. We have a new triage process that our customer experience team are monitoring on our official channel for questions. This is StackOverflow with 'microsoft-graph' tag.

I was trying not to close these off here in the documentation GitHub issues repo and get them answered. This issues lists is specifically for documentation issues, not the underlying service, sdk

[2018-08-15 18:58] #2211 closed

[2018-08-15 18:59] jthake-msft commented on #2205
I'm sorry to have to do this to you. We have a new triage process that our customer experience team are monitoring on our official channel for questions. This is StackOverflow with 'microsoft-graph' tag.

I was trying not to close these off here in the documentation GitHub issues repo and get them answered. This issues lists is specifically for documentation issues, not the underlying service, sdk

[2018-08-15 18:59] #2205 closed

[2018-08-15 18:59] jthake-msft commented on #2198
I'm sorry to have to do this to you. We have a new triage process that our customer experience team are monitoring on our official channel for questions. This is StackOverflow with 'microsoft-graph' tag.

I was trying not to close these off here in the documentation GitHub issues repo and get them answered. This issues lists is specifically for documentation issues, not the underlying service, sdk

[2018-08-15 18:59] #2198 closed

[2018-08-15 18:59] jthake-msft commented on #2195
@angelgolfer-ms  who owns this page?

[2018-08-15 19:00] #2188 closed

[2018-08-15 19:00] #2183 closed

[2018-08-15 19:00] jthake-msft commented on #2182
I'm sorry to have to do this to you. We have a new triage process that our customer experience team are monitoring on our official channel for questions. This is StackOverflow with 'microsoft-graph' tag.

I was trying not to close these off here in the documentation GitHub issues repo and get them answered. This issues lists is specifically for documentation issues, not the underlying service, sdk

[2018-08-15 19:00] #2182 closed

[2018-08-15 19:00] #2176 closed

[2018-08-15 19:00] jthake-msft commented on #2170
I'm sorry to have to do this to you. We have a new triage process that our customer experience team are monitoring on our official channel for questions. This is StackOverflow with 'microsoft-graph' tag.

I was trying not to close these off here in the documentation GitHub issues repo and get them answered. This issues lists is specifically for documentation issues, not the underlying service, sdk

[2018-08-15 19:00] #2170 closed

[2018-08-15 19:01] jthake-msft commented on #2169
I'm sorry to have to do this to you. We have a new triage process that our customer experience team are monitoring on our official channel for questions. This is StackOverflow with 'microsoft-graph' tag.

I was trying not to close these off here in the documentation GitHub issues repo and get them answered. This issues lists is specifically for documentation issues, not the underlying service, sdk

[2018-08-15 19:01] #2169 closed

[2018-08-15 19:01] jthake-msft commented on #2163
I'm sorry to have to do this to you. We have a new triage process that our customer experience team are monitoring on our official channel for questions. This is StackOverflow with 'microsoft-graph' tag.

I was trying not to close these off here in the documentation GitHub issues repo and get them answered. This issues lists is specifically for documentation issues, not the underlying service, sdk

[2018-08-15 19:01] #2163 closed

[2018-08-15 19:01] jthake-msft commented on #2162
@ArunMSFT ?

[2018-08-15 19:02] jthake-msft commented on #2161
I'm sorry to have to do this to you. We have a new triage process that our customer experience team are monitoring on our official channel for questions. This is StackOverflow with 'microsoft-graph' tag.

I was trying not to close these off here in the documentation GitHub issues repo and get them answered. This issues lists is specifically for documentation issues, not the underlying service, sdk

[2018-08-15 19:02] #2161 closed

[2018-08-15 19:02] jthake-msft commented on #2157
I'm sorry to have to do this to you. We have a new triage process that our customer experience team are monitoring on our official channel for questions. This is StackOverflow with 'microsoft-graph' tag.

I was trying not to close these off here in the documentation GitHub issues repo and get them answered. This issues lists is specifically for documentation issues, not the underlying service, sdk

[2018-08-15 19:02] #2157 closed

[2018-08-15 19:03] jthake-msft commented on #2156
@garethj-msft is this being looked at?

This is a feature request out side of scope of docs improvements.

As per the issue template creation process, feature requests should be added to UserVoice. https://developer.microsoft.com/en-us/graph/support

[2018-08-15 19:03] #2156 closed

[2018-08-15 19:03] #2153 closed

[2018-08-15 19:04] jthake-msft commented on #2152
I'm sorry to have to do this to you. We have a new triage process that our customer experience team are monitoring on our official channel for questions. This is StackOverflow with 'microsoft-graph' tag.

I was trying not to close these off here in the documentation GitHub issues repo and get them answered. This issues lists is specifically for documentation issues, not the underlying service, sdk